[2019-03-28 10:01] sansnom commented on #590
@raylapse not yet. Need someone to merge https://github.com/docsifyjs/docsify/pull/714.

[2019-03-29 08:01] lvyongfeng commented on #797
我也有同样的问题，图片在 markdown 中是居中的，渲染成 HTML 网站后，就全部居左了。希望可以支持居中配置，谢谢！

[2019-03-29 08:05] lvyongfeng commented on #797
I also have the same problem. The image is centered in markdown. After rendering it into an HTML website, it is all left. I hope to support the central configuration, Thank you!

[2019-03-29 08:07] BrikerMan commented on #797
已解决，自己自定义一个 renderer 就好了。具体在 index.html 加上下面代码

[code]

[2019-03-29 08:07] #797 closed

[2019-03-31 06:16] upupming commented on #603
I really hope `docsify` can always improve, there are so many issues need to be resolved now. A comparison of docsify and vuepress:
- veupress: 98 open issues, 829 closed issues
- docsify: 159 open issues, 399 closed issues
Without support from the maintainers, people may lose confidence in docsify.

[2019-03-31 08:37] timaschew commented on #603
Continue the discussion here from #802 because it's not really related to the pull request

If you need permission to post, please let me know your npm account.

No worries ;) But it's a pity that you're leaving.
Let's see how far we can bring docsify ;)

Please add [jhildenbiddle](https://www.npmjs.com/~jhildenbiddle) and [timaschew](https://www.npmjs.com/~timaschew) for the npm modules.

[2019-03-31 08:46] QingWei-Li commented on #603
@timaschew

Now you have the publishing permission for [docsify](//npm.im/docsify) [docsify-cli](//npm.im/docsify-cli)  [docsify-server-renderer](//npm.im/docsify-server-renderer)

[2019-03-31 15:02] geongeorge opened #803 "Sidebar does not update"
I tried clearing cache and everything. The _sidebar stays the same in production no matter what I do.
In Incognito, it's changing.
I guess it's not stored in local storage because I've cleared it like 10 times now.
https://i.imgur.com/dZg47cJ.png

When I do `docsify serve .` it's updated live. But not on live version

[2019-04-01 09:32] nothingrandom opened #804 "How can I initialise docsify on a later request"
If I want to delay the init of docsify to then trigger it on my own terms, is that possible?

[2019-04-02 17:27] Velliz commented on #579
+1 wondering if this can be provided in docsify...

[2019-04-02 18:44] timaschew commented on #804
You can delay loading the docsify script.

[2019-04-02 21:24] timaschew commented on #603
@jhildenbiddle you've an invitation for the core team.

[2019-04-03 06:48] youngda commented on #259
请问下怎么解决的？

[2019-04-03 09:27] nothingrandom commented on #804
Hmm, presuming you're suggesting I use a `setTimeout`?

Not quite what I want. I've got two window components in the same index.html, one for Vue and one for docsify. Vue is handling the whole of my app, including auth. I need to pass the auth token to docsify from Vue and then "start" docsify, because starting it before I have the auth token passed as a header gives me a 404 request (expected for

[2019-04-03 10:18] timaschew commented on #804
You Can try something like this: https://github.com/docsifyjs/docsify/blob/d80aa2189b07b375be1d0df5b071ed0931f247ef/test/_helper.js#L42-L59

[2019-04-05 11:31] VonSub opened #806 "Embed with sidebar hidden"
Trying to embed without the full sidebar showing, but just the hamburger toggle button.
Is that possible?

[2019-04-05 14:00] sundowndev commented on #763
What was the solution please ?

[2019-04-05 14:07] upupming commented on #763
See https://docsify.js.org/#/cover?id=multiple-covers
just use a sub folder!

[2019-04-05 17:55] timaschew commented on #804
Of course this is ugly any maybe even doesn't work for you since some of the function might not be expoed.

I will implement a single function which will be exposed to init docsify. In the config you can disable automatic initialization

[2019-04-05 20:13] psamim opened #808 "Map path to route dynamically"
Hi,

I have some markdown files in `/docs/en/`. The links in these files are relative like `contribute`. Can I make Docsify to go to `/docs/en/contribute` when this link is clicked? Now if someone clicks on the link it will go to `/contribute` as if the links are absolute.

Thanks

[2019-04-05 20:15] psamim opened #809 "Display html files"
Hi,

Can some files be `html` (and not `md`)? So that Docsify display them without converting them.

Thanks

[2019-04-05 20:28] wjhrdy commented on #582
Just confirming that there is no fix for this.

[2019-04-06 08:51] cyrilf opened #810 "autoHeader not compatible with plugins that write before md content"
`autoHeader` looks for the first node in `#main` and if it's an `h1` then it does nothing, if not it will create the auto header.
Fine.

The issue arises when using any plugin writing content **before** the user defined markdown.
A plugin like ["Edit this Page" link plugin](https://github.com/cyrilf/docsify-edit-link) for instance.

`autoHeader` doesn't detect my `H1` (because the edit link is fir

[2019-04-07 20:23] #590 closed

[2019-04-09 08:21] oakgary commented on #795
@BeamerIsHere did you have any success? we have the same issue

[2019-04-09 14:43] persevereVon opened #812 "Some errors occurred during the first run of the project"
1. `git clone https://github.com/docsifyjs/docsify.git`
2. `npm run bootstrap && npm run dev`
3. ![image](https://user-images.githubusercontent.com/3402811/55809361-58e11700-5b18-11e9-821e-e9f22a1439f7.png)
4. The reason for the problem is that there is no `themes` directory
5. Add `themes` directory to the root, problem solved

[2019-04-10 03:55] llwor94 commented on #704
i'm having the same issue... anyone have any luck?

[2019-04-10 05:39] hifocus commented on #812
The thing is, why don't you just run `docsify init ./docs`?

[2019-04-10 14:04] persevereVon commented on #812
@hifocus Sorry, the documentation tells me to run `npm run bootstrap && npm run dev`.

[2019-04-10 14:05] hifocus commented on #812
If you only want to setup a docsify, use `docsify init ./docs`.

But you looks like trying to do the development work. My misunderstanding, I do apologise.

[2019-04-10 16:49] Brumstar opened #814 "Can't Scroll On Pages"
Hi everyone,

I'm just started to build out my documentation with docsify, which is very beautiful by the way. However, I noticed that I can't scroll on the pages that I create. I can navigate only by clicking the links in the sidebar. Is there some configuration that I am missing to make scrolling pages possible? Clearly, this is not an issue on the actual docsify site but it is on my generated p

[2019-04-10 17:22] Brumstar commented on #814
Apparently the presence of this  **<script src="https://cdn.jsdelivr.net/npm/docsify@4"></script>** in my index.html led to the no scrolling issue. Putting this here in case anyone ever runs into this, and closing.

[2019-04-10 17:22] #814 closed

[2019-04-11 01:58] persevereVon commented on #812
@hifocus Yes, my expression is problematic.

[2019-04-11 11:58] zhukunpenglinyutong opened #815 "我打算开发一个不依赖md，而是依赖数据的 Docsify 版本可以么"
Docsify 是一个很美丽的库，还有一些周边，这点非常试用于我目前的博客系统的文章页面的渲染，但是可惜的是，Docsify的定位是，提供静态站点，需要通过.md方式来进行渲染，我所需要的是可以通过数据来渲染的库，而我了解到，Docsify是基于 Marked.js来做的，这就给我有了机会，让我可以改变一下 Docsify 中读取md文档的方法，改为API数据读取，好的效果就是，不影响其他功能，周边的第三方框架还都可以使用，不多说了，开始做了

[2019-04-12 10:32] ripperhe opened #816 "本库升级之后，使用本库的网页是不是不需要做什么？"
本库升级之后，使用本库的网页是不是不需要做什么，就能享受升级的效果？

[2019-04-13 13:29] timaschew commented on #816
Please use English language.

[2019-04-13 13:29] #816 closed

[2019-04-13 13:30] timaschew commented on #815
Please use English language.

[2019-04-13 13:30] #815 closed

[2019-04-13 13:30] timaschew commented on #800
Please use English language.

[2019-04-13 13:30] #800 closed

[2019-04-13 13:30] #726 closed

[2019-04-13 13:43] #812 closed

[2019-04-13 13:44] timaschew commented on #719
Not reproducible or fixed

[2019-04-13 13:44] #719 closed

[2019-04-13 13:45] timaschew commented on #703
Please use English language.

[2019-04-13 13:45] #703 closed

[2019-04-13 13:45] timaschew commented on #701
Please use English language.

[2019-04-13 13:45] #701 closed

[2019-04-13 13:46] timaschew commented on #699
Please use English language.

[2019-04-13 13:46] #699 closed

[2019-04-13 13:46] timaschew commented on #621
Please use English language.

[2019-04-13 13:46] #621 closed

[2019-04-13 13:46] timaschew commented on #616
Please use English language.

[2019-04-13 13:46] #616 closed

[2019-04-13 13:46] timaschew commented on #589
Please use English language.

[2019-04-13 13:46] #589 closed

[2019-04-13 13:46] timaschew commented on #566
Please use English language.

[2019-04-13 13:46] #566 closed

[2019-04-13 13:46] timaschew commented on #550
Please use English language.

[2019-04-13 13:46] #550 closed

[2019-04-13 13:46] timaschew commented on #503
Please use English language.

[2019-04-13 13:46] #503 closed

[2019-04-13 13:47] timaschew commented on #505
Please use English language.

[2019-04-13 13:47] #505 closed

[2019-04-13 13:47] timaschew commented on #467
Please use English language.

[2019-04-13 13:47] #467 closed

[2019-04-13 13:47] timaschew commented on #467
Please use English language.

[2019-04-13 13:47] timaschew commented on #444
Please use English language.

[2019-04-13 13:47] #444 closed

[2019-04-13 13:47] timaschew commented on #443
Please use English language.

[2019-04-13 13:47] #443 closed

[2019-04-13 13:47] timaschew commented on #436
Please use English language.

[2019-04-13 13:47] #436 closed

[2019-04-13 13:47] timaschew commented on #411
Please use English language.

[2019-04-13 13:47] #411 closed

[2019-04-13 13:47] timaschew commented on #397
Please use English language.

[2019-04-13 13:47] #397 closed

[2019-04-13 13:47] timaschew commented on #316
Please use English language.

[2019-04-13 13:47] #316 closed

[2019-04-13 13:47] timaschew commented on #252
Please use English language.

[2019-04-13 13:47] #252 closed

[2019-04-13 13:47] timaschew commented on #251
Please use English language.

[2019-04-13 13:47] #251 closed

[2019-04-13 13:48] timaschew commented on #573
Please use English language.

[2019-04-13 13:48] #573 closed

[2019-04-13 13:48] timaschew commented on #486
Please use English language.

[2019-04-13 13:48] #486 closed

[2019-04-13 15:42] timaschew commented on #809
HTML without html and body tags?

[2019-04-13 15:45] timaschew commented on #808
I think that was fixed by #714
I will deploy a new version soon.

[2019-04-13 18:33] timaschew commented on #803
Please provide steps to reproduce.

[2019-04-13 18:34] timaschew commented on #806
You want to hide the sidebar initially (on page load)?

[2019-04-13 22:08] timaschew commented on #603
@QingWei-Li How do I deploy new changes to https://docsify.js.org ?

[2019-04-14 00:21] QingWei-Li commented on #603
Merge code to master and run `npm run pub`

Anton Wilhelm <notifications@github.com> 于 2019年4月14日周日 06:08写道：

[2019-04-14 04:28] psamim commented on #809
No, standard HTML.

I know we can embed HTML into markdown but sometimes it has indent problems or small issues. I wanted to know if there is way to just render the HTML file without any markdown conversion.

For example Docusaurus (and others) has this [feature](https://docusaurus.io/docs/en/custom-pages#adding-static-pages):

[2019-04-14 09:08] timaschew commented on #603
The **release.sh** is just deploying docsify to npm.
But how are the html and md files deployed?

[2019-04-14 09:20] QingWei-Li commented on #603
Just merge code to master branch. The docs website now contains now content.

Anton Wilhelm <notifications@github.com> 于 2019年4月14日周日 17:09写道：

[2019-04-14 09:27] timaschew commented on #603
But that means if I merge md files (docs) to master they are immediately updating docsify.js.org but the md files which describes a feature are not published to npm.

To keep docs and code aligned that means I need to publish a new version every time I merge something to master?

[2019-04-14 09:51] QingWei-Li commented on #603
The best way is to create a develop branch, only merge the branch to master when the new version is released.

[2019-04-14 09:57] timaschew commented on #603
Yes, I was thinking the same. Thanks.

[2019-04-14 11:34] flitdu opened #819 "搜索按钮试了好多种方法都不成功，怎么添加呢？？（根本不能搜索，好奇怪）"
https://flitdu.github.io/ml-note

index.html如下：
https://github.com/flitdu/ml-note/blob/master/docs/index.html

[2019-04-14 18:56] #819 closed

[2019-04-15 01:59] keer6 commented on #621
Is there any way to configure the document directory on the left to be collapsible?

[2019-04-15 05:32] geongeorge commented on #803
1. Make a documentation
2. Add a side bar in _sidebar.md
3. open in the browser
4. Make some changes
5. Changes are updated in live hot reload server but not when loading directly

I have tried multiple ways like clearing the cache and even in incognito changes are not reflected

[2019-04-15 05:51] jthegedus commented on #803
@geongeorge Are you able to provide a reproduction on codesandbox.io? Here's a template https://codesandbox.io/s/xv36w4695o

[2019-04-15 07:44] VonSub commented on #806
@timaschew yes, that is indeed the idea. So people can find it, but initially will read included information.

[2019-04-15 13:28] lukasmrtvy opened #821 "gitlab-corner as option to github-corner"
Any plan to implement gitlab-corner as option to github-corner ?
Link:
https://gitlab-corners.bryce.io/

[2019-04-15 16:27] melloware commented on #582
I would also like to see this fixed.

[2019-04-16 00:05] jthegedus commented on #821
I would like to see this. Maybe it can be implemented as a plugin?

[2019-04-16 00:09] jhildenbiddle commented on #821
Should be an easy addition.

Currently the GitHub icon is displayed when the [`repo`](https://docsify.js.org/#/configuration?id=repo) option is set. We could just check for the existence of "gitlab.com" in the `repo` value and display a GitLab icon instead. We'd need a new SVG file as well, obviously.

[2019-04-16 02:54] xiaohao890809 opened #822 "搜索功能无效呢？ search function doesn't work"
[code]
点击搜索功能，输入关键字，都是找不到结果呢？

[2019-04-16 03:15] xiaohao890809 commented on #819
please add
<script src="//cdn.jsdelivr.net/npm/docsify@latest/lib/plugins/search.min.js"></script>
in the end

[2019-04-16 06:47] timaschew commented on #822
Issue template was not used

[2019-04-16 06:47] #822 closed

[2019-04-16 06:48] timaschew commented on #819
Please use issue template

[2019-04-16 07:05] wll8 commented on #704
It seems that the examples on `[docsify-ssr-demo](https://github.com/docsifyjs/docsify-ssr-demo)` are incomplete and incorrect.
I don't know why.

I don't know how [https://docsify.now.sh/ssr](https://docsify.now.sh/ssr) is implemented.

[code]

[code]

[2019-04-16 09:56] #793 closed

[2019-04-16 10:13] timaschew commented on #798
Seems to be related to graalvm.

[2019-04-16 10:13] #798 closed

[2019-04-16 10:15] timaschew opened #823 "docsify 4.x roadmap"
@docsifyjs/core
Before releasing 5.0 we should improve on some topics.

### v4.x

This list is open for discussion.

- [x] Agree to drop IE 10 support. Support is only available for IE 11
- [x] Remove `lib` directory from version control
- [x] find bugs which should be fixed before 5.0 and attach **4.x** milestone to them
- [x] fix selected bugs
- [ ] improve test coverage
- [x] setup browser test

[2019-04-16 14:17] rbpclub commented on #582
I think I've made a fix at least for tables based on @saioared code I'll submit a pull request.

[2019-04-16 14:18] melloware commented on #582
Awesome thank you.

[2019-04-16 17:23] jhildenbiddle commented on #798
Looks like a java-related issue. macOS doesn't ship with Java pre-installed, so this may just be a matter of installing the Java SDK.

Try the following:

[code]

If you don't have java installed, macOS will display a prompt with a "More Info..." button that will take you to a Java SDK install page.

[2019-04-16 17:26] jhildenbiddle commented on #823
Thanks for taking this on, @timaschew. My plate is pretty full at the moment, but I'm happy to help out on specific areas upon request. Once more time becomes available, I can be more proactive about contributing. Until then, just let me know if/when you can use a hand.

[2019-04-17 06:44] feaswcy commented on #158
How is this stuff going on?  I did't find any useful information somewhere else..

[2019-04-18 10:58] melloware commented on #582
@rbpclub Any update on this PR?  I am really interested in getting this feature in.

[2019-04-18 13:35] wjhrdy commented on #582
Hey Sorry, I just realized I commented from an alt account. I am working on the PR.

[2019-04-18 13:52] wjhrdy commented on #582
https://github.com/docsifyjs/docsify/pull/824

[2019-04-21 14:34] kayaui commented on #803
same issue...

[2019-04-21 17:09] jhildenbiddle commented on #475
How this is different from the existing pagination plugin listed here:

* https://github.com/imyelo/docsify-pagination

[2019-04-22 08:23] davestewart commented on #475
I've no idea! It's been ages since I looked at the code or docsify.

[2019-04-22 08:24] davestewart commented on #475
All the code is here:

- https://github.com/davestewart/vuex-pathify/blob/develop/docs/assets/js/plugins.js

Looks like keyboard navigation is also in there.

[2019-04-23 06:21] chenfj068 opened #825 "python3 not supported"
[code]

[2019-04-23 06:21] timaschew commented on #779
Which milestone for this issues? 4.x or 5.x

[2019-04-23 06:28] jhildenbiddle commented on #779
Depends on how important you think this is. My preference would be to focus on getting the repo up-to-date (PRs, IE compatibility, triaging issues, etc.) for the next release (4.x) and push enhancements (like this) off to the following release.

[2019-04-23 06:35] #825 closed

[2019-04-23 06:39] timaschew commented on #809
If Docsify should not touch them at all then you cannot **display** it with docsify.

You can serve the HTML just with any static HTTP server.

[2019-04-23 06:42] timaschew commented on #803
Please create a new issue using the new template.

[2019-04-23 06:42] #803 closed

[2019-04-23 06:42] timaschew commented on #789
Closing due to inactivity.

[2019-04-23 06:42] #789 closed

[2019-04-23 06:46] timaschew commented on #795
I'm not able to reproduce it. Please create a new issue using the issue template if you have still the problem.

[2019-04-23 06:46] #795 closed

[2019-04-23 06:48] #786 closed

[2019-04-24 03:22] randyguogithub commented on #704
The same error found, even upgrade to the latest version of docsify

[2019-04-25 05:49] wang-zc commented on #411
@zengtianyu1215
我也碰到了和你一样的情况，查了一下网上有一个老哥已经解决了，自己添加css貌似就可以实现了

https://github.com/RamblerW/python3/commit/db60d90fda58e57aec71d6bf6f0e177d0d4823c6

[2019-04-25 07:59] stilleshan commented on #740
I have the same problem.

Looking forward to someone to help

[2019-04-25 15:42] Gab0o777 commented on #603
Hey guys, first of all, awesome project you have here and would be a shame to see it die.  I find the current issues really important for development and am very interested in joining the team and help contribute. What's the current state of the project?

[2019-04-25 16:08] upupming commented on #603
@Gab0o777 Thanks, I am really glad to hear that!
Let me clarify the situation now. @QingWei-Li is the creator of this project, but he is too busy to maintain this project, and now @timaschew has taken over it. They have proposed discussed the v5.0 roadmap at https://github.com/docsifyjs/docsify/issues/657 before, there are many nice features and good considerations. But they found there are too ma

[2019-04-26 06:30] rodrigobdz opened #826 "Website and readme link indirectly to showcase"
## Bug Report
- [Readme](https://github.com/docsifyjs/docsify/tree/bc1d8e4bda335226e40bc47c2c3a70b6ae7b9525#showcase) links to [awesome-docsify](https://github.com/docsifyjs/awesome-docsify) instead of linking directly to [showcase section](https://github.com/docsifyjs/awesome-docsify#showcase) in awesome-docsify.
- [Website](https://docsify.js.org/#/?id=examples) links to showcase section in read

[2019-04-26 07:01] #826 closed

[2019-04-27 11:51] reinkepatrick opened #828 "Embed Files - random order of headers in sidebar"
## Bug Report
I have a docsify page with subpages by the `_sidebar.md`, this is hosted via GitHub pages. I wanted to separate the one page by embed files.  Now I have the problem that the order of the points in the sidebar changes randomly, these points are not the ones in the `_sidebar.md` but are generated by the headers. When I reload web page then the whole page is empty.

#### Steps to reprod

[2019-04-28 09:57] psamim commented on #809
I mean some parts are markdown files some are plain HTML files.

[2019-04-28 09:58] psamim commented on #809
If they were all HTML files, you were right, any static HTTP server would do it.

[2019-04-28 10:55] timaschew commented on #809
You can files for docsify: https://docsify.js.org/#/configuration?id=nocompilelinks

[2019-04-28 10:55] #809 closed

[2019-04-29 13:46] VagnerDomingues opened #829 "Emoji is killing datetime"
![emoji :01: ](https://user-images.githubusercontent.com/5666881/56824178-1f085400-682c-11e9-8510-749713a993e3.png)

emoji :01: is breaking formatted datetime :cry:  i couldn't find an option to ignore them.

[2019-04-29 20:08] timaschew commented on #829
Template was not used.

[2019-04-29 20:08] #829 closed

[2019-05-03 13:26] billhennessy commented on #624
Anyone know if this being addressed by another issue? We need to be able to deep link from our product to the corresponding documentation, and this issue prevents that use case.

[2019-05-03 16:45] mkiddTempus opened #831 "NPM does not have 4.9.2 as latest version"
## Bug Report
Latest version of docsify is not available through npm.

#### Steps to reproduce
I ran `npm update` and it only updated to 4.9.1.

#### What is current behaviour
relativePaths are not available.

#### What is the expected behaviour
able to use latest version of docsify

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node

[2019-05-04 15:11] timaschew commented on #831
It was not published with the `latest` tag yet. But with the `next` tag.

[code]

[2019-05-04 21:15] jhildenbiddle commented on #624
@billhennessy --

Can you provide a link to a site or create a demo (stackblitz.com and codesandbox.io work well) that reproduces the issue?

I've followed the steps to reproduce on the following two pages:

* https://docsify.js.org/#/configuration?id=namelink
* https://jhildenbiddle.github.io/docsify-themeable/#/customization?id=copy-code

On both sites, the header in question is positioned at th

[2019-05-05 13:05] timaschew opened #832 "Make release script more robust"
## Bug Report

#### Steps to reproduce

RELEASE_TAG=next ./build/release.sh

#### What is current behaviour

docsify-server-renderer was published to npm
but not docsify nor it was pushed to github

#### What is the expected behaviour

check all packages before publishing
check repository (if fast-forward is possible) before pushing to github or publishing to np,
either all packages should be publ

[2019-05-05 13:08] timaschew opened #833 "Remove version from coverpage"
## Feature request

#### What problem does this feature solve?

coverpage is changing in git for each release

#### What does the proposed API look like?

omit the version from coverpage or render directly from package.json (with a plugin?)

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

[2019-05-06 05:13] #831 closed

[2019-05-06 13:19] billhennessy commented on #624
John,

Thanks for the help.

My prototype site is at https://suspicious-lumiere-d001c9.netlify.com/#/

<https://suspicious-lumiere-d001c9.netlify.com/#/>
A <https://suspicious-lumiere-d001c9.netlify.com/#/>nd this site is heavy
on images, so your suspicion is probably a good one.

Thanks!

On May 4, 2019 at 16:15:31, John Hildenbiddle (notifications@github.com)
wrote:

@billhennessy <https://githu

[2019-05-07 04:16] gluons opened #835 "Respect `externalLinkTarget` for GitHub Corner"
## Bug Report

Link target of [`repo`](https://docsify.js.org/#/configuration?id=repo)'s GitHub Corner should respect [`externalLinkTarget`](https://docsify.js.org/#/configuration?id=externallinktarget) config.

#### Steps to reproduce

Set `repo` config and click GitHub Corner link.

#### What is current behaviour

Open repo in current window/tab.

#### What is the expected behaviour

Open repo i

[2019-05-07 23:04] jrappen commented on #833
Compare the png image with npm version info via <https://shields.io> as in the <https://github.com/docsifyjs/docsify#readme> header for a dynamically generated one.

[2019-05-07 23:11] jrappen commented on #832
It might help rolling back to the previous use of a mono-repo for development for all repos of the <https://github.com/docsifyjs> organisation. I found the the creation of separate repos for translations and the server-renderer with trying to coordinate development of all things docsify related ... but maybe it's me.

Having a look at <https://github.com/vuejs/vuepress/blob/master/scripts/release.

[2019-05-07 23:21] jrappen commented on #823
Using the service worker example from the docs, docsify now loads docs for the current translation only. This is possibly related to search only working for the current translation only as well (which was completely broken a short while back as discussed in jhildenbiddle/docsify-themeable#18 and worked across translations before that). Is there any reason for this?

[2019-05-08 15:21] Koooooo-7 commented on #833
As for me , the version on coverpage leaned  on the icon , seems more comfortable:dog:
To be honest , it dones't matter whether remove it  or retain  it  on  another way .
Cos I can  edit  the coverpage  and I actually changed it  to what I want .

[2019-05-08 23:15] mkiddTempus opened #836 "Mermaid integration is broken"
## Bug Report
Provided examples do not render when used in markdown file using mermaid 7.1.2 (install defaults to 8.0.0 by mistake it seems) and docsify 4.8.6.
#### Steps to reproduce
Have a docsify site that uses a navbar and sidebar, provide the

#### What is current behaviour
A graph definition like:
[code]
 renders as plain text instead of a graph.

#### What is the expected behaviour
Mermaid

[2019-05-08 23:21] mkiddTempus commented on #836
Issue is the docs themselves as they don't show to wrap the intended SVG text in a div but the mermaid docs do here: https://mermaidjs.github.io/usage.html

[2019-05-08 23:21] #836 closed

[2019-05-09 01:48] jinguowu opened #837 "用了mermaid左侧菜单定义的sidebar加载不出来了"
## Bug Report

#### Steps to reproduce

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn version:
- Browser version:
- Docsify version:
- Docsify plugins:

[2019-05-09 02:06] jinguowu opened #838 "sidebar stops working when we call mermaid,sidebar define type is md"
## Bug Report

#### Steps to reproduce

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn version:
- Browser version:
- Docsify version:
- Docsify plugins:

[2019-05-09 03:04] #838 closed

[2019-05-09 03:04] #837 closed

[2019-05-09 20:55] timaschew opened #839 "Rebase via a comment"
## Feature request
Integrate rebase feature: https://github.com/sschuberth/rebase

#### What problem does this feature solve?
Keep PRs up to date

#### What does the proposed API look like?
See the link

#### How should this be implemented in your opinion?
See the link

#### Are you willing to work on this yourself?
Yes

[2019-05-09 22:04] wjhrdy opened #840 "fuzzy search using Fuse.js"
## Feature request

#### What problem does this feature solve?
Improves search to include [approimate string matching](https://en.wikipedia.org/wiki/Approximate_string_matching).
Also addresses #529 in the way I've implemented it.

#### What does the proposed API look like?
No changes are made outside the `search()` function

#### How should this be implemented in your opinion?
As a replacement fo

[2019-05-10 12:46] VagnerDomingues commented on #829
@timaschew i think i didn't understand what you said...

but in the case you said that it was because i'm using different stylesheets i tested the issue in another docsify page project that i own that is pretty much a docsify.js running in raw state to prove that this is a bug.

![image](https://user-images.githubusercontent.com/5666881/57528040-9c8d9300-7307-11e9-8760-021f2ca95eb0.png)

what i ne

[2019-05-10 14:22] Shineeeee opened #843 "I wanna open the repository page of GitHub in new tab"
## Feature request
Open in new tab when set true to `openNewTab` key of `window.$docsify`

#### What problem does this feature solve?
Currently, open in currently tab when we click SVG of GitHub Corners.
But I wanna open the repository page of GitHub when at that time.

#### What does the proposed API look like?
We'll be able to open the repository page of GitHub in new tab by using this API.

###

[2019-05-12 04:50] Koooooo-7 commented on #843
Hi,
the issues  seems like #835  .
and I tried to fix it #842  .

if you just wanna  change the corner, I think it  would  work  for you :smiley:

Just import  your own `docsify.js` instead of
` <script src="//unpkg.com/docsify"></script>`
 `<script src="//unpkg.com/docsify/lib/docsify.min.js"></script>`

change the `docsify.js `  like this

add the ` target=\"_blank\" ` into this function `corner

[2019-05-12 05:25] Koooooo-7 commented on #603
It's not a good news...

Indeed ,we  should not let  the awesome project  be abandoned.
The  9000+ starts  indicates that  the project is powerful .
Docsify is amazing !

Although  I'm not skilled  in  JS ,  I would like to help contribute within the scope of my ability.

@upupming
Hey  bro , Why Not You ! :muscle:

[2019-05-12 05:46] upupming commented on #603
@Koooooo-7 Thanks for your encouragement, but I'm not very experienced, either. I am still learning front end development and willing to contribute to docsify~

[2019-05-13 02:50] timaschew commented on #829
You have deleted the GitHub issue template.

[2019-05-13 02:54] timaschew commented on #603
FYI: I am currently on vacation for some weeks. So I won’t contribute so much I guess.
But from June I will have lot of time to work on docsify.

[2019-05-13 03:04] timaschew opened #845 "Translations are out of sync"
## Bug Report

#### Steps to reproduce
Change code which affects the API, even small and backward compatible changes.

#### What is current behaviour
The author will probably update only the English documentation. Even if the author has another native language it’s annoying to do the change in another repository.

That means non English translations are most time out of sync with the codebase and

[2019-05-13 03:38] jinguowu opened #846 "repo Support gitlab？"
## Feature request

#### What problem does this feature solve?

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

[2019-05-13 07:42] Koooooo-7 commented on #846
Hi,you can  set   `repo : 'https://your_gitlab_url'`   to link your gitlab repo,
but the corner's icon is still Github , this configuration  would be enhanced  soon .

[2019-05-13 08:16] jinguowu commented on #704
The same error found, even upgrade to the latest version of docsify  4.3

[2019-05-13 08:21] jinguowu commented on #846
I set it up, but there is no dynamic pull，why？

[2019-05-13 08:27] jinguowu opened #847 "docsify-ssr-demo local 'indexOf' error,The latest version of docsify"

[2019-05-13 09:02] Koooooo-7 commented on #845
:rofl: :rofl: :rofl:  take it easy .
you can  update only English document ,if possible.
and find  some  contributors to  translate it   .
 On non-English translations'  pages , you can set the header/footer  ( in their native language) like
 `This document is  just for reference , the document in English is latest !`

BTW : enjoy your vocation :small_airplane: .

[2019-05-13 09:15] timaschew commented on #846
Issue template was not used/filled

[2019-05-13 09:15] #846 closed

[2019-05-13 09:16] timaschew commented on #847
Issue template was not used

[2019-05-13 09:16] #847 closed

[2019-05-13 10:57] marisk commented on #828
This may be directly related to #791

[2019-05-14 02:30] adrianoresende opened #849 "[VUE] How to import component"
## Bug Report

If I add code to import a component, I get an error `Uncaught SyntaxError: Unexpected identifier`

![image](https://user-images.githubusercontent.com/798755/57667703-f37ebb00-75da-11e9-9ee5-9ea0d06fc1d5.png)

#### Steps to reproduce
With tutorial: https://docsify.js.org/#/vue
And add `  import MyButton from './MyButton'`

[code]
MyButton.js
[code]
#### What is current behaviour

Com

[2019-05-15 02:02] adrianoresende commented on #849
@timaschew

[2019-05-15 02:29] chris-79 commented on #658
_Bump_

We _need_ this

[2019-05-15 13:06] VagnerDomingues commented on #829
###Expected Behavior
people should be able to write hourly periods with seconds in datetime objects representation in their documents, which means writing twice double dots between a number like this...    ` :01: `

###Actual Behavior
A emoji is appearing in the middle of datetime

###Steps to reproduce
Write a datetime with `:01:` in horly period

[2019-05-15 19:41] rilc0n opened #850 "How to add images from root?"
For example, I have 2 folders in the root directory. There is a picture in the first folder (images).

The second folder (docs) contains the markdown file.

How do I insert an image into this markdown file that is located in the folder (images).

If I put it this way:

`![](/images/testimage.jpg)`

He tries to add it like this:

`/docs/images/testimage.jpg`

[2019-05-16 08:36] timaschew commented on #850
Use https://docsify.js.org/#/configuration?id=relativepath

[2019-05-16 10:17] darkhan opened #852 "Customize HTML (add header, footer)"
I tried to add custom HTML to index.html, but it looks like I need to re-write all CSS to make it visible or maybe I just didn't find how?

[2019-05-16 17:57] rilc0n commented on #850
This changes the links but not the path to pictures. Am I doing something wrong?

[2019-05-17 17:12] rilc0n commented on #695
I have the same problem...

[2019-05-20 13:00] Shineeeee commented on #843
Hi

THKU !!
I'll try it.

[2019-05-20 13:18] Koooooo-7 commented on #852
Hi, I think   the  [Write a Plugin](https://docsify.js.org/#/write-a-plugin) of Docsify documentation   could help u.

[2019-05-21 13:58] VagnerDomingues opened #853 "Emoji killing datetime"
## Bug Report

#### Steps to reproduce

Just Write a datetime with `:01:` in hourly period anywhere in the documentation.

#### What is current behaviour

An emoji is appearing in the middle of datetime like the image below:

![image](https://user-images.githubusercontent.com/5666881/57528040-9c8d9300-7307-11e9-8760-021f2ca95eb0.png)

#### What is the expected behaviour

People should be able to w

[2019-05-22 06:54] uwings commented on #415
it worked.    but ....  ` ':size=xxx'  `  is dead

[2019-05-22 07:34] QingWei-Li commented on #602
We can set the `cache-control` header on request.

https://docsify.js.org/#/configuration?id=requestheaders

[code]

[2019-05-22 07:34] #602 closed

[2019-05-22 22:46] klangwiedergabe commented on #314
Can you expand the documentation on this Matter?
I'm really interest in having an Oauth on a Docsify project, but I just don't get it.

[2019-05-26 13:37] Koooooo-7 commented on #853
Hi ,
 the bug is a little bit funny :rofl: 。
it seems wrong to parse datetime  as emoji  syntax  `:emoji:`
I think  it should work that   making   datetime  in  the code syntax , add  \` 。
\` 2019-05-06 10:11:12\`

[2019-05-27 15:11] Maxou44 commented on #579
I'm hyped by this feature too ✌
Do you think it's easy to support?

[2019-05-28 11:50] PengHoliday opened #855 "How to get the compiled index.html?"
I use docsify to generate a static html file in our website, so how can I get the compiled index.html instead of the whole project?

[2019-05-28 16:35] aoblet commented on #620
Any news ?

[2019-05-30 06:40] albertoalonso commented on #740
Same problem...

[2019-05-30 09:03] xiaohao890809 opened #857 "two articles share the same search content..."
## Bug Report
I have two articles developed by docsify, when I search the content in one article, then I search the same content in another different article, the result appears too. Why?

#### Steps to reproduce

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.j

[2019-05-30 13:39] shawntabrizi opened #858 "Support custom classes on "Embed Files" feature"
## Background

I am working on a plugin for Docsify which allows it to be used as a tutorial/playground for developers.

Plugin: https://github.com/shawntabrizi/docsify-codeview

Example: https://www.shawntabrizi.com/substrate-collectables-workshop/#/1/storing-a-value

To do this, I take advantage of the "Embed Files" feature to load code into the page, and then my custom plugin can detect that co

[2019-05-30 17:06] shawntabrizi commented on #858
I have successfully:
* updated the regular expression which parses the custom text for embedding files
* stored the "additional classes" into the `config` object which is passed around
* brought support for `:lang` syntax which is aligned with other attributes available in embedded files
    * does not break existing syntax
* added support for `additional_classes` in the html rendered for the embe

[2019-05-31 04:00] Q-Angelo commented on #550
@wzpan
reference: https://www.nodejs.red/#/tools/docsify

[2019-05-31 12:20] wzpan commented on #550
@Q-Angelo
Yes I've solved this. Thanks.

[2019-06-03 10:33] L3au opened #860 "`loadSidebar: true` doesn't work well when script src doesn't contain `docsify.`"
## Bug Report

#### Steps to reproduce

I create a bug showcase as below to reproduce this.

https://l3au.github.io/assets/docsify/

#### What is current behavior

`loadSidebar: true` config doesn't work

#### What is the expected behavior

Make it work even when the script url doesn't contain `docsify.` by the following ways

- fix `document.currentScript` using
- improve config fields coercion

[2019-06-04 13:30] filipgoc commented on #603
I'm not even using Docsify, but I am happy it's not dead yet. Kudos to everyone here involved for keeping the conversation civil and productive and ultimately reaching a positive outcome (light at the end of the tunnel).

[2019-06-05 03:39] L3au commented on #756
+1 Fully support this switch!

Thanks for jhildenbiddle/docsify-themeable#12 valuable info, the main reason I choose jsDelivr is it's
better accessibility in [China](https://github.com/jsdelivr/jsdelivr#china) with fast and reliable file delivery.

[2019-06-06 13:49] bibbs commented on #795
@BeamerIsHere
It looks as if you forgot to enable the sidebar option.
Doing so, and putting links to all docs you want to have indexed into your _sidebar.md is required for the search to work.

[2019-06-07 11:09] FreeLonChan opened #863 "About Favicon"
I want to know how to add my favicon.ico to the title

It can be displayed locally in win10, but not on github.
How I can solved it,My English is awful

[2019-06-07 13:20] #863 closed

[2019-06-07 13:52] designermonkey opened #864 "Sidebar to generate subheadings for custom sidebar files"
## Feature request

I want to use the auto generated feature of sidebars but with custom sidebar files. Having all the sub headings present is a great feature, but with custom sidebars, we lose that.

This should be limited to the current active link, so as to look like an open accordion style table of contents.

#### What problem does this feature solve?

It would allow better looking navigation.

[2019-06-07 14:58] designermonkey commented on #864
Oh wait, this happens on your docsify.js.org website...

How come it doesn't work any time I try it? I will have to try to find out.

[2019-06-07 15:04] designermonkey commented on #864
Right so I missed this:

[code]

I think some more explicit examples in the docs would help here.

[2019-06-07 15:04] #864 closed

[2019-06-08 15:27] aenniw opened #865 "Embedded files doesn't resolve relative links"
## Bug Report

Docsify doesn't resolve relative links in embedded markdown files correctly. Whenever MD file contains any relative link instead of file content user just gets `Not found 404` error.

#### Steps to reproduce
`README.md`
[code]

`task/README.md`
[code]
`task/crosswords.png`

#### What is current behaviour

Link to `crosswords.png` points to `/crosswords.png`

#### What is the expecte

[2019-06-10 00:55] ruanzy opened #868 "display html segment ？"
## Feature request

#### What problem does this feature solve?

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

[2019-06-10 13:31] mrsnax commented on #43
same here, no results at all :(

[2019-06-10 17:47] VagnerDomingues commented on #853
i can't escape it like that because it'll loose original css styling which is made for ease readings,
i'm using it like this:

![image](https://user-images.githubusercontent.com/5666881/59214952-7b31f800-8b8e-11e9-90e2-4c3258e74081.png)

i just wanted to disable emoji feature because it will never be used in this documentation and it's already on production... cheers!

[2019-06-10 20:40] #868 closed

[2019-06-10 20:48] timaschew commented on #850
Hmm, it’s maybe a bug

[2019-06-12 15:00] jnv commented on #821
Hey, 👍  for this feature. However, since the GitLab is often self-hosted, just checking for `gitlab.com` will miss these cases. Perhaps it could be a configuration option to pick the icon.

Also having a generic Git icon in case the ribbon cannot be inferred from URL would be a nice fallback.

[2019-06-18 06:42] VagnerDomingues commented on #853
please if anyone could help i'd be very thankfull..

you can check it on production here:
https://fairlay.com/api/#/public/?id=examples

[2019-06-19 07:38] JUNWOO45 opened #871 "Korean Translate"
Hi!🤗
I finished translating in Korean.
I checked issue #484 , but I didn't understand 100%.
I've made a repo.
https://github.com/JUNWOO45/docsify-kr

What should I do from now on?

[2019-06-19 20:05] loverajoel commented on #704
Same here, any update?

[2019-06-20 15:17] Koooooo-7 commented on #871
WOW ,it is awesome !
According to  the  #484  , you can  deploy your document site by yourself,
then , make a PR to [there](https://github.com/QingWei-Li/docsify/blob/master/docs/_navbar.md) (add a  link in the `_navbar.md`) as well.
but , I find the Spanish docs's address  is `https://docsify-es.js.org/#/` now .
you'd better wait for the Maintainer .:smile:

[2019-06-21 04:28] CoderFeiSu commented on #695
I have the same problem...

[2019-06-22 14:56] waruqi commented on #415
这种改动 影响太广，就不能加个 配置来控制下么，可以让用户强制切回相对于basepath，使用相对于basepath下的image路径 需求还是很大的。。

这边打算迁移到docsify 但是很多文档已经使用了 相对于 basepath的 images，为了兼容已有的文档，以及现有对外输出的links，不能改动原有的image path结构。。

折腾了好久，还是没有找到很好的方式 处理这个。。

另外 alias路径 对于 image path 似乎也不行，只能处理 #/ 格式的 path alias

[2019-06-26 03:25] ddzy commented on #860
same problem

[2019-06-28 04:38] L3au commented on #860
@timaschew @QingWei-Li
Hi guys, would you be available to review this problem, I have given a solution to this issue #861.

Thanks for the consideration. Please let me know if you have any other questions.

[2019-07-01 15:12] obernardovieira commented on #43
Within `<body>` there's a `<script src="//unpkg.com/docsify/lib/docsify.min.js"></script>`, add `<script src="//unpkg.com/docsify/lib/plugins/search.js"></script>` after that. It worked for me.

[2019-07-02 07:14] oren opened #872 "Hide the navbar"
## Feature request

#### What problem does this feature solve?
Some sub sections of my website don't need navbar at all. I created a new project with the init command and all I have is this:
[code]
but the navbar is showing. I don't need navbar for every section of my website.

#### What does the proposed API look like?
I don't know. This might be a bug or I just don't know how to use the existing

[2019-07-03 15:46] Lowgain opened #873 "Issue using headers with custom id in search"
## Bug Report

#### Steps to reproduce

- Create a heading using a custom id, for instance:
[code]

- Enable the search module, and search for a term that returns this content (eg. "great")

#### What is current behaviour

The heading is returned including the `:id=great` portion, and the id in the URL is incorrect (instead of `?id=great`, it includes `?id=great-heading-idgreat`

![image](https://

[2019-07-04 02:06] oren commented on #872
I think currently the sidebar is always visible. I assume that based on this line:
https://github.com/docsifyjs/docsify/blob/develop/src/core/render/tpl.js#L49

[2019-07-04 11:01] oren opened #875 "There should be an option to make a header not clickable"
## Feature request

#### What problem does this feature solve?
Not all the headers need to be clickable. It's confusing when a user click on a link and nothing happened. Example: https://oren.github.io

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

[2019-07-04 11:02] oren opened #876 "Only one link in the navbar is underlined"
## Bug Report

#### Steps to reproduce
1. https://oren.github.io/#/articles/zeronet/
1. Notice that the navbar have two links. only one of them is underlined.

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn version:
- Browser version:
- Do

[2019-07-04 18:11] oren commented on #872
I worked around it by hiding and showing the icon based on the location.hash. Dirty but works:
[code]

[2019-07-04 19:36] filipgoc commented on #865
I second the problem. This makes embeds useless unless everything is plain text with no media.

Is this a bug or a limitation?

Is there a way to handle this with aliases in the index file? (I tried, but unsuccessfully.)

[2019-07-04 19:38] filipgoc commented on #695
Me too.

[2019-07-04 19:38] filipgoc commented on #865
This is a duplicate of the very old https://github.com/docsifyjs/docsify/issues/695, but this issue contains more info and a formatted example.

[2019-07-04 20:52] filipgoc opened #877 "When `relativePath: true`, even absolute paths are for icons in sidebar are resolved as relative."
## Bug Report
When `relativePath: true`, absolute paths are for icons in sidebar are resolved as relative.

#### Steps to reproduce

Set `relativePath: true`

[code]

In the both  _sidebar files, I have `- [![](/assets/home.svg)Home](/ "Home")`

#### What is current behaviour

While the link gets resolved as absolute (👍 ),
for images,
the data-origin is correct (👍 ), but the img scr is _relative_

[2019-07-05 16:29] filipgoc commented on #865
This really messes up my workflow. If anyone has any ideas for a workaround (not even thinking of a fix, just a hack), please. Any suggestions welcome!

[2019-07-05 21:54] filipgoc commented on #865
Ok I have a workaround. Phew. It's NOT a fix, but it makes it workable; with a bit of manual work.

**Add relative symlinks to all the relevant directories and files.**

In the most simple case, let's say I have `assets` folder where all the images are stored.

I can add a symlink to this folder with the same name, and the relative links resolve correctly (through the symlink).

I have tested it a

[2019-07-06 14:26] raydied4 commented on #603
hope it will be better。

[2019-07-09 02:31] msi-matthew opened #878 "`This site can’t be reached Error` in IIS"
## Bug Report

#### Steps to reproduce

1. Host docsify project in Windows IIS

#### What is current behaviour

Browser returns

This site can’t be reached docs.domain.com’s server IP address could not be found.

#### What is the expected behaviour

Project to load like when `docsify serve` is run

#### Other relevant information

- [X] Bug does still occur when all/other plugins are disabled?

-

[2019-07-09 05:58] ghouman opened #879 "search show html when MD have html"
## Bug Report
search show html
#### Steps to reproduce
1. open chrome and access https://faq.isolarcloud.com/
2. input 25 to seach
3. the result contain html

#### What is current behaviour
the result contain html
![image](https://user-images.githubusercontent.com/6038779/60862873-893c6c80-a251-11e9-83f6-012b48f9a395.png)

#### What is the expected behaviour
the result not contain html

#### Other

[2019-07-10 14:14] odirleiborgert commented on #524
I used this
[code]

[2019-07-11 15:33] Wsine commented on #728
I wrote a small solution this afternoon, although it may waste more calcuation resource.

[code]

there is also a live demo. => https://wsine.github.io/blog

[2019-07-11 15:37] Wsine commented on #621
I wrote a small solution this afternoon, see #728

[2019-07-11 15:37] Wsine commented on #616
I wrote a small solution this afternoon, see #728

[2019-07-11 16:23] mlms13 commented on #722
The bug in `marked` has been fixed, but docsify is still depending on an outdated version. Merging #862 would be much appreciated, thanks!

[2019-07-12 06:39] qazzyl opened #882 "How to change markdown parser"
## Feature request

Can I change parser from marked to markdown-it. I really need the footnote features.

[2019-07-14 15:08] lKingl opened #883 "The sidebar does not generate automatically when loadSidebar is not set, but Chinese document said it will auto generate"
## Bug Report
The sidebar does not generate automatically when loadSidebar is not set, but Chinese document said it will auto generate
#### Steps to reproduce
Chinese doc:
定制侧边栏
默认情况下，侧边栏会根据当前文档的标题生成目录。也可以设置文档链接，通过 Markdown 文件生成，效果如当前的文档的侧边栏。
English doc:
Sidebar
In order to have sidebar, then you can create your own _sidebar.md (see this documentation's sidebar for an example):

#### What is curr

[2019-07-15 03:01] #883 closed

[2019-07-15 03:51] lalaithan opened #885 "Broken image at the bottom of README.md"
## Bug Report

#### Steps to reproduce
Visit README.md with Chromium Version 75.0.3770.90 (Official Build) Built on Ubuntu , running on LinuxMint 19.1 (64-bit)

#### What is current behaviour
There's a broken image symbol instead of showing the FOSSA status badge

#### What is the expected behaviour
FOSSA status badge should be shown.

#### Other relevant information

- [ ] Bug does still occur wh

[2019-07-17 05:57] gotodoit opened #886 "table can't work when i use order list"
## Bug Report
table can't work when i use order list
#### Steps to reproduce
[code]
#### What is current behaviour
![image](https://user-images.githubusercontent.com/10516736/61350403-fd05f700-a899-11e9-8309-c24c2d3039e8.png)

#### What is the expected behaviour

![image](https://user-images.githubusercontent.com/10516736/61350372-eeb7db00-a899-11e9-9e72-31a62ea61337.png)

#### Other relevant info

[2019-07-17 06:30] gotodoit commented on #731
请问之后怎么解决的？我也遇到这个问题

[2019-07-17 06:32] gotodoit commented on #731
@RamblerW  请问之后怎么解决的？我也遇到这个问题

[2019-07-24 15:29] tiptronic commented on #877
While I understand your intention (and you're right), here's a small note:
But both of the mentioned paths are absolute paths:
- /subfolder/assets/home.svg
- /assets/home.svg

they simple start at a different root-directory. A relative path would ideally start with an './' (or even without a slash).

This is an important feature, because otherwise it's cumbersome to link from one .md to the conten

[2019-07-25 09:15] zhangskills commented on #731
same problem

[2019-07-26 08:47] berot3 commented on #882
This was already asked in #789. I would like to add here some more reasons for markdown-it.

1. docute seems to have it? ;) https://github.com/egoist/docute-markdown-it
2. marked does not have many [features](https://marked.js.org/#/USING_ADVANCED.md)
3. markdown-it has many plugins, see this screenshot for example below.
<details><summary>screenshot</summary>
<p>

![screen](https://raw.githubuser

[2019-07-26 15:01] VagnerDomingues commented on #853
so... no way to get rid of emojis?

[2019-07-30 18:51] msi-matthew opened #888 "Block highlight lost when printing from Chrome"
## Bug Report

#### Steps to reproduce

Print document from Chrome

#### What is current behaviour

Code block highlighting is lost when printing document

<img width="404" alt="Screen Shot 2019-07-30 at 1 50 14 PM" src="https://user-images.githubusercontent.com/36428623/62156622-fc755380-b2d0-11e9-9c45-cdfe24d609b9.png">

#### What is the expected behaviour

<img width="806" alt="Screen Shot 2019

[2019-07-30 19:03] xmedeko opened #889 "Template ul ol margin must be for the firts list level only"
#### Steps to reproduce
Create nested lists, e.g.
[code]
And use template buble or dark.

#### What is current behaviour
buble and dark templates define `ul, ol` margin as `margin 1.2em 0` and it's applied for the nested `ul, ol` too, which is not right.

#### What is the expected behaviour
Apply the margin (top and bottom only) to the first level of the lists only.

I am not the CSS expert, but I

[2019-08-01 17:36] mikkokotila opened #890 "Note to Developers and Contributors (and for those considering adoption)"
maybe 5 days in
docs done
still a breeze
felt better than writing an article on medium
by far
felt like taking the best parts of medium writing experience  and the best parts of modern latex workflow
sprinkle some rainbows and unicorns
== docsify
they said magic
thoroughly delivered

[2019-08-02 12:38] Teddy95 opened #891 "Deploying on Apache"
Hey :v:

I want to deploy my documentation on an apache server, how can I do that?

http://localhost/website <- This is my website
http://localhost/website/docs <- This is my docsify documentation website

The website is loading, but the documentation do not load. I have set the basePath in the configuration and I tested a little with url rewriting in a .htaccess file, but without success.

Regard

[2019-08-05 10:42] lamuertepeluda commented on #508
Easiest of all, to get the size you could:

[code]

and you get:

[code]

Note that `sizeRegexp` is global and therefore it needs to be re-instantiated to avoid the problems describede [here](https://stackoverflow.com/questions/1520800/why-does-a-regexp-with-global-flag-give-wrong-results)

To me this looks cleaner and easier to understand. You get the very same interface you are already using.

@

[2019-08-05 11:27] Teddy95 commented on #891
The problem has resolved alone magically, it works now 🤣

[2019-08-05 11:27] #891 closed

[2019-08-06 17:28] bgpat opened #895 "Do not replace the leading digit of the anchor link"
## Bug Report

#### Steps to reproduce

Create `link.md`, and start the dev srerver.

<details>
<summary>link.md</summary>

[code]

</details>

#### What is current behaviour

Docsify adds `_` into between `#` and the leading digit.

![image](https://user-images.githubusercontent.com/6045753/62559316-b2cecf00-b8b5-11e9-8ae2-df4250005c37.png)

#### What is the expected behaviour

I expect that it d

[2019-08-06 20:00] msi-matthew commented on #878
When setting the `web.config` file to redirect requests to `index.html`

[code]

[2019-08-07 03:15] uwings opened #897 "能不能给静态assets添加hash？"
能不能给静态assets添加hash？  毕竟在编写过程中内容是经常变化的,总去清除浏览器缓存还会误伤其他需要保留的内容，自己又不会加……

[2019-08-08 00:55] LemarkNova commented on #850
I confirm this is a bug. When you use
`![](/img/img.png)`
it doesn't work, but when you use
`<img src='/img/img.png'></img>`
it works

[2019-08-08 13:07] Mkots commented on #853
You can try:
` window.$docsify = {
        noEmoji: true
      };`

[2019-08-10 12:24] codingplayboy commented on #43
The search plugin is searching nested with nested sidebar, so must set:

[code]

And in default _sidebar.md, we need add the nested file:

[code]

[2019-08-11 15:26] trusktr opened #898 "load dialog timeout"
## Feature request

timeout for load dialog

[code]

#### What problem does this feature solve?

Prevents a quick flash if docs load too fast. This keeps the load dialog on screen long enough so the transition doesn't look to quick. F.e. if the load dialog has a spinner, this allows it to spin for a given amount of time.

#### What does the proposed API look like?

[code]

#### How should this be

[2019-08-11 15:27] trusktr commented on #898
Also great would be a loadFadeOut option to control how long the load dialog will take to fade away.

[2019-08-11 15:40] trusktr opened #899 "filter sidebar"
## Feature request

filter sidebar, f.e. like three.js, try the [search bar in the sidebar](https://threejs.org/docs/index.html#manual/en/introduction/Creating-a-scene).

#### What problem does this feature solve?

fast navigation

#### What does the proposed API look like?

not sure yet, still learning.

#### How should this be implemented in your opinion?

#### Are you willing to work on this yo

[2019-08-11 15:45] trusktr opened #900 "collapsible sidebar root sidebar items"
## Feature request

It'd be nice to be able to expand collapse the root sidebar items.

F.e., in the Docsify guide, clicking `Customization` would collapse that section in the UI.

#### What problem does this feature solve?

can make it easier to focus on specific parts of the docs.

[2019-08-11 16:04] trusktr commented on #899
Oh wait! I see the search bar in Docsify docs.

For some reason, I didn't expect to find it above the title. Maybe it's better below the title.

Let me check it out.

[2019-08-11 16:04] #899 closed

[2019-08-11 16:06] trusktr opened #901 "Can we use things like name and repo in the coverpage?"
How can we use the configured `name` and `repo` in the coverpage, so we don't duplicate it?

[2019-08-11 16:06] trusktr opened #902 "variables in markdown pages"

[2019-08-11 16:06] trusktr commented on #902
oops, didn't mean to open a new issue.

[2019-08-11 16:06] #902 closed

[2019-08-11 16:15] trusktr commented on #898
Ah! It would be something like on the https://jhildenbiddle.github.io/docsify-themeable/ page. It has a nice load experience.

[2019-08-11 23:14] trusktr opened #903 "feature request: placement for search bar"
## Feature request

ability to also place the search bar under the title

#### What problem does this feature solve?

Keeps the title/logo in the prime location. Search feature is secondary.

[2019-08-12 01:20] trusktr commented on #903
Applying `docsify-themable`'s CSS handles it. Cool!

[2019-08-13 07:16] trusktr commented on #755
I can not run code in the sidebar. And for example, I tried the `docsify-tabs` plugin, and placed the markup in `_sidebar.md`, and that didn't work.

[2019-08-13 14:00] qwqoffice commented on #873
same problem
![image](https://user-images.githubusercontent.com/18651085/62947816-c332fc80-be15-11e9-9c46-b03964db6b72.png)

[2019-08-14 15:56] quentinneyraud commented on #843
Hi,

I had the same issue an found an other solution maybe less restrictive:

[code]

[2019-08-15 21:38] danbulant opened #905 "Request: Remove subLevel for certain links"
## Feature request

#### What problem does this feature solve?

I have an overview of categories where I have titles and then 2-3 sentences about them. When the overview is opened, the categories are shown twice (first the subs, then the real ones)

#### What does the proposed API look like?

in links in sidebar, an option like --noSubLevel

#### Are you willing to work on this yourself?

I don't

[2019-08-17 23:32] trusktr opened #906 "[BUG] executes scripts twice"
## Bug Report

If `executeScript` is `true`, then Docsify executes the content of the `<script>` twice. This causes bugs. Users don't expect a script tag to run twice.

#### Steps to reproduce

Just look here:

https://github.com/docsifyjs/docsify/blob/develop/src/core/render/index.js#L51-L64

That conditional statement will execute the content of the script by calling `executeScript`, and the bro

[2019-08-18 01:16] trusktr commented on #755
I believe that my sidebar issue is just that Docsify hasn't implemented the same sort of executeScript for the sidebar, not that it isn't working, but such feature isn't there.

[2019-08-18 01:20] trusktr opened #907 "[bug] `beforeDestroy` lifecycle methods not called on Vue components (memory leak)"
## Bug Report

I noticed that when using Vue in a script tag, the components are not cleaned up when navigating away from the page.

#### Steps to reproduce

Put the following in your markdown file:

[code]

#### What is current behaviour

When you switch pages, you will not see `DESTROY VUE COMPONENT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!` in the console.

#### What is the expected behaviour

We shou

[2019-08-18 01:21] trusktr commented on #907
As for a solution, I'm not sure. We perhaps need a way to detect which Vue components were instantiated on the page, and manually call the `$destroy` method on them.

[2019-08-18 01:31] trusktr commented on #907
The attempt there,

[code]

won't work anyways. There's no `return` statement, and people aren't going to think to put a top-level `return` statement inside their script tags (let alone the fact that it is being executed twice (#906)).

[2019-08-18 04:53] TianYongwei commented on #850
Hmm ..
this bug is fixed?

[2019-08-18 07:37] dokydok opened #908 "Scroll magnet doesn't work when accessing the documentation from a link with an anchor"
## Bug Report
The scroll magnet in the navbar doesn't respond when accessing the documentation from a link with "?id=" param

#### Steps to reproduce
Go to [https://docsify.js.org/#/configuration?id=homepage](https://docsify.js.org/#/configuration?id=homepage)
Notice that the homepage section is selected in the navbar, scroll up and down, the selection doesn't change.

#### What is current behavio

[2019-08-18 15:37] LemarkNova commented on #850
Yes, now it works

[2019-08-19 01:57] TianYongwei commented on #850
Hey @LemarkNova , Thanks for reply.

I am confused about the img tag compile result.

my markdown content is :
[code]

The docsify compiled result is :
[code]

my expected result is :
[code]
because my all static img file is just in a single folder.

[2019-08-19 02:02] TianYongwei commented on #850
I found that this 「long path」is not caused by "marked" —— docsify compile markdown file by it,

It seems caused docsify ?

something could be configed ?

[2019-08-19 05:18] trusktr opened #909 "[bug] Search plugin skips titles with hyphens, they do not show up in results"
## Bug Report

#### Steps to reproduce

I have a `_sidebar.md` containing:

[code]

#### What is current behaviour

Searching for "Morphing Spiral" with the search plugin works fine:

<img width="314" alt="Screen Shot 2019-08-18 at 10 16 36 PM" src="https://user-images.githubusercontent.com/297678/63240755-e7238300-c205-11e9-8928-a848b7af9467.png">

However, searching for any portion of "obj-model

[2019-08-19 05:20] trusktr commented on #909
Oooooooh, I see, it does not search sidebar content, it only searches the main page content, and it so happens that "obj-model" is not a word that is on the page.

In the working "spiral" example, the words "morphing colorshape spiral" are in the page's markdown content.

So, I'll just make sure to put the sidebar titles in the content.

This may actually be a feature request: to search sidebar co

[2019-08-19 05:22] trusktr commented on #909
Hmm 🤔, I put "obj-model" in the page title, but still no cigar!

<img width="693" alt="Screen Shot 2019-08-18 at 10 21 41 PM" src="https://user-images.githubusercontent.com/297678/63240909-9a8c7780-c206-11e9-8e4a-5059c5b6faa1.png">

[2019-08-19 13:28] LemarkNova commented on #850
No finally it isn't fixed, I remember that I just use a workaround to use image in markdown:
I use `../picturefolder/picture.jpg`. So the real problem is that docsify doesn't compile correctly the markdown image. I don't know how you compile the markdown, but the problem is in the compilation of the markdown like in your previous comment.

[2019-08-19 13:35] LemarkNova commented on #850
Does Docsify use the latest version of marked? But I just try with marked and it work.

[2019-08-19 13:51] TianYongwei commented on #850
Thanks for your help. I note the workaround way.

I do nothing about the compilation of markdown files, just do some steps from the official documentation.

I am not sure the version of marked, but the docsify I installed is the latest version.

[2019-08-19 18:49] rcarmo commented on #882
I’m interested in using Remarkable instead, so I’m chiming in here in case this becomes a build option.

[2019-08-20 04:58] trusktr opened #910 "[bug] [search] Result incorrectly duplicated, pointing to multiple pages."
## Bug Report

#### Steps to reproduce

Not sure.

#### What is current behaviour

I only have one page titled "Hello 3D", however searching for "Hello 3D" (with search plugin) results in 5 results pointing to 5 different pages:

<img width="304" alt="Screen Shot 2019-08-19 at 9 57 01 PM" src="https://user-images.githubusercontent.com/297678/63318732-4ba91580-c2cc-11e9-9e01-5d1b8096ff54.png">

Eac

[2019-08-20 05:01] trusktr commented on #910
Alright, I know why it happened!! The search index is being stored in Local Storage. When I make new pages, I copy one page, then rename it. If I save the page, before renaming it and changing the content, then the search feature indexes it and saves it in Local Storage (duplicate content).

After changing the page content, the search index stays incorrect.

I was able to clear the Local Storage i

[2019-08-20 05:08] trusktr opened #911 "[search] Don't index encoded content, decode it first."
## Feature request

#### What problem does this feature solve?

I noticed that the search plugin indexes encoded content, which looks strange in the results.

I have a title, like

[code]

because otherwise if I write

[code]

the Markdown parser will try to render a `<obj-model>` element, and therefore the title will not appear (it will be an empty `<obj-model>` in the DOM).

But the search plugi

[2019-08-20 07:43] petrchutny opened #912 "[Mobile] Sidebar closing on each click – undesireable behavior"
## Bug Report

#### Steps to reproduce

Access a [Docsify website](https://docsify.js.org) from a mobile phone (I use iPhone 7). Open the menu, and click on "Awesome Docsify".

#### What is current behaviour

The sidebar with menu will collapse and Docsify will take me to the Awesome Docsify Page.

#### What is the expected behaviour

Sidebar remaining open, and the structure of "Awesome Docsify"

[2019-08-21 06:14] Jayxiang commented on #43
same

[2019-08-21 07:16] trusktr commented on #485
Hey you all, using symlinks works fine. In your docs folder:

[code]

creates a linked `src` folder in your docs folder. Then in any markdown file, you can reference files like `src/modules/resources/README.md`.

[2019-08-21 19:35] berot3 commented on #882
I am with you, remarkable would be fine too!

[2019-08-23 04:46] WangShuXian6 commented on #266
![image](https://user-images.githubusercontent.com/30850497/63567348-c95a7300-c5a3-11e9-8d94-195758f82349.png)

[code]

[2019-08-23 11:12] melloware commented on #582
Any update on this issue being fixed by the PR?

[2019-08-26 09:42] vkallore opened #914 "Missing rel="noreferrer noopener" for links opening in new tab/window"
## Bug Report

#### Steps to reproduce

Add a link in md file.

#### What is current behaviour

The default configuration opens a link in new tab/window. Missing rel="noreferrer noopener".

#### What is the expected behaviour
Don't we need to add rel="noreferrer noopener"?

#### Other relevant information

- [x] Bug does still occur when all/other plugins are disabled?

- Your OS: NA
- Node.js ver

[2019-08-27 06:44] hcdtc commented on #616
fixed plugin code:
[code]

[2019-08-27 14:23] davidtabernerom commented on #791
Just tested it, it does not work, sorry, still randomly sorting embedded files.

[2019-08-29 09:22] berot3 commented on #882
Maybe there is already some kind of way? I need a clever guy to figure it out! :)

Because in this comment https://github.com/docsifyjs/docsify/issues/144#issuecomment-291851948 @QingWei-Li states that...

I'm not sure what he means by "`markdown-it` size is very big"...

As it states on the markdown-docs:
[code]

so maybe we can say this instead?:
[code]

[2019-08-29 17:11] trusktr commented on #142
It'd be neat to be able to apply this mapping to regular `<a>` tags too, because there are some cases where it is not possible to put the a`[]()` syntax.

For example, I want to make some tables, but GitHub-flavored markdown does not support cells with multi-line content, so I need to use `<table>` and due to the nesting, I can not place markdown inside the `<td>` elements. But I can only place `<

[2019-08-29 17:36] trusktr commented on #342
Note, one example @QingWei-Li didn't mention. The following:

[code]

becomes

[code]

---

It would be great to have this functionality for `<a>` tags too!

There are some cases where it is not possible to use the `[]()` syntax.

For example, I want to make some tables, but GitHub-flavored markdown does not support cells with multi-line content, so I need to make my table using `<table>`, and due

[2019-09-03 15:54] sri-shetty commented on #795
how to enable _sidebar.md option? I have added loadSidebar: true in my index.html

[2019-09-04 22:14] JudeAntony commented on #238
@dmytrodanylyk @jsmedmar any idea how can I get this working while running in development mode using docsify serve where I do not have any server side configurations.

[2019-09-05 11:21] EvanLind commented on #31
The right vps nginx conf is:
[code]

[2019-09-05 11:21] rizdaprasetya commented on #351
Took quite a while to wait proposed PR to be merged, I end up creating [a plugin to overcome this issue](https://github.com/rizdaprasetya/docsify-fix-pageload-scroll)
Just include this script tag like the other default Docsify plugins (search, emoji, etc). Put it after Docsify script tag.
[code]

or add this on your `$docsify.plugins` declaration:
[code]

Incase anyone interested

[2019-09-05 11:34] rizdaprasetya commented on #559
This is what I did: https://github.com/docsifyjs/docsify/issues/351#issuecomment-528318227

[2019-09-09 18:46] StoneyJackson commented on #821
As a first step, I thought I'd just replace the text for the github-corner with the gitlab-corner. So, I modified corner() `src/core/render/tpl.js` as follows.

[code]

But for some reason the animation and the link doesn't work. Any ideas?

If I can get that working, it would be easy to add a config param that would hold the appropriate HTML for the corner. Then folks can choose which corner they

[2019-09-10 12:18] lanthree opened #919 "Support GLOSSORY.md like gitbook?"
## Feature request

#### What problem does this feature solve?
To write glossory in one place.

#### What does the proposed API look like?
Just use glossory.md by defualt. the glossory.md maybe like this:
[code]

#### How should this be implemented in your opinion?
Highlight the words of glossory.md for every pages.
Pop a tips when cursor hover on it.
Open a new glossory page standalone, when clic

[2019-09-11 12:59] mofadeyunduo commented on #753
solve my problem

[2019-09-11 13:45] gotjoshua commented on #753
what is the status of this? It looks as if there is a commit that fixes it, but this issue is still open...

Is that commit not yet merged?

[2019-09-12 02:38] mofadeyunduo commented on #753
It's not merged.
I am very confused by this problem before I found this issues, I think this should be fix asap.
Any one help merge the pr? https://github.com/docsifyjs/docsify/pull/870
@QingWei-Li

[2019-09-12 04:16] naihe138 commented on #704
The same error found, even upgrade to the latest version of docsify

[2019-09-12 10:08] yuxesd opened #920 "When accessing a page that does not exist, the page will be in the pending state and the page will be stuck."
## Bug Report
When accessing a page that does not exist, the page will be in the pending state and the page will be stuck.
#### Steps to reproduce
For example，When I visit campus.xxxx.com/compute/uhost/introduction/uhost/dhag.md, this page does not exist.
1. using  routermode  history
2. setting  alias   '/.*/_sidebar.md': '/_sidebar.md'
3.using the latest version of Docsify

#### What is current

[2019-09-16 07:28] yuxesd commented on #920
I found the reason, because I used the history mode, I set the nginx configuration ,as follows：
“try_files $uri $uri/ index.html”.
If the page does not exist, it will return index.html.
How can I solve the problem that the page does not exist, it will return 404？

[2019-09-19 15:06] suryasanchez commented on #579
What workaround did you find guys?

[2019-09-19 17:17] Maxou44 commented on #579
I created a directory with a "password" name and I have access to it from:
http://www.mywebsite.com/myawesomepassword/index html

[2019-09-20 13:50] dialex commented on #681
@timaschew ,
as of the latest version (`4.9.4`) what is the proper way to set background colour use a gradient?

It used to be like this

[code]

But then `4.8.0` broke it. As a workaround we could (and still can on `4.9.4`) use:

[code]

Do we still need to use that workaround? Or is there a markdown way to do it? I don't see that feature listed in the official doc anymore.

[2019-09-23 07:55] CatchLife opened #922 "please update prismjs to latest"
see [https://github.com/PrismJS/prism/issues/1855]( https://github.com/PrismJS/prism/issues/1855)

[2019-09-23 22:27] mpfaff opened #923 "[Question] onlyCover with loadNavbar"
Is it possible to load the navbar with `onlyCover` enabled?

[2019-09-24 06:48] CatchLife opened #924 "support prism.js autoloader plugin"
prism.js provide  a autoloader plugin for automatically loads languages when necessary.
but docsify load document by request ,not server render ,So docsify can trigger the autoloader plugin again after rendering.

![https://s2.ax1x.com/2019/09/24/ukqGSf.png](https://s2.ax1x.com/2019/09/24/ukqGSf.png)

[2019-09-25 15:34] StoneyJackson opened #925 "When `relativePath: true`, relative path links in _sidebar do not resolve reasonably"
## Bug Report

First, let me say, I'm loving Docsify! Great stuff! 👍

Now on to my issue...

When using both `loadSidebar:true` and `relativePath:true` relative paths in _sidebar.md files are resolved against the page being rendered rather than the location of the _sidebar.md file. This leads to surprising results. When one writes a relative path in a file, one expects it to be relative to that fi

[2019-09-26 10:55] yuxesd commented on #920
using  history router,  notFoundpages  doesn't work. How to solve  this problem in history mode?

[2019-09-26 11:36] yuxesd commented on #920
found a solution, using  alias

[2019-09-26 11:36] #920 closed

[2019-09-26 13:23] THARAKS opened #926 "Unable to start the application with npm run bootstrap && npm run dev cmd"
## Bug Report

#### Steps to reproduce
clone the application
run the command:npm run bootstrap && npm run dev

#### What is current behaviour
node build/build.js

ERROR: Task not found: "'css"
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! docsify@4.9.4 watch:css: `run-p 'css -- -o themes -w'`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the docsify@4.9.4 watch:css script.
npm ERR! This

[2019-09-26 15:32] db-ampetronic commented on #795
@sri-shetty Using your example index.html page gives me an error:

[code]

I can resolve this error by adding some data into the `name` property (for example `name: 'docsify'`) but then I still get @BeamerIsHere's issue of 'No Results!' appearing whenever I search:

![image](https://user-images.githubusercontent.com/38653386/65702499-07ebbd80-e07b-11e9-9c2d-dd30b5b08ad9.png)

[2019-09-26 16:46] davedodea opened #927 "Two instances Full text search input"
## Bug Report

#### Steps to reproduce
- Fresh install of Docsify.
- Add Full text search plugin

#### What is current behavior
- Two Search divs are added

#### What is the expected behavior
- Should be only one search div added

#### Other relevant information
Screenshots: https://imgur.com/a/31xWBOn

Body element:

[code]

- [ x] Bug does still occur when all/other plugins are disabled?

- Your

[2019-09-26 17:04] #927 closed

[2019-09-27 04:58] jianse commented on #926
That's because the apostrophe in windows is considered part of the command by npm-run-all. In order to solve this problem, there are two solutions.

1. If you use win10 preview, wsl is a good choice.
2. Modify the `script` part of  `package.json` to modify `'` into the `\"`. And you should remove the wildcard (*.styl), stylus does not work well with wildcards under windows.

like this
[code]
Forgi

[2019-09-27 06:50] THARAKS commented on #926
after updating the package.json , i am facing new issue,

opencollective postinstall

'opencollective' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! docsify@4.9.4 postinstall: `opencollective postinstall`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the docsify@4.9.4 postinstall script.
npm ERR! This i

[2019-09-27 07:19] THARAKS commented on #926
Hi ,
I have tried to fix this error by doing
npm i -g opencollective
after that i ran the command npm run bootstrap && npm run dev , application started without any error
but the web page is showing up as blank page , with loading message on it
in console i was getting some errors  as shown below may be is it because of that ,

docsify.js:2408 Uncaught ReferenceError: tinydate is not defined
    a

[2019-09-27 08:28] jianse commented on #926
try run
[code]
then run
[code]

[2019-09-27 09:47] THARAKS commented on #926
tried your solution,

application is starting but web page is not loading , it is still a blank white page

in console i can see the following error
docsify.js:2408 Uncaught ReferenceError: tinydate is not defined
    at docsify.js:2408
(anonymous) @ docsify.js:2408
prism-bash.min.js:1 Uncaught ReferenceError: Prism is not defined
    at prism-bash.min.js:1
(anonymous) @ prism-bash.min.js:1
prism-

[2019-09-27 12:03] jianse commented on #926
This only happens when you first clone the codebase and run the development environment, because the files in the lib directory are not built at that time. You just need to click the refresh button to apply the file you just built.

[2019-09-30 12:54] THARAKS opened #928 "Is it possible to serve the application as static html files, after building it"
## Feature request

#### What problem does this feature solve?

Instead of installing the dependency in all the system , i want to serve this as a static application

#### What does the proposed API look like?

share the application as zip file and download the zip file, open the index.html, it should start the application automatically

#### How should this be implemented in your opinion?
no idea

[2019-10-01 14:03] mohammadanton commented on #922
I submit PR for this
#929

[2019-10-01 20:44] TheGreenToaster commented on #919
I wrote a plugin for this here https://github.com/TheGreenToaster/docsify-glossary. I have also created a PR to get it added to awesome docsify. If you have any issues or improvements just submit an issue on the repo.

[2019-10-02 00:24] TheGreenToaster commented on #603
Love this project but it looks like it is stagnating again.
I am not skilled in maintaining a project but I am willing to do whatever I can to keep the project going. So let me know if there is anything i can do @timaschew

[2019-10-03 15:01] db-ampetronic commented on #795
I finally figured my issue out, if you look into the browser's local storage (using Chrome: developer tools > application tab > local storage) you can see the content of Docsify's search index under the `docsify.search.index` key which helped to debug this.

I discovered my issue was a combination of two things:

- The search index had been built before I had added the content I was searching for.

[2019-10-04 05:51] THARAKS commented on #926
I have refreshed the codebase still i am facing same issue in the chrome console

[2019-10-04 05:56] jianse commented on #926
I can't reproduce what you said, I am very sorry that I can't help you.

[2019-10-04 06:16] THARAKS commented on #926
please tell me how to start the application after cloning it , i will delete node modules and try again

[2019-10-04 06:19] jianse commented on #926
npm install
npm run dev

[2019-10-04 06:19] THARAKS commented on #926
ok 2 minutes i am trying again

[2019-10-04 06:23] THARAKS commented on #926
Hi I have tried with your commands , still i am facing the same issue , attaching the screen shot

![image](https://user-images.githubusercontent.com/15693408/66185583-8d83f480-e69d-11e9-8323-fcd301190db7.png)

[2019-10-04 06:25] jianse commented on #926
Refresh this page, can you still see this error?

[2019-10-04 06:28] THARAKS commented on #926
yes, even after refreshing also the error is still coming

[2019-10-04 06:37] THARAKS commented on #926
are able to reproduce this error? any solution on how to resolve this

[2019-10-04 06:42] THARAKS commented on #926
i wanted to inform you one thing that i am able run the application on localhost with this command
`docsify serve docs`

[2019-10-04 06:46] jianse commented on #926
Is there a `lib` directory in your project directory?

[2019-10-04 06:48] THARAKS commented on #926
yes it is there

[2019-10-04 06:50] jianse commented on #926
Is there anything inside?

[2019-10-04 06:51] THARAKS commented on #926
![image](https://user-images.githubusercontent.com/15693408/66187020-6deecb00-e6a1-11e9-9ff9-d11ebb9b8d44.png)

also plugins folders contains many files

[2019-10-04 06:53] THARAKS commented on #926
i need one more information , i want to ship my docsify application to users, is there any dependency they have to install to view this application like node js and npm dependencies

or will it just work with docsify serve docs command?

[2019-10-04 06:54] THARAKS commented on #926
In fact , i do not want my users to install any peer dependency , i just want to run as a static html file

for eg: user can just open index.html file , everything should work as normal

[2019-10-04 07:01] jianse commented on #926
You only need to deploy your document on a static file server, users can view it directly through the browser.

[2019-10-04 07:03] THARAKS commented on #926
thanks , i knew that , what about docsify serve docs command , does it need any peer dependency like node js , or it just works without any dependencies, i do not want to deploy it to any server so

[2019-10-04 07:25] jianse commented on #926
sorry, I do not know that

[2019-10-04 07:44] THARAKS commented on #926
okay lets resolve this issue which i am facing please

[2019-10-04 20:12] timaschew commented on #603
I've planned to use docsify at work and my idea was to contribute most work back to this open source project. But since I've realized VuePress is a better fit for our case at work I've stopped using docsify.
Also I had a different expectation regarding my familial circumstances.
So unfortunately I don't have the time which I've expected, neither for docsify nor for any other open source project.

[2019-10-06 00:07] JUNWOO45 opened #932 "Is this repository no longer managed?"
## Feature request
- I translated docsify to KOREAN ( https://github.com/JUNWOO45/docsify-kr )
#### What problem does this feature solve?
- But I dont know how to merge.

#### What does the proposed API look like?

#### How should this be implemented in your opinion?
- Plz tell me how.

#### Are you willing to work on this yourself?
- Sure!

[2019-10-06 01:26] xiaoluhong commented on #610
@petrk94 Hi, Can I see your bash script? thank you.

[2019-10-06 12:33] petrk94 commented on #610
Hi @xiaoluhong,
thanks for your interest, but I dont have this script longer, due the project required more customization, I dropped it.

[2019-10-07 06:25] jthegedus commented on #603
I too am in the same position as @timaschew . I was using this tool for other projects, thought I would be able to contribute during overlap with work and thought I would have more time in my personal time to put towards this. I was incorrect and cannot devote the amount of time required to maintain this project and the growing # of contributions.

[2019-10-08 01:46] timrodz commented on #932
Make a Pull Request from your repository :)

![image](https://user-images.githubusercontent.com/7434353/66361210-72392200-e9da-11e9-8a6b-13bfc585312b.png)

Make sure that your branch is going into docsify/master:

![image](https://user-images.githubusercontent.com/7434353/66361200-651c3300-e9da-11e9-8de2-b7527fc3cb93.png)

[2019-10-08 13:51] Drovosek01 commented on #740
U also decided to make switching color themes through the navigation bar and also faced the problem that the code in the "script" tag is not executed if this code is located in _navbar.md or _sidebar.md

The only solution I found in this situation is to add a "script" tag with code to markdown content files, such as a file README.md

[code]

[2019-10-09 13:00] jugraj commented on #579
Is there any documentation for this situation? I am trying to access private repo, which requires a token to be supplied to it but its unclear on how to.

So I am trying to get to
https://raw.githubusercontent.com/{ACCOUNT}/{REPO}/develop/docs/ but keep getting `error 403` as it requires token supplied to it.

[2019-10-09 18:22] suryasanchez commented on #579
It might not be the expected answer but the workaround I did was to switch to GitBook.

[2019-10-10 11:47] xiao-xiaoming opened #933 "The Prism.js support code displays the line number. Why does the docsify do not have the corresponding configuration?"
## Feature request

#### What problem does this feature solve?
[code]
It's like this Prism.js can display the line number, but I don't know docsify how to configure.

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

[2019-10-10 21:59] wisniewski94 commented on #928
What you can try is generating your docsify index.html, then open in in the browser, open dev tools, and download source and then save it to new .html file. Just make sure all links to scripts and stylesheets are correct.

[2019-10-11 08:43] jugraj commented on #579
Thanks @suryasanchez but I need to create pages on the fly (which Docsify provides) but Gitbook provides a static page approach - unless that is not correct. :|

[2019-10-14 14:51] felangel commented on #603
I'm using docsify for my [open source documentation](https://felangel.github.io/bloc) and would love to help maintain it if the original maintainers don't have the time.

[2019-10-15 08:09] timaschew commented on #603
Welcome @felangel, I've invited you to the docsifyjs organization.

[2019-10-15 08:18] timaschew commented on #932
This is the wrong place for these kind of questions. Use google: https://www.wikihow.com/Create-a-Pull-Request-on-Github

[2019-10-15 08:18] #932 closed

[2019-10-15 09:43] hardfish82 commented on #579
Is there any solution? I face the same situation.

[2019-10-15 17:58] algobot76 commented on #603
I use docsify on a daily basis ([my-cs-notes](https://github.com/algobot76/my-cs-notes)) and I really like it. I don't want this awesome project to go unmaintained. I'm willing to sacrifice some of my free time for the project.

[2019-10-17 03:45] yuxesd commented on #755
I have the same problem. Is there a solution now?

[2019-10-18 07:32] varadpoddar commented on #882
It's doable using [custom plugins](https://docsify.now.sh/write-a-plugin?id=write-a-plugin).
For example :

[code]

Now within your window.$docsify you can create a custom plugin to do the markdown for you.

[code]
This would let you render the doc using markdown-it & since there would be no other markdown left, the other renderer would leave it alone. However, there could be performance implicati

[2019-10-19 04:32] rockmanvnx6 commented on #882
@varadpoddar your solution doesn't render footnote, plus the todo check list seems to be broken, is there any thing i have to add on?

[2019-10-19 04:38] spiedeman commented on #740
I've cloned your repo to my laptop and tested. It didn't work.

[2019-10-19 18:19] varadpoddar commented on #882
@rockmanvnx6

The footnotes and task lists functionality is a part of [markdown's extended syntax](https://www.markdownguide.org/extended-syntax)

You should add these corresponding packages for markdown-it. (If you choose to use markdown-it).

- [markdown-it-task-list](https://github.com/revin/markdown-it-task-lists)
- [markdown-it-footnote](https://github.com/markdown-it/markdown-it-footnote)

P

[2019-10-20 01:35] rockmanvnx6 commented on #882
@varadpoddar thank you, for the script to work, I've to modify a bit:
[code]

[2019-10-20 10:38] rxliuli commented on #756
+1 Support this switch！

[2019-10-21 06:32] ShusenTang opened #936 "how to insert images"
I already have a written document:
[code]

here I inserted the image `img1.png` into `doc1.md` using

[code]
This will show the img1 very well in GitHub or other markdown editor. But if I deploy the doc in gitpages, the image broken.

If I use
[code]
it works.

But I don't want to make changes to my doc, how should I configure docsify to show the image properly?

[2019-10-21 07:41] Drovosek01 commented on #740
Yes, my method has a problem - it doesn't work if you open the documentation link for the first time after starting the browser, but if you reload the page and try to switch the theme to "navbar" again, then everything should work. I still have no idea how to solve this problem.

[2019-10-21 08:01] spiedeman commented on #740
I found a way to modify the DOM for each page generated from *.md file scriptly by using the hook function. And I also added a switch button on every page like iOS. But it’s not an elegant solution yet. I still have no idea to solve the problems that I came across cause I’m new to a javascriptor.

[2019-10-21 11:54] rorywalsh opened #937 "custom prism syntax support.."
I've created a custom syntax highlighter in prism, which involves rebuilding prism from source. I would love to use this locally built version of prism with docsify. Is this possible?

[2019-10-21 14:44] ShusenTang commented on #850
Hi, could you please help me? #936

[2019-10-21 20:14] seconde-vie-ordi commented on #936
There's no way to configure docsify to show the image with ../ without changing your code.  ./ is the good way to write it. In the other issue, I was talking about the markdown syntax which is incorrect ![name](../url), that would be converted in html like this <img alt="name" src="./url" />.

[2019-10-21 20:32] rorywalsh commented on #937
So I figured out the easiest way to do this was to simply add my custom highlighter to Docsify.js. I'll close this out now.

[2019-10-21 20:32] #937 closed

[2019-10-22 07:43] ShusenTang commented on #936
Thanks for your reply. I solved my problem using a workaround, I added
[code]
into `index.html` to convert all "../../img" into "img" before each parsing the Markdown file.

[2019-10-22 07:43] #936 closed

[2019-10-23 18:19] egoist commented on #603
Hi @QingWei-Li @timaschew author of https://github.com/egoist/docute here

Seeing so many great projects using Docisfy is really inspiring, I would love to help the team maintain this awesome software! As a result I would probably deprecate Docute too.

[2019-10-23 18:30] santoshyadav198613 commented on #603
Count me in .

[2019-10-24 00:29] mrpotatoes commented on #370
+1

I use a table of contents plugin for headings instead of the sidebar and losing the active state in the sidebar is very frustrating.

[2019-10-24 04:47] despacito008 opened #938 "Add Registration Login and Manage Members' Reading Rights"
## Add Registration Login and Manage Members' Reading Rights

[2019-10-26 00:26] varadpoddar commented on #882
@QingWei-Li Can I add the above workaround in the current docs in the form of a PR?
I believe this can also help close the issue.

[2019-10-27 17:22] baur commented on #579
How to restrict access for every page, not only for whole index.html by custom render?

[2019-10-27 17:49] egoist commented on #579
Does HTTP basic auth work for you?

[2019-10-28 07:33] baur commented on #579
I'd like to generate content for every user dynamically

[2019-10-28 10:52] baur commented on #579
I'll wait it, is this solution prevent direct access to *.md files

[2019-10-28 10:53] baur commented on #579
I'd like to create telegram bot which will generate access link to site (passwordless access)

[2019-10-29 07:50] w1024k commented on #728
当一章只有一级的时候,这章就不显示了

[2019-10-29 08:14] w1024k commented on #621
有完整的案例吗,我尝试了一下,并没有生效

[2019-10-29 08:15] w1024k commented on #621
有完整的案例吗,我尝试了,并没有生效

[2019-10-29 08:17] aitexiaoy commented on #621
你配置了_silder的话，docsifyjs可以自动折叠。

[2019-10-29 08:48] wickedest opened #939 "docsify-edit-on-gitlab"
## Feature request

A plugin for editing on gitlab, similar to https://github.com/njleonzhang/docsify-edit-on-github

#### What problem does this feature solve?

A convenience "Edit on gitlab" link at the top of each page to facilitate collaborative editing.

#### What does the proposed API look like?

See https://github.com/njleonzhang/docsify-edit-on-github

#### How should this be implemented i

[2019-11-01 15:36] neilveil opened #940 "How to use .md files from other domain?"
## Feature request

#### What problem does this feature solve?

We will be able to load file from other domain, For e.g. If we want to load a README.md from a github repository.

#### What does the proposed API look like?

Simply just load md, do not open in new tab in `_navbar.md` or `_sidebar.md` file. For e.g.   - [Test](https://raw.githubusercontent.com/{username}/{repo}/master/README.md)

###

[2019-11-04 13:02] maximilienGilet commented on #939
Hi @wickedest I faced the same problem but a gitlab plugin is not needed.

Here is my simple configuration to get it working with our self-hosted gitlab

[code]

[2019-11-04 14:01] yuxesd commented on #908
I also encountered the same problem

[2019-11-05 09:23] hpugongying opened #941 "Link to another person to use, can't locate to the specified location and back to the home page"
## Bug Report

#### Steps to reproduce
clone the application
Deployed to the server and run the command: docsify serve docs
send link(http://docs.oa.com/) to others use

#### What is current behaviour
eg: http://docs.oa.com/#/readme.md
others open this link can't locate to current location and back to the home page (http://docs.oa.com/)

#### What is the expected behaviour
can locate to current lo

[2019-11-05 12:34] Zielak commented on #603
We've just started using docsify in our companies internal projects, and I'm willing to include it in one of my open source projects. I'd love to be part of it to keep it healthy.
I just stumbled on an issue with dependencies in docsify-cli and I could easily make a PR for that.

[2019-11-06 18:26] anikethsaha commented on #603
Hi, folks....
First of all, this is really an awesome project and I am using this for one of my projects (https://mern.netlify.com/#/),
I am willing to chip in here and I think I can help with the docsify-cli as I have some past experience in working with CLIs (webpack-cli, https://github.com/anikethsaha/create-web-app).
So here, if you guys need help with the CLI , I can provide some 👍

[2019-11-08 16:01] wickedest commented on #939
@maximilienGilet, thanks for that!  it worked perfectly.

[2019-11-08 16:01] #939 closed

[2019-11-09 11:09] Rapster commented on #617
Would it be possible to use docsify with git tags to fix that ticket? I don't like creating folders per version as it congest the repo and plus, it some sort of duplication since docs are already versionned by github itself

[2019-11-11 02:38] superxxl opened #942 "language highlight"
How to introduce all code highlighting,reference Typora

# Simplified Chinese
如何引入全部代码高亮，参考Typora那样

[2019-11-11 12:39] ColinMaudry commented on #759
I think SSR stands for Server Side *Rendering*.

[2019-11-11 12:42] ColinMaudry commented on #769
#759 is about SS Routing, while this one is about rendering, as SSR Routing is not documented on https://docsify.js.org (AFAIK).

[2019-11-11 12:51] ColinMaudry commented on #769
To be more specific, when using https://github.com/docsifyjs/docsify-ssr-demo and trying to configure my project the same way:

[code]

No error, but localhost:4000 returns a blank page. I think it only looks for `index.html`. Basically, it seems to ignore the SSR configuration.

[code]

`now` has changed since this demo was made.

[2019-11-12 13:42] maximilienGilet commented on #939
@wickedest Better an even better solution is to set the gitlab link to the corresponding `webide` view of the page. The users goes directly in the multiple files edit mode.

It should look like `https://<your-gitlab>/-/ide/project/<group>/<repo>/blob/master/-/docs/`

[2019-11-13 14:07] dellagustin-sap opened #944 "Sidebar is not ultrawide display friendly"
Ultrawide displays are becoming very common.
Athough users may split their desktop into sections, it is also common to maximize a browser window.
Normally, the main content is centered, and that is also the case with docsify.

The problem here is that when a user maximizes a website generated with docsify (standard theme) the sidebar is too far to the left.

Any ideas on how to tackle this?

[2019-11-14 14:25] PicchiKevin opened #945 "Accessibility issues"
Hi,

Here are some issues that I found regarding accessibility:
- Viewport not allowing to scale and zoom
- The burger menu button must have discernible text
- The burger menu button must have a :focus styling
- Search plugin is text missing a label for the search input
- Search text input is also missing a :focus styling

Low contrast text according to [Web Content Accessibility Guidelines (WCAG)

[2019-11-15 13:45] hongshuhai opened #946 "在mac上安装docsify后无法初始化项目"
在mac上安装docsify后，按照官方文档，输入初始化命令`docsify init ./docs` 后，无法初始化项目

![问题1](https://user-images.githubusercontent.com/36213253/68947651-f90ac700-07f0-11ea-802f-a1029f486178.png)

[2019-11-16 20:04] anikethsaha commented on #603
cc @QingWei-Li @timaschew @jhildenbiddle

Is there any way to contact you guys apart from github ?

I think we need someone to merge PRs of docsify-cli. as there are quite a good number of security alerts there in the dependencies.

[2019-11-16 20:56] felangel commented on #603
@anikethsaha just merged the security PRs from dependabot 👍

[2019-11-16 21:06] anikethsaha commented on #603
@felangel are you guys looking for new maintainers ?like is this issue resolved ?

[2019-11-16 21:14] felangel commented on #603
@anikethsaha I'm not sure as I only recently joined the organization

[2019-11-16 21:15] anikethsaha commented on #603
@felangel okay will wait for others to respond 👍

[2019-11-18 15:52] jamesgeorge007 commented on #603
@felangel I would love to collaborate on the `docsify-cli` project. Just shooted a couple of PR's :tada:

[2019-11-18 16:00] jamesgeorge007 commented on #603
@QingWei-Li I would love to collaborate on the `docsify-cli` project. Just shooted a couple of PR's :tada:

[2019-11-20 14:33] wonb168 opened #947 "侧边栏显示与隐藏无效?"
官网左下角的'三'是可以显示、隐藏侧边栏的，我的怎么无效，需要什么特殊配置吗？我是多个md文件的。
另外，超出一页的部分没有滚动条，显示不了。
请教。

[2019-11-21 06:18] anikethsaha commented on #945
You meant a tooltip ?

what style are you planning to add in the focus?

Feel free to submit a PR

We can take a look at the ratio thing Future.

[2019-11-21 12:14] anikethsaha commented on #944
I couldnt find it too left with the default theme.

1. With the current width `300px`
🔽
![image](https://user-images.githubusercontent.com/26347874/69337093-0d821000-0c86-11ea-9419-4d6c86df9208.png)

2. `sidebar width 500px`
🔽
![image](https://user-images.githubusercontent.com/26347874/69337040-edeae780-0c85-11ea-85e9-9b57d625c6d7.png)

I can see the white gap in the `1` one but it aligns properly

[2019-11-21 12:22] anikethsaha commented on #942
is this what you are looking for?

docsify uses [`marked`](https://github.com/markedjs/marked) for parsing markdowns and I guess you can custom highlighter (https://marked.js.org/#/USING_ADVANCED.md#highlight)

[2019-11-21 12:24] anikethsaha commented on #941
Can you please share your project structure 👍 .

[2019-11-21 12:28] anikethsaha commented on #941
please look how docsify structured the docs https://github.com/docsifyjs/docsify/tree/develop/docs .
You can access the readme docs  from here itself https://docsify.js.org/#/

[2019-11-21 12:30] anikethsaha commented on #940
I am quite unclear about the request. Can you please give some use case and a bit explanation.

Link is 404

Would appreciate if you can create a PoC for the implementation  👍

[2019-11-21 12:34] anikethsaha commented on #938
Please add more explanation with use-cases for your feature request

Also please use the issue template and dont remove the contents.

Thanks 👍

[2019-11-21 12:41] anikethsaha commented on #933
I think its good to have it but as a configurable extension.

I guess prism uses [line number plugin for this](https://prismjs.com/plugins/line-numbers/).

We need to integrate it with docsify configuration as I dont think this is customizable with remark.

Feel free to submit a PR for this or better create a docsify plugin for this.

[2019-11-21 12:50] anikethsaha commented on #928
We have it on our roadmap https://github.com/docsifyjs/docsify/pull/802

[2019-11-21 13:02] anikethsaha commented on #919
Closing this in favor of the above plugin. I guess that should work for your request. Please create a separate issue if this is not you were looking for and explain a bit extra for that.

Thanks 👍

[2019-11-21 13:02] #919 closed

[2019-11-21 13:09] anikethsaha commented on #910
Thanks for the detailed explanation. Yes its a bug.

Feel free to submit the fix 👍

_perhaps for time being we can add an instruction to the search plugin page about this issue_

[2019-11-21 13:14] anikethsaha commented on #911
I think there can be bad outcomes for this, this may lead to XSS if unencoding in the rendered dom.

[refer this](https://stackoverflow.com/questions/33184716/is-it-safe-to-display-html-code-decoded-by-decodeuricomponent-from-a-url)

Closing this for now. Please create a new issue if you think you can work it out safely or you have something more to share about it

Thanks 👍

[2019-11-21 13:31] anikethsaha commented on #926
Please share a minimal reproduction repo for this.

I am not getting which application you are trying to run

[2019-11-21 13:35] anikethsaha commented on #908
it is supposed to be like that cause of the `id` parameter you queried in the header.

try this https://docsify.js.org/#/configuration and scroll.

Closing this as its intended behavior.
Please open a new issue if you think this doesn't solve your issue

thanks 👍

[2019-11-21 13:35] #908 closed

[2019-11-22 06:02] anikethsaha commented on #947
Please write it in english 👍

[2019-11-22 06:02] anikethsaha commented on #946
Please write it in english 👍

[2019-11-22 06:17] anikethsaha commented on #923
[code]

I guess you cant. And it makes sense if your docs site is only having the cover page, then having navbar doesn't do anything

[2019-11-22 06:28] anikethsaha commented on #925
It's nice to have this feature like from each markdown file have some similar attribute like
`relativeURL: self` or `relativePath:self`. the paths will be appended with `__dirname` to make itself relative. _thats what I am thinking_

But we are not sure if we can ship it soon or in `v4.x` as we are having quite a big number of bugs to fix.

But it's considerable 👍 .
I will put this in our discussi

[2019-11-22 18:49] timaschew commented on #947
This happened so many times. Some people just ignore the issue template. It's really hard to keep an overview, so I've started to close the issues immediately and reopen when the author changing rewriting it into english.

[2019-11-22 18:49] #947 closed

[2019-11-22 18:50] #946 closed

[2019-11-22 18:51] anikethsaha commented on #947
Good move 👍

[2019-11-22 19:23] felangel commented on #897
Can you please rewrite the question in English? Closing for now.

[2019-11-22 19:23] #897 closed

[2019-11-22 19:27] anikethsaha commented on #903
closing in favor of this .

Please comment if this is not what you are looking for as a flow

[2019-11-22 19:27] #903 closed

[2019-11-22 20:24] anikethsaha commented on #906
Did you face the execution of the script twice ? or its because of the code ? i

I think this might help, _(though not 100% sure )_

`executeScript` to `true` mean that running script tag coming from markdown. this are not the one which you are writing in the HTML's header tag or which you are writing to HTML page by yourself.
So as they are coming from markdown as a string and markdown are not pa

[2019-11-22 20:51] anikethsaha commented on #907
executeScript should Be `true` in order to run your script that.
These scripts are executed by docsify after the mounting of the HTML code. _(debatable 😕 )_

that's an IIFE. It should run the code mentioned in the argument as a whole.

![image](https://user-images.githubusercontent.com/26347874/69459204-41008f80-0d97-11ea-8d6b-518f128fef7f.png)

From the image, you can see it's running the code, a

[2019-11-22 20:51] #907 closed

[2019-11-22 21:07] timaschew commented on #877
Resolving image seems to use a different algorithm that's why images are not working.

[2019-11-22 21:12] anikethsaha commented on #905
Unclear about the Request.
Closing this. Feel free to submit a new issue with detailed requirements

[2019-11-22 21:12] #905 closed

[2019-11-22 21:24] anikethsaha commented on #823
For new markdown syntax, I would recommend using a pluggable markdown processor which can be configured using the docsify config, like [`markdown-it`](https://github.com/markdown-it/markdown-it#readme)

cc @docsifyjs/core

[2019-11-23 07:57] anikethsaha commented on #886
This is related to `markedjs` as we are using [`markedjs`](https://github.com/markedjs/marked) to process our markdown.
You can submit an issue in their repo.

Closing this 👍
Please comment below if you think it didnt solve your issue or you are looking for something else

[2019-11-23 07:57] #886 closed

[2019-11-23 07:58] anikethsaha commented on #923
Closing this 👍
Please comment below if you think this didnt help you or you have something else to add 👍

[2019-11-23 07:58] #923 closed

[2019-11-23 08:01] anikethsaha commented on #885
Feel Free to submit a PR with the fix

[2019-11-23 08:03] anikethsaha commented on #882
**You cant change the parser**

 It is in our roadmap for using a new pluggable parser for `v5`.
https://github.com/docsifyjs/docsify/issues/823#issuecomment-557700008

Closing this as it will be considered if required.
Please comment below if you want to add any more

[2019-11-23 08:03] #882 closed

[2019-11-23 08:07] anikethsaha commented on #879
the issue is unclear to me please elaborate.
Also I tested the link you gave. Not sure as the content was in Chinese but when typing 25 I could see some results with 25 in them

[2019-11-23 13:54] anikethsaha commented on #889
Please share the screenshots.
I am wondering why it's not right and need to see where is breaking.

For time being, you can use https://jhildenbiddle.github.io/docsify-themeable so customize the styling. We will support customizing natively soon with v5 using docsify-themeable.

[2019-11-23 19:17] StoneyJackson commented on #925
@anikethsaha Thanks for the feedback, and promoting this to discussion.

I like the idea of a plugin. I might just try that. If I do, I'll post a link to it here.

[2019-11-23 19:20] anikethsaha commented on #925
Great 👍

[2019-11-24 08:45] anikethsaha commented on #888
This is not an issue with docsify. You try to print Github's code snippets you will see the same behavior.

Closing this. 👍
Please comment below if you want to add anything to it 👍

[2019-11-24 08:45] #888 closed

[2019-11-24 09:03] anikethsaha commented on #878
Please verifies the directories or the router.
Not sure about IIS and `web.config`

The usual flow is
you can either create your docs using `docsify init <your docs folder>` and start writing markdown files in it and using `docsify serve <your docs folder>` command it will create a live-server where you can preview the site in realtime. Now to host it, simply host the `<your docs folder>` in your

[2019-11-24 09:03] #878 closed

[2019-11-24 09:05] anikethsaha commented on #876
I cant see any navbar or something. Please update the steps 👍

[2019-11-24 09:12] anikethsaha commented on #872
did you try this  ` loadNavbar: false` ?

[2019-11-24 09:37] anikethsaha commented on #895
Are you facing any issue having `_` in front?

If yes, then we can consider it as a bug after reviewing.
Else I don't think it is causing if works fine and it's just a different approach to solving a problem.

[2019-11-24 13:54] xmedeko commented on #889
#### What is current behaviour
See https://codesandbox.io/s/docsify-bug-tetpp

![Docsify_bug_889](https://user-images.githubusercontent.com/1101801/69495707-3692e280-0eca-11ea-8514-ab27851650f1.png)

#### What is the expected behaviour
Uncomment the `buble-fix.css` in the `index.html` to see what I would expect. Or see the the screenshots:

![Docsify_bug_889_expected](https://user-images.githubuse

[2019-11-24 14:14] bgpat commented on #895
The fragment link which starts of `_` and works on GitHub's Markdown parser doesn't work through Docsify. I faced this problem in creating the TOC to numbered heading block, e.g., `## 1. foo` or `## 2. bar`.

[2019-11-24 15:07] #942 closed

[2019-11-24 22:56] oren commented on #876
it looks like my entire website doesn't show the navbar. I didn't change anything in the last few weeks so I am not sure what's going on. I'll look into the issue and comment here. Thank you!

[2019-11-24 22:59] oren commented on #876
I just noticed that I can see the navbar when running it locally with `docsify serve`. Only when I push the repo to my github pages (https://oren.github.io/#/) the issue is happening.

[2019-11-25 02:04] anikethsaha commented on #876
Can you share your project structure and config
Also if possible just try some other hoisting service to cross check like Netlify or now

[2019-11-25 05:29] oren commented on #876
Here is the codebase: https://github.com/oren/oren.github.io

[2019-11-25 09:06] gFeng123 opened #957 "使用了docsify-demo-box-vue，但里面写了sass貌似编译不了，如何能支持模板里的sass"
## 使用docsify-demo-box-vue，写了sass，不能编译，导致写一个template,需要相应额外生成一个css文件引入，理想的效果是直接将模板里面的《style lang=“scss”》里面的sass编译成css，如何支持sass编译

[2019-11-25 09:09] gFeng123 commented on #957
使用docsify-demo-box-vue，写了sass，不能编译，导致写一个template,需要相应额外生成一个css文件引入，理想的效果是直接将模板里面的《style lang=“scss”》里面的sass编译成css，如何支持sass编译

[2019-11-25 10:35] PicchiKevin commented on #945
For the burher menu an aria label should do the trick although the button seems a bit small.

And for the text input here is what I was thinking of :
<img width="312" alt="screenshot on the search bar of docsify with an outer glow" src="https://user-images.githubusercontent.com/4269168/69532477-cfc70500-0f6d-11ea-97f0-ec9eef28b16a.png">
(An outer glow should be enough I thing, with the theme color

[2019-11-25 11:23] anikethsaha commented on #957
Please translate it to english and follow the template

[2019-11-25 11:27] anikethsaha commented on #945
Can you try this and share the screenshot

And about the input, try something which will work with other theme too. And I think the outer glow is bit more, try reducing it little bit

[2019-11-25 11:31] anikethsaha commented on #876
I need to manually check this and I can't do that till dec 5.
So in the meantime try hosting it in some other platform

[2019-11-26 06:38] #957 closed

[2019-11-26 06:40] anikethsaha commented on #857
Please explain in more details. I didnt get your issue

[2019-11-26 06:43] anikethsaha commented on #855
Do you want the compiled HTML for the markdowns?

The static command is in our roadmap for `v5` and it will be shipped in `v5`.
And if you want the compiled markdowns, its a runtime compiling so I guess you cant extract the HTML from it. You can try using webpack-html-extract-plugin but I dont think it will work.

Closing this as I hope this might help 👍
Please comment below if you want to add som

[2019-11-26 06:43] #855 closed

[2019-11-26 08:45] kinm commented on #728
+1

[2019-11-26 10:41] gigaga commented on #850
I've the same problem :(

[2019-11-26 11:09] anikethsaha commented on #850
It's quite difficult to cover all the cases with a single syntax. I will try to look around this soon.

[2019-11-26 11:12] gigaga commented on #850
@anikethsaha the behavior should be in function of relativePath?
Currently even if this parameter is false, img path generated still is in relative.

[2019-11-26 11:27] anikethsaha commented on #850
Yes

Need an investigation about this.

[2019-11-27 02:31] computerphilosopher opened #958 "string in angled brackets(<, >) is not printed"
## Bug Report

string that includes angled brackets is not printed

#### Steps to reproduce

write this in md file.

[code]

#### What is current behaviour

angled brackets with escape character are not printed.

angled bracekts are printed properly in [marked demo](https://marked.js.org/demo/). So I think it isn't marked's issue

#### What is the expected behaviour

\<angled brackets with escape

[2019-11-29 02:41] tonglei100 opened #959 "Please add a button of light or dark theme to be switching"
## Feature request
add a button which will switch the light or dark theme

#### What problem does this feature solve?

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

a button on the  top right corner

#### Are you willing to work on this yourself?

[2019-11-29 03:15] hpugongying commented on #941
@anikethsaha  same structure as docsify。
 Deploy on the server,  config nginx。 Open several more browser stealth windows access this link(http://docs.oa.com/#/readme.md),  can't locate to current location

[2019-11-29 03:25] anikethsaha commented on #959
Please translate to english

[2019-11-29 06:24] syedsimanta03 commented on #759
not working. basepath is local docs folder. deploy error

[2019-11-29 06:40] syedsimanta03 commented on #740
theme swicther toggle button needed

[2019-11-29 07:30] anikethsaha commented on #740
I guess creating a plugin for this might make it work.

[2019-11-29 13:24] anikethsaha commented on #958
I will take A look in it soon.
Thanks for pointing this

[2019-11-29 13:30] anikethsaha commented on #959
There is already an issue open about this #740
You can try creating plugin for it Or even a script in navbar.md will work.

You can take A look at #740
Closing this,  if you have something else, please comment.

[2019-11-29 13:30] #959 closed

[2019-11-29 14:03] gigaga commented on #370
+1, same behavior for me and same need :(

[2019-11-29 14:09] designermonkey opened #961 "Nested README"
I can set my `homepage` to something other than `README.md` but not any other subdirectory indexes. Anything else must always be `something/README.md`.

Why can't we have something like `something/index.md` or even for the simplest use case of case insensitive pages, `something/readme.md` (this fails with a 404)

[2019-11-30 14:18] mandaren opened #962 "发布到github pages，为什么边栏显示不出来？"
为什么边栏显示不正常

[2019-11-30 14:44] #962 closed

[2019-11-30 14:47] mandaren opened #963 "github页面不能正常加载边栏md"
本来以为是_siderbar.md这个下划线的问题，然后改了名，去掉下划线，并将index.html里的设置改成loadsiderbar：‘siderbar.md’，检查下浏览器，发现还是报404，没加载成功

[2019-11-30 15:16] anikethsaha commented on #963
Please translate it to english

[2019-11-30 15:27] mandaren commented on #963
操蛋

[2019-11-30 16:03] anikethsaha commented on #963
?

[2019-11-30 16:03] #963 closed

[2019-11-30 19:25] anikethsaha commented on #961
are you looking for something like this ? https://docsify.js.org/#/more-pages?id=more-pages

[2019-11-30 19:37] designermonkey commented on #961
Hi, yes I am, but the ability to choose the filename, as we can with the `homepage` config option, so I could set a global `index` option for example.

The code is hardcoded to look for `README.md`, whereas I may want `index.md` or even a lowercase `readme.md`.

Does that make sense?

[2019-11-30 19:39] anikethsaha commented on #961
I am sorry but I am not able to get your issue.
Can you show some snippet with before/after comparing the use-case.

[2019-11-30 19:51] designermonkey commented on #961
This works:

[code]

Using the `homepage` config option set to `homepage.md`

[code]

I would like to be able to do `homepage` config option set to `index.md`, and/or an `index` config option set to `index.md` so I can do

[code]

[2019-11-30 20:25] anikethsaha commented on #961
oh I get it now.

you want the homepage to be used as +/the fallback page right?

In general : -
We have `README.md` for fallback as for markdown based docs, readme.md works as the index.
You can see the same in GitHub as well.

So I wouldn't name my default or index points for a markdown based docs site to anything other than `README.md`

The homepage is different than fallback of the root index

[2019-12-01 03:46] mandaren commented on #963
翻译你妹，中文看不懂，装啥逼

[2019-12-01 03:46] mandaren commented on #963
搞形式的人可悲至极

[2019-12-02 06:56] anikethsaha commented on #843
You can create a plugin as well with this script.

[2019-12-02 06:57] anikethsaha commented on #839
Is it the same as the `update branch` button from the PRs ?

[2019-12-02 07:02] anikethsaha commented on #832
I am +1 for making the release script in more depth.

I was thinking about `standard-release` but that might change the `changelog`.

This looks interesting. Maybe we can have this.

[2019-12-02 07:16] #753 closed

[2019-12-02 07:26] anikethsaha commented on #657
Docsify needs a new markdown parser.

I think github uses the c++ version of this
https://github.com/benmills/robotskirt

[2019-12-02 08:50] anikethsaha commented on #694
@timaschew We need to tackle this kind of new tab request in a better way.

My suggestion

config would look like this

[code]

And this type of refactoring can be done for all type of link configured by the config object

And simply

[2019-12-02 08:53] anikethsaha commented on #728
@Wsine Can you refactor this a bit as per your choice and submit a PR to add this plugin in the docs.
Publish this as a plugin and submit it in the docs

[2019-12-02 09:10] #945 closed

[2019-12-02 09:25] anikethsaha commented on #914
did you try `_self` in `externalLinkTarget` ?

[2019-12-02 09:32] PicchiKevin opened #967 "Incorrect position of text between bracket (markdown)"
## Bug Report

#### Steps to reproduce
Case 1:
1. https://docsify.js.org/#/more-pages?id=sidebar
2. Look at the `Create the _sidebar.md:` part
3. The part between the bracket is suddenly at the top and on top of each other (See screenshot)

Same behavior is happening there:
- https://docsify.js.org/#/custom-navbar?id=html
- https://docsify.js.org/#/custom-navbar?id=nesting
- Probably on other page

[2019-12-02 09:33] PicchiKevin commented on #967
I've got a fix ready if it's ok

[2019-12-02 09:37] anikethsaha commented on #967
Go on 👍

[2019-12-02 10:37] mkukulka opened #968 "Get error during installation"
## Bug Report

#### Steps to reproduce

Tried to install Docsify via Terminal.app on MacOS.

#### What is current behaviour

Get an error during the installation. I am the only user of the computer, so I am also an Administrator. I tried to install Docsify with "npm i docsify-cli -g".

[code]

#### What is the expected behaviour

#### Other relevant information

- [ ] Bug does still occur when all

[2019-12-02 10:53] PicchiKevin commented on #968
Hi,
That would be the right repository to post the issue to: https://github.com/docsifyjs/docsify-cli

[2019-12-02 11:05] #843 closed

[2019-12-02 11:05] #835 closed

[2019-12-02 11:13] #967 closed

[2019-12-02 13:06] vkallore commented on #914
Sorry missed this comment as we continued discussion on the PR #917

[2019-12-02 13:09] anikethsaha commented on #914
Issue description is explained in details in #917

[2019-12-02 13:09] #914 closed

[2019-12-02 18:47] insthync opened #970 "Multiple embed files not loaded correctly"
## Bug Report

#### Steps to reproduce
Embedding multiple bullet list .md files, for example:

**Sources in _test-embedding.md**
[code]

**Sources in media/a.md**
[code]

**Sources in media/b.md**
[code]

**Sources in media/c.md**
[code]

And also try refreshing page sometime it will show up incorrectly like this:
![Screenshot_227](https://user-images.githubusercontent.com/2697550/69987985-46b65c0

[2019-12-03 03:07] czz1233 opened #971 "[BUG]Edge browse show <li>unfriendly,but the chrome show well"
## Bug Report
the bug is edge browers show unfriendly
![image](https://user-images.githubusercontent.com/27494661/70016283-dcc1a500-15ba-11ea-921d-e4936561d9cb.png)

#### Steps to reproduce

I think should change the js,but i don't where.

#### What is current behaviour
this is my code
[code]
![image](https://user-images.githubusercontent.com/27494661/70016575-acc6d180-15bb-11ea-87e4-42933d9bd157.

[2019-12-03 06:44] anikethsaha commented on #971
Can you send the style from inspecting the elements

[2019-12-03 08:03] czz1233 commented on #971
I useed  the `<link rel="stylesheet" href="//unpkg.com/docsify/lib/themes/vue.css">`  css
![image](https://user-images.githubusercontent.com/27494661/70031279-d72d8480-15e5-11ea-9b8b-9269272e9d77.png)

[2019-12-03 08:17] anikethsaha commented on #971
Can you share for the chrome?

There might be some compatibility issues with cross-browser styling. The styling in the theme seems fine. Need to investigate that.

[2019-12-03 08:18] anikethsaha commented on #971
Please feel to investigate and submit the fix. I am might not have time to fix it soon.

[2019-12-03 08:31] czz1233 commented on #971
think you,i believe that i can deal with the problem.

[2019-12-03 08:32] anikethsaha commented on #971
great 👍

[2019-12-05 05:04] Wsine commented on #728
@anikethsaha Well, it seems that current version did not satisfy all the demands on collapsable sidebar. I will try my best when I have time.

[2019-12-05 05:39] anikethsaha commented on #728
Sure👍

[2019-12-05 09:27] yhhwpp commented on #136
+1 on the feature request.

[2019-12-05 16:26] UserR00T opened #972 "When 'logo' is set, 'name' is not escaped properly inside the 'alt' field."
## Bug Report
When `window.$docsify.logo` is set, `window.$docsify.name` does not get escaped properly.

#### Steps to reproduce
1. `mkdir test && cd test`
2. `docsify init . && docsify serve .`
3. set `window.$docsify.name` to `"` and `window.$docsify.logo` to [a random image.](https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg)

#### What is current behaviour
It

[2019-12-06 05:49] lvyongfeng commented on #920
@yuxesd 您好，请问你使用 alias  解决 404  的配置语法可以共享一下吗？

[2019-12-06 05:49] lvyongfeng commented on #920
@yuxesd Hello, can you share the configuration syntax of 404 using alias?

[2019-12-06 06:47] lvyongfeng opened #973 "When accessing a page that does not exist, the page will be in the pending state and the page will be stuck."
## Bug Report
When accessing a page that does not exist, the page will be in the pending state and the page will be stuck.
#### Steps to reproduce

For example，When I visit campus.xxxx.com/compute/uhost/introduction/uhost/dhag.md, this page does not exist.

using routermode history
setting alias '/.*/_sidebar.md': '/_sidebar.md'
3.using the latest version of Docsify

#### What is current behaviour

[2019-12-06 06:51] anikethsaha commented on #973
share your config !

and also your docs project structure.
I cant re-create the error as I am getting the 404s in my setup and even from the docs site

[2019-12-06 07:10] lvyongfeng commented on #973
The main problem is to configure "routerMode: 'history'," then 404 will not work。I use nginx to build docsify and the index.html configuration is as follows:

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UCloud-中立 安全 可信赖的云计算服务商</title>
  <link rel="icon" href="_media/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="descript

[2019-12-06 07:12] lvyongfeng commented on #973
The main problem is to configure "routerMode: 'history'," then 404 will not work。I use nginx to build docsify and the index.html configuration is as follows:

[code]

[2019-12-06 07:14] lvyongfeng commented on #973
nginx configuration is as follows：

[code]

[2019-12-06 07:20] lvyongfeng commented on #973
The document directory structure is as follows:

[code]

[2019-12-06 07:23] lvyongfeng commented on #973
@anikethsaha  Some members use alias to solve the same problem, but I don't understand how the alias name can solve this problem. Questions are as follows:
https://github.com/docsifyjs/docsify/issues/920

[2019-12-06 07:31] anikethsaha commented on #973
Alias is helpful for custom routes or if you want to change Or add some routing behavior
In this you are using can you just check with `hash` mode.

[2019-12-06 07:45] lvyongfeng commented on #973
I want to delete the `#` of each page URL of the document station, so I use the `history` mode, and I expect to restore 404 pages in` history` mode. Like # 920 issue, hope to solve the problem through configuration.

[2019-12-06 07:48] anikethsaha commented on #973
need investigation. I will look into this soon

[2019-12-06 15:44] mainameiz commented on #795
@db-ampetronic very helpful comment, thanks!

[2019-12-06 22:20] BinaryPaean commented on #750
I can't even figure out how to activate front-matter to simply prevent YAML frontmatter in my 'README.md' from polluting the docsify site.

I've tried variations of:
[code]
With no success. Can anyone point me at basic usage?

[2019-12-07 05:55] Koooooo-7 commented on #938
Halo.
In my opinion.Docisify is designed as  a lightweight documents site  generator that u can use/deploy  it easily.
Docicify doesn't hv something like “Admin Manage”.. in other words.. it hasn't the BACK END.
It seems a lot of things to do (user login/block/delete/user roles...etc) to make Docisify has an “User Manage”(has an BACK END)...and it would make Docisify  too heavy .
What u want I thi

[2019-12-07 06:35] #938 closed

[2019-12-07 14:41] lvyongfeng commented on #973
@anikethsaha OK, look forward to your investigation and solution, thanks.

[2019-12-07 14:43] anikethsaha commented on #973
In the meantime, if you can provide a reproducible repo, It would be great for speeding things up.
Also feel free to investigate from your side as well and submit a fix if you find it.
It will speed up the process.

Thanks

[2019-12-07 14:54] lvyongfeng commented on #973
OK, I will continue to investigate and try to fix it.

[2019-12-07 15:02] anikethsaha commented on #973
Great 👍

[2019-12-09 07:38] lvyongfeng commented on #973
@anikethsaha Through investigation and trying, I couldn't find a solution. I am going to use the 'hash' routing mode, thanks for your help.

[2019-12-09 07:38] #973 closed

[2019-12-09 08:08] anikethsaha commented on #973
Ok i am looking at this . Will let you know here if I find something

[2019-12-09 13:31] itflash opened #975 "how to search content in embed md files"
## Bug Report

#### Steps to reproduce

1.embed a markdown file like the code below.
`[filename](_media/example.md ':include')`

2.type some words that example.md contains and start searching.

#### What is current behaviour

cannot search content in embed md files

#### What is the expected behaviour

display search result correctlly

#### Other relevant information

- [ ] Bug does still occur wh

[2019-12-09 15:01] anikethsaha commented on #975
you want to embed a markdown file ? and then search from that ?

[2019-12-09 15:50] itflash commented on #975
@anikethsaha yes, is it possible to do that?

[2019-12-09 16:19] anikethsaha commented on #975
how you are planning to embed markdown inside markdown ?
as far as I know, embedding markdown is not possible unless its process to html file.

[2019-12-09 23:12] bountyx commented on #136
https://github.com/egoist/presite might be useful here

[2019-12-10 00:44] itflash commented on #975
@anikethsaha `[filename](_media/example.md ':include')`

[2019-12-10 13:25] anikethsaha commented on #975
I couldn't find any spec for using this over markedjs (_may be I am missing something_)
 anyway, even if it is supported by marked, it cant be searched inside the embedded ones.

[2019-12-10 20:52] cliffhall commented on #360
exactly. I have a folder with a lot of files and don't want to add them individually.

[2019-12-11 08:19] timaschew commented on #839
I think so. But not sure if the contributor can press the button because of permissions.

[2019-12-11 08:24] #972 closed

[2019-12-12 01:42] computerphilosopher commented on #958
I think this issue occured because marked is old.

When I choose 0.5.1 version in marked demo, this issue is reproduced.

probably new release can fix this.

[2019-12-14 14:05] alexpeasleyghc commented on #878
@msi-matthew After setting the Mime type for Markdown (see below) then my site rendered as expected. You should be able to copy everything from your docs folder into your target website folder.

Add Meme with these values.
Extension: "md"
Mime Type: "text/x-markdown"

[2019-12-16 13:58] dialex opened #976 "Markdown: quoted word should be italic"
## Bug Report

<img width="356" alt="Screenshot 2019-12-16 at 13 51 31" src="https://user-images.githubusercontent.com/2140450/70912244-75b8dd00-200b-11ea-8678-a257149c56da.png">

#### Steps to reproduce

- Create a Markdown file with `This text with *"quotes and italic"* should be italic.`

#### What is current behaviour

Text is not italic and displays the `*`.

#### What is the expected behavio

[2019-12-16 14:01] #976 closed

[2019-12-16 16:13] msi-matthew commented on #878
@alexpeasleyghc Where are you setting the mime type?

Is this an IIS setting?

[2019-12-16 16:18] alexpeasleyghc commented on #878
@msi-matthew - Yep, in IIS. Google "Mime Type in IIS"

[2019-12-16 20:13] from-nibly opened #978 "Installing docsify-cli fails on postinstall"
## Bug Report
`npm i -g docsify-cli` results in a failure due to a postinstall error
[code]

#### Steps to reproduce
`npm i -g docsify@4.10.0`

#### What is current behaviour

Fails to install

#### What is the expected behaviour

Shouldn't fail on install.

#### Other relevant information

- [x] Bug does still occur when all/other plugins are disabled?

- Your OS: linux
- Node.js version: v12.13.

[2019-12-16 21:10] anikethsaha commented on #978
Thanks for pointing this. Looks like we are using outdate opencollective CLI which is not compatible. I will fix it soon

[2019-12-16 21:54] anikethsaha commented on #978
Please check with this https://www.npmjs.com/package/docsify/v/4.10.2

[2019-12-16 21:57] anikethsaha commented on #978
![image](https://user-images.githubusercontent.com/26347874/70946356-0b408500-207d-11ea-95c4-cf18dd6d2470.png)

Its installing properly.

Please comment if its still existing 👍

[2019-12-16 21:57] #978 closed

[2019-12-16 22:23] from-nibly commented on #978
Awesome turnaround thanks!

[2019-12-17 00:08] mrpotatoes opened #980 "Allow access to the markdown API within plugins."
## Feature request
I recently finished a plugin for Docsify to allow someone to pull in a github source file (or bits of a file) and inline it into the document. It's very simple in how it does it but one thing that I am not able to do is style the code. It would be great if I had access to the markdown parser so that I could pass it a string like ` ```js console.log()``` and I get the formatted t

[2019-12-17 02:26] lvyongfeng opened #981 "After updating to the latest version, the css configured on "name" does not take effect"
## Bug Report
After updating to the latest version, the css configured on "name" does not take effect。
Example：
```name: '<div><b style="font-size: 22px">test</b></div>', ```
#### Steps to reproduce
[code]
Use "docsify" latest version

#### What is current behaviour
![image](https://user-images.githubusercontent.com/16010230/70959163-65117100-20b6-11ea-999a-dc9c9ddf2cae.png)

#### What is the expe

[2019-12-17 06:22] anikethsaha commented on #981
DO you have `config.logo` set ?

Usually ,  you need to add the logo in `config.logo` and set a string name for `config.name`

It will break if you assign an image to `name`

[2019-12-17 07:31] haozibi opened #982 "Show Gist In Markdown"
## Bug Report

hello,I have a problem. I write gist embed link in markdown,but docsify don't show it.

I want to know how to show gist in docsify

#### Steps to reproduce

- index.html

[code]

- markdown

[code]

#### What is current behaviour

Chrome console show

[code]

I am not very good at the FrontEnd, so I am confused about the problem. sorry~~

#### What is the expected behaviour

#### Ot

[2019-12-17 08:37] lvyongfeng commented on #981
I don't want to use a picture as the title on the sidebar. However, after upgrading to the latest version, titles configured with "name" cannot be bolded or enlarged with "CSS". Available when 'name' is configured with the '4.9.4' version.
Hope that can be helped, thanks.

[2019-12-17 08:49] anikethsaha commented on #981
Actually in new version we are escaping the special characters like
`<>` etc.
So as of now we you can style.
Try to get the classname and style it from your stylesheet.
I will try to figure out a way to cover this use case soon

[2019-12-17 09:14] lvyongfeng commented on #981
OK，Thanks !

[2019-12-17 09:20] anikethsaha commented on #981
You can find the motivation behind this change here #972

[2019-12-17 09:20] #981 closed

[2019-12-17 15:04] anikethsaha commented on #980
You want to parse the markdown to HTML and then want to return that ?

[2019-12-17 15:13] anikethsaha commented on #982
can you share a reproducible repo.

[2019-12-17 15:19] haozibi commented on #982
like this: https://gist.github.com/haozibi/3a7a87ec010374c4ad5b926bd695fca9

[code]

[2019-12-17 15:20] anikethsaha commented on #982
Not the gist , a repo would have been better.
Ok leave, I will take a look in this soon 👍

[2019-12-17 15:22] #729 closed

[2019-12-17 15:33] haozibi commented on #982
Maybe u can look [https://github.com/haozibi/t-docsify](https://github.com/haozibi/t-docsify)

step 👇

[code]

[2019-12-17 15:36] anikethsaha commented on #982
You need to enable this `executescript:true`  in order to run the inline scripts , here is the docs https://docsify.js.org/#/configuration?id=executescript

[2019-12-17 15:44] haozibi commented on #982
same problem, but console log is different.

u can look https://github.com/haozibi/t-docsify/commit/6fa6dfb190149de0df315050c061de23b76e7549

![image](https://user-images.githubusercontent.com/13708418/71010530-f6b8c700-2126-11ea-920e-9e3ccee6833c.png)

[2019-12-17 15:53] anikethsaha commented on #982
Thanks , I will take a look soon.
In the meant time,  could try with other external links and just check if the behavior is the same or not.

[2019-12-17 16:28] mrpotatoes commented on #980
Yes, exactly. I would rather not bring in yet another package to just style the code if at all possible.

[2019-12-17 16:36] anikethsaha commented on #980
`beforeEach` hook is when you will get the markdown and `afterEach` when you will get the html.
We cant pass the whole `marked` library as it might make the operation slow and its less effective to pass the whole parser.

In future we may change the markdown parser to some pluggable parser where you can write our own markdown transforms as per your need.

If you want to make changes acc to lang, t

[2019-12-18 01:46] mrpotatoes commented on #980
`beforeEach` does allow me to return what I want but it doesn't allow for `async` `await` so I'll have to think about how I do this. Thanks!

[2019-12-18 01:46] #980 closed

[2019-12-18 03:35] Koooooo-7 commented on #982
In my opinion.u can't include the "Gist  js "directly.
There is a  part of content of the "Gist js "such as u posted（`https://gist.github.com/haozibi/3a7a87ec010374c4ad5b926bd695fca9.js  `).

[code]
We can't use the `document. write` in async loading after the document loaded over.
I think u should change another way to resolve this issue.

[2019-12-19 05:43] trusktr opened #984 "feature: support of all markdown features and plugins in the sidebar."
## Feature request

It'd be great for all markdown features of pages to also work in the sidebar too. For example, suppose we want to use https://github.com/jhildenbiddle/docsify-tabs to put tabs in the sidebar, or something.

#### What problem does this feature solve?

Makes the site more customizable.

#### What does the proposed API look like?

From an end user perspective, they just write mark

[2019-12-19 05:44] trusktr commented on #981
Maybe we need more flexibility to use all features in the sidebar. https://github.com/docsifyjs/docsify/issues/984

[2019-12-19 08:21] anikethsaha commented on #984
Tabs in the sidebar are not much useful. Maybe collapsable in the sidebar.

I think these can be done using `script` in the markdown file itself.

Can you name a few features which can be implemented?

If plugins for the sidebar is aimed, then we need more hooks in the lifecycle. But before working on this we need the correct use-case which will be solved.
Also I would keep this for v5 as tests ar

[2019-12-19 16:55] didiraja commented on #643
Just what I needed, really into specify classname to elements

[2019-12-20 02:19] meganhkelley commented on #214
@palypster did you ever figure this out, or did docsify ever add support this functionality?

[2019-12-20 10:05] palypster commented on #214
I don't know. I quit using docsify, sorry.

[2019-12-23 19:05] anikethsaha opened #987 "Eslint fixes for the project"
After adding eslint, if your run `npx eslint .` it will show huge number of errors and warning.

This issue is to fix those errors and warning and remove/add eslint rules if required after discussing here.

Also, eslint script and `.eslintignore` should be configured as follows.

`package.json`

[code]

`.eslintrc`

[code]

- [ ] Npm script fix
- [ ] `.eslintrc` refactore
- [ ] Errors fix
- [ ] Wa

[2019-12-24 16:32] IvanFrescas commented on #987
Hi, is anyone working on this issue?

[2019-12-24 16:37] anikethsaha commented on #987
no, feel free to pick this 👍

[2019-12-25 15:05] imruxin opened #988 "history mode, nginx second-level directory 403"
when I used history mode，refresh the web，show 403 Forbidden.
the first is ok.

docsify config:

[code]

doc directory:

[code]

the first view url/guide/ is ok, after refresh show 403 forbidden.

url/guide/git-flow-guide is always ok. not show 403

nginx config:

[code]

how to fix it ?

thanks

[2019-12-26 01:22] lvyongfeng commented on #988
Please check the permissions of "nginx" for the directory '/ data / www / doc', and also check if the 'user' in the nginx configuration file is consistent with the directory permissions.
 

[2019-12-26 01:35] imruxin commented on #988
@lvyongfeng permissions is ok. In my option, this question maybe is lack of index file on the 'url/guide/' when direct access it.

url/guide/git-flow-guide is always ok. not show 403 forbidden.

[2019-12-26 14:17] imruxin commented on #988
nginx add `error_page 403 /index.html;` fix it.

[2019-12-26 14:17] #988 closed

[2019-12-27 15:55] giulioambrogi commented on #987
Hi @anikethsaha @IvanFrescas I've just open a PR for this issue https://github.com/docsifyjs/docsify/pull/989

[2019-12-28 16:07] Hainesy opened #990 "HTML (image) stopped working in name property on Github pages"
We had a logo top left using HTML embedded in the name field but it's suddenly stopped working in Github pages.

[code]

[2019-12-28 16:24] anikethsaha commented on #990
Actually we recently did escaping of tags and other char in the latest version. But I am thinking of reverting that.
Till the next release use `v4.9.4`

[2019-12-28 16:42] #990 closed

[2019-12-29 21:24] trusktr commented on #984
Here's a good example of tabs in the sidebar, in the Three.js docs: https://threejs.org/docs/index.html#manual/en/introduction/Creating-a-scene

It works really well there.

[2019-12-29 22:35] trusktr commented on #984
I currently have "docs" and "examples" in my sidebar, as two lists stacked on top of each other, but it takes up much space. I think I like the separation of docs and examples in the Three.js sidebar.

In general, I think we can somehow improve the flexibility of the sidebar later.

[2019-12-30 00:15] ghost opened #993 "Cover page background color can't be changed to gradient"
## Bug Report

#### Steps to reproduce
Create Cover page with Gradient
`![color](linear-gradient(to left bottom, #b3ffc8 0%, #eeffb3 100%))`

#### What is current behaviour
It's just displaying as text on the Cover page

#### What is the expected behaviour
Backrgound of Cover page should change to a gradient

#### Other relevant information

- [x] Bug does still occur when all/other plugins are di

[2019-12-30 06:31] v7lin commented on #927
i have same problem

[2019-12-30 07:21] anikethsaha commented on #993
You cant use `to left bottom` here cause it contains spaces so `marked` won't create a `p.img` tag here
so our regex [`here`](https://github.com/docsifyjs/docsify/blob/develop/src/core/render/index.js#L182) wont match and it won't render the styles

you can try this [`here`](<https://marked.js.org/demo/?outputType=html&text=%0AMarked%20-%20Markdown%20Parser%0A%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3D%3

[2019-12-30 16:31] #987 closed

[2019-12-30 18:46] Fenny opened #994 "Collapse one page?"
I have one README.md file that has the following structure:
[code]

This works fine with docsify and I get a nice sidemenu:
[code]

But i cannot find an option to collapse this menu.
And I don't want to separate my sections into multiple files, I rather have an one-page.

Any solutions?

[2019-12-30 18:47] radarNetwork commented on #993
That worked. It's not documentated (which is really ironic) how to use a linear-gradient.
Thanks a lot!

[2019-12-30 19:24] anikethsaha commented on #993
would you share your workaround?
maybe update the docs as well with your code snippet

[2019-12-30 19:40] anikethsaha commented on #984
They moved their navbar to sidebar right ?

[2019-12-30 19:42] anikethsaha commented on #984
I am +1 for both tabs and collapsible.

🎉

[2019-12-30 19:44] anikethsaha commented on #994
They are kind of collapsible but not with the effect.
We don't support complete collapsible behavior right now. Maybe in a future release or maybe some plugin can come to the rescue.

Silimar discussion is here https://github.com/docsifyjs/docsify/issues/984

[2019-12-31 03:41] trusktr opened #995 "Remove globals (when we get a chance)"
## Feature request

Let's remove globals. Does `_paq` need to be a global?

#### What problem does this feature solve?

Cleaner more robust code.

#### What does the proposed API look like?

no globals

#### How should this be implemented in your opinion?

move things off global and share the variables only the scopes where needed.

#### Are you willing to work on this yourself?

As with everythin

[2019-12-31 03:55] trusktr commented on #995
Arrgh, apparently Matomo requires the global `_paq` var: https://developer.matomo.org/guides/tracking-javascript-guide

[2019-12-31 17:24] methodbox commented on #860
This actually doesn't work at all.

using:

[code]
...simply does nothing. Even setting it to `false` doesn't get rid of the sidebar. Kind of sad that the owner doesn't seem to care because this renders their project useless since you can't even get rid of the useless sidebar.

Lame.

[2019-12-31 17:32] methodbox commented on #872
You know none of these flags actually work?

[2019-12-31 18:13] anikethsaha commented on #872
I didnt get you

[2019-12-31 18:15] anikethsaha commented on #872
By default both `sidebar` and `navbar` are false which means, they are not visible.

[2019-12-31 20:30] methodbox commented on #872
Then why is there a side nav shown by default, and why doesn’t `sideBar: “mysidebar.md” do anything?

Setting `sidebar: “false”` doesn’t hide it, either, and since it won’t load mine, it’s useless.

It looks like `navBar: “mynavbar.md”` works, but since I can’t get rid of (and it doesn’t do so automatically, which seems it should) the side bar, they overlap.

[2019-12-31 20:40] anikethsaha commented on #872
Thanks for the details 👍
I will try to reproduce it locally.

It seems like a bug here
https://github.com/docsifyjs/docsify/blob/db97a1d22a89ddb8de0e1dcbb290a7d7ca4ec1f5/src/core/render/index.js#L50

[2020-01-01 00:00] trusktr commented on #872
There might be bugs that we should fix. We're in the process of adding unit tests, so hopefully any regressions won't happen in the future. We're not the original authors, so we're not 100% aware of any regressions, if any, but if you see anything, please do open an issue. That'd help a lot!

[2020-01-01 00:03] trusktr commented on #872
Here's an idea for a workaround: you could add a CSS style that applies `display: none` on certain pages for the navbar, and on other pages make sure to remove that CSS style.

Another idea: you could listen to route changes, and add/remove the CSS style on route changes.

[2020-01-01 17:11] methodbox commented on #872
Yep, totally understand how I can work around it, but then, if I’m going to take the time to build custom logic or CSS for and “auto”-generated site, then it isn’t very auto, is it?

The goal of a tool like this seems like it should be to be fairly effortless and definitely shouldn’t require writing additional code, otherwise I could just use JSDoc out of the box and do the custom theme work mysel

[2020-01-01 17:57] anikethsaha commented on #872
We are sorry for this issue.
I will find a time soon to fix this one.

This project was not active for a long time and we are finding time in between to resolves these types of issues. we don't have tests to support us either.  having tests would pick these kinds of bugs.
We think too that we should not have workarounds to get our stuff going but at this point, this is the quick fix.

If you find

[2020-01-01 17:59] anikethsaha commented on #995
Globals are hard to determine whether they are being used or not.
It's too risky to remove unless we have tests

[2020-01-01 18:43] methodbox commented on #872
Will do. I might take a look tomorrow.

[2020-01-01 18:48] anikethsaha commented on #872
Cool

[2020-01-06 11:12] yuxesd opened #997 ".md file and directory with the same name"
## Bug Report
In the same path, if there is an .md file and folder with the same name, when accessing the md file with the same name, it will automatically access the readme under the folder with the same name

#### Steps to reproduce
ef:
In the test directory, there are both the uname.md file and the uname directory.  I want to visit https://dsda.com/test/uname, but  the url will jump to https://

[2020-01-06 11:26] anikethsaha commented on #997
whats the behavior for https://dsda.com/test/uname/uname.md ?

[2020-01-06 11:36] yuxesd commented on #997
The page can be displayed normally

[2020-01-06 11:36] yuxesd commented on #997
The page can be displayed normally

[2020-01-06 11:43] anikethsaha commented on #997
Okay so what I understood from your issue is

[code]

So when visiting

- `dsda.com/test/uname` --> it will show the `uname/README.md`
- `dsda.com/test/uname/uname.md` --> it will show the `uname/uname.md`

**right ?**

Well, this is the expected behavior as `README.md` is the default markdown file when works like `index.js` for a js project.

You can change the default markdown file from `README.

[2020-01-07 01:47] yuxesd commented on #997
My project structure is that

I want to visit   /test/uname ,but  url will jump to  /test/uname/ ， readme.md file under the uname directory.

[2020-01-07 08:25] Saul-Mirone opened #998 "Add code block highlight for more language."
## Feature request

#### What problem does this feature solve?
I try to use docsify for my typescript project but I found that typescript cannot be highlight

#### What does the proposed API look like?

#### How should this be implemented in your opinion?
maybe highlight.js will be useful

#### Are you willing to work on this yourself?
I will give it a try.

[2020-01-07 08:38] anikethsaha commented on #998
You can add `highlight.js` to `markedjs` config
https://docsify.js.org/#/markdown
https://github.com/markedjs/marked/blob/master/docs/USING_ADVANCED.md

[2020-01-07 10:49] Saul-Mirone commented on #998
Great!

[2020-01-07 10:49] #998 closed

[2020-01-08 08:28] yuxesd commented on #997
I have solved this problem。
alias:{
  '/(.*)(\/)$':'$1.md'
}

[2020-01-08 08:28] #997 closed

[2020-01-08 09:04] yuxesd commented on #920
alias比较麻烦，我最后用nginx来解决404的，配置如下
server {
   location ~* .(md)$ {
      }
      location / {
          index  index.html;
         try_files $uri $uri/ /index.html;
         error_page 403 /index.html;
       }
}

window.$docsify = {
  notFoundPage:'404.md',
}

https://docs.ucloud.cn/

[2020-01-08 09:15] lvyongfeng commented on #920
@yuxesd OK ，Thanks 。

PS: We may be colleagues 。

[2020-01-10 16:33] jasonkuhrt opened #1001 "unable to run docsify"
## Bug Report

#### Steps to reproduce

Not sure what's going on.

[code]
[code]
[code]

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn version:
- Browser version:
- Docsify version:
- Docsify plugins:

[2020-01-10 16:43] jasonkuhrt commented on #1001
nm https://stackoverflow.com/questions/30344858/node-script-executable-not-working-on-mac-env-node-r-no-such-file-or-directo

[2020-01-10 16:43] #1001 closed

[2020-01-12 14:17] fish7dining opened #1002 "search plugin not working"
## Bug Report

#### Steps to reproduce
1. add '<script src="//unpkg.com/docsify/lib/plugins/search.min.js"></script>' in index.html

#### What is current behaviour
1. the search button show up, but whateever i search, it returns no result.

#### What is the expected behaviour
1. i hope it can show the results what i search.

#### Other relevant information

- [ ] Bug does still occur when all/othe

[2020-01-15 04:44] #994 closed

[2020-01-15 13:24] hpugongying opened #1003 "What about this mistake，How do I get rid of this error?"
![image](https://user-images.githubusercontent.com/30855747/72437267-54e7d100-37dd-11ea-832e-ad1efe75e336.png)

request this link
http://sangfor-3f8d:100/src/iwa/index.js?t=1579083283
401 error

[2020-01-15 13:25] #1003 closed

[2020-01-15 13:26] hpugongying opened #1004 "What about this mistake，How do I get rid of this error?"
request this link
http://sangfor-3f8d:100/src/iwa/index.js?t=1579083283
401 error

[2020-01-15 13:30] anikethsaha commented on #1004
please dont remove the issue template.
Fill that template in order to help us understand your issue better

[2020-01-15 13:30] #1004 closed

[2020-01-15 13:32] anikethsaha commented on #1002
whats the error or logs ? share your config as well.

[2020-01-15 13:33] #993 closed

[2020-01-15 13:34] #975 closed

[2020-01-15 13:37] anikethsaha commented on #961
use https://docsify.js.org/#/configuration?id=homepage

[2020-01-15 13:37] #961 closed

[2020-01-15 13:40] anikethsaha commented on #958
try using `docsify@4.10.2`

[2020-01-15 13:40] anikethsaha commented on #958
Please comment if its still exist

[2020-01-15 13:40] #958 closed

[2020-01-15 13:43] anikethsaha commented on #924
@CatchLife can you explain this a bit. is it a feature request or bug ?

[2020-01-15 13:53] anikethsaha commented on #944
I dont think its a good idea to change the sidebar from current style. Please submit a new issue if you have better proposal or a better solution.
Thanks

[2020-01-15 13:53] #944 closed

[2020-01-15 13:56] anikethsaha commented on #922
@mohammadanton please submit a new PR for this or change #929
THanks

[2020-01-15 13:57] anikethsaha commented on #879
Please comment if it still exist 👍
thanks

[2020-01-15 13:57] #879 closed

[2020-01-15 13:59] anikethsaha commented on #889
Feel free to submit the fix

[2020-01-15 14:04] anikethsaha commented on #875
need more info for this

[2020-01-15 16:31] gigaga opened #1005 "Embed files does not work"
## Bug Report
By using the last release of docsify (from CDN https://cdn.jsdelivr.net/npm/docsify@4), the feature Embed files does not work.

#### Steps to reproduce

From the code below :
[code]

#### What is current behaviour
The render will be a link name filename.

#### What is the expected behaviour
The test.md content should be rendered directly (embedded).

#### Other relevant information

[2020-01-15 16:33] anikethsaha commented on #1005
is it same for prev version ?

[2020-01-15 16:36] gigaga commented on #1005
I tried with :
- https://cdn.jsdelivr.net/npm/docsify@4.10.2 --> KO
- https://cdn.jsdelivr.net/npm/docsify@4.6.0 --> It works
- https://cdn.jsdelivr.net/npm/docsify@4.8.0 --> It works
- https://cdn.jsdelivr.net/npm/docsify@4.9.0 --> KO

:(

[2020-01-15 16:37] anikethsaha commented on #1005
thanks, I will check it soon 👍

[2020-01-15 16:41] gigaga commented on #1005
Also, from @4.8.0, embed file feature works, however, from a specific plugin, I'd like to change content so, from

[code]

`content` is only the content of main MD file. I'm not able to change content of an embed file :(.

Thanks a lot for your feedback!

[2020-01-15 16:46] anikethsaha commented on #1005
Yes it can't read the embedded file's code

[2020-01-15 18:10] gigaga commented on #1005
No workaround is possible?
Thanks

[2020-01-15 18:17] anikethsaha commented on #1005
i cant say that right now, I need to check and try.
I am not sure how markedjs process embedded files that's why.
Feel free to investigate 👍

[2020-01-15 18:18] stratosgear commented on #1005
what a coincidence! I just got hit by it right now!

Try with single quotes, like in: `[filename](./test.md ":include")`.

Works for me!

[2020-01-15 18:23] anikethsaha commented on #1005
@gigaga can you try this

[2020-01-15 19:33] xmedeko commented on #889
I do not know CSS well, the `buble-fix.css` more a workaround than fix. If I remove the rule from `buble.styl`:
[code]
Then the margins are a bit smaller, but it looks ok for me. Moreover, there's one more rule with `ul, ol` margin:
[code]

So, instead of adding new rules, the `buble.style` should be cleared and fixed, but do not know exactly how to fix that.

[2020-01-16 05:21] computerphilosopher opened #1006 "header link in github flavored markdown mode."
## Bug Report

#### Steps to reproduce

set 'gfm' attribute to true and make a header link that has a hyphen('-') in it.

#### What is current behaviour

I have to write in this way

[code]

#### What is the expected behaviour

but when I make header link in github, I have to write in this way.

[code]

I think link text should be same as github because I set gfm mode to true.

[I reported a issue

[2020-01-16 09:08] gigaga commented on #1005
Hello @anikethsaha

Like you, it's work by using single quotes!

Thanks!

[2020-01-16 09:17] gigaga commented on #1005
About embedded files processing, I can do what I want by override markdown function.

Thanks again :)

[2020-01-16 09:21] anikethsaha commented on #1005
Yea you can use the plugin hook to get into the core op.

[2020-01-16 09:21] Neatoro opened #1007 "Search does not work with deeply nested file structure"
## Bug Report

#### Steps to reproduce

- Create a file structure deeply nested (folder with subfolder)
- Create a custom side bar.
- Initialize Search plugin with `search: 'auto'`.
- Try to Search for content

#### What is current behaviour

Console shows the following error, search does not work.

![Error](https://user-images.githubusercontent.com/1591511/72510505-d8d7a280-3849-11ea-8427-fef0251

[2020-01-16 09:24] cobish commented on #1003
@hpugongying 请问这个问题你解决了吗，我也遇到了

[2020-01-16 12:58] dellagustin-sap commented on #944
Hello @anikethsaha , thanks for your responses and please accept my apologies for being unresponsive.
I could not address this due to my own priorities, but it is a tracked issue in the project where I use docsify, so I will do as you suggested and come back with a new issue when I have the time to work on this.

[2020-01-18 17:57] trusktr commented on #1006
We'll need to investigate this.

[2020-01-19 15:06] Violet-Bora-Lee commented on #871
i want to join the proocess. :)

[2020-01-21 22:21] theoephraim opened #1009 "emojis in titles not working correctly"
## Bug Report

Processing the emojis in titles isn't working correctly. Sometimes just turning it into a single ":" character. Seems to work correctly if no leading space before the emoji code.

#### Steps to reproduce

Insert this content in a page
[code]

#### What is current behaviour
![image](https://user-images.githubusercontent.com/1158956/72848269-3c126c00-3c72-11ea-8f7e-2bc61eb2e6d0.png)

[2020-01-26 08:57] qiuqiuwang99 opened #1011 "--local 参数，运行失败。提示错误"
## Bug Report

#### Steps to reproduce
[root@localhost /]# docsify init ~/doc1 --local
/usr/local/lib/node_modules/docsify-cli/node_modules/yargs/yargs.js:1184
      else throw err
           ^

TypeError: Assignment to constant variable.
    at Object.module.exports [as init] (/usr/local/lib/node_modules/docsify-cli/lib/commands/init.js:34:10)
    at Object.handler (/usr/local/lib/node_modules/do

[2020-01-29 19:20] fengsec opened #1012 "How to put my documents in the site subdirectory"
## Bug Report
I want to put my documents in a subdirectory of the website. What should I do?

#### Steps to reproduce
When I put my document in a subdirectory of the site： `/doc/`
and then I visit that：`http://mydomain.com/doc/`,

#### What is current behaviour
* The browser will always automatically download an invalid file：`http://mydomain.com/doc/`
* When I put the file in the root directory of

[2020-01-30 07:30] anikethsaha commented on #1012
I have a folder  structure like this

[code]

and when I run a local server from `root` I can access the site in using the link

`http://127.0.0.1:8080/test/docs/#/`

[2020-01-30 10:23] fengsec commented on #1012
I found out why. Maybe something's wrong with [qiniu](https://www.qiniu.com/). I switched to [upyun](https://www.upyun.com/) and it worked

[2020-01-30 10:24] #1012 closed

[2020-01-30 16:54] eduardocarvalho1 commented on #873
same problem here ;-;

[2020-01-31 15:57] shawntabrizi commented on #442
The problem here is that the `close` class has overall strange behavior.

On a mobile screen the `close` class actually _opens_ the sidebar, while omitting it closes it.

This seems to be some hack to transition a responsive desktop site which has a sidebar to a mobile  width and auto-closing the sidebar. However, this transition does not happen by using the `close` class correctly...

[2020-01-31 22:53] Kosteg opened #1013 "Images with spaces in filename not rendered"
## Bug Report

#### Steps to reproduce
When I use screenshots with spaces in filename (default mac os screenshot name):
![Screenshot](Screenshot 2020-01-31 at 17.33.53.png)

#### What is current behaviour
They are not rendered and docsify leave the markup as is.

#### What is the expected behaviour
Rendering to img tag

#### Other relevant information

- [x] Bug does still occur when all/other plu

[2020-02-03 07:14] #1007 closed

[2020-02-03 07:25] anikethsaha commented on #1013
This is the behavior of `markedjs` use
`![Screenshot](Screenshot-2020-01-31-at-17.33.53.png)` instead to render it as an image.

[refer this](https://marked.js.org/demo/?outputType=html&text=!%5BScreenshot%5D(Screenshot-2020-01-31-at-17.33.53.png)%0A%0A%0A!%5BScreenshot%5D(Screenshot%202020-01-31%20at%2017.33.53.png)&options=%7B%0A%20%22baseUrl%22%3A%20null%2C%0A%20%22breaks%22%3A%20false%2C%0A%20

[2020-02-03 07:25] #1013 closed

[2020-02-03 07:50] anikethsaha commented on #898
Lets go something similar to this.

[2020-02-03 07:55] anikethsaha commented on #901
for default behavior?

[2020-02-03 07:58] anikethsaha commented on #852
answer above.

[2020-02-03 07:58] #852 closed

[2020-02-03 08:06] anikethsaha commented on #808
answer above

[2020-02-03 08:06] #808 closed

[2020-02-03 08:11] anikethsaha commented on #769
if anyone wants to add docs for SSR enhancement. Feel free to submit a PR

[2020-02-03 08:19] anikethsaha commented on #615
You meant something like `webpack` loaders functionality?

[2020-02-03 08:41] anikethsaha commented on #617
This is something which would be really interesting. I wont go for any repo related op cause its quite hard to achieve and many docsify users uses different repo management sites to host their docs

What I am proposing is

## CLI
#### Command :
`docsify archive -v=10.3`
#### What it will do ?
It will create a folder inside `docs` as `old_docs` (or something more appropriate name) and then it will

[2020-02-03 08:58] anikethsaha commented on #615
cc @docsifyjs/core @trusktr

[2020-02-03 12:21] timaschew commented on #657
I'm pretty sure you won't be able to use it out of the box in the browser because of its native bindings.
What's about https://markdown-it.github.io/ ? I have good experience with it.

[2020-02-03 12:26] anikethsaha commented on #657
Yes I am considering markdownit only https://github.com/docsifyjs/docsify/issues/823#issuecomment-557700008

Although it would have been better to get the GitHub parser to work in js as it would render consistently in docsify.

[2020-02-03 17:52] zhouyun-zoe commented on #962
Hi，你这个问题解决了吗？我遇到了同样的问题

[2020-02-04 06:16] szkiba commented on #750
You can substitute variables with [docsify-mustache](https://docsify-mustache.github.io/#/) plugin using mustache syntax `{{variable}}`. Variables can be defined in front matter, external JSON|XML files or in docsify configuration.
If you use front-matter plugin, then the front matter variables will be available. Here is a demo using front matter:
https://docsify-mustache.github.io/#/?id=front-mat

[2020-02-04 09:34] dellagustin-sap commented on #865
Hello, we have this issue as well in our website based on docsify, please keep it open until #867 is either merged or closed.

[2020-02-04 09:41] #421 closed

[2020-02-04 13:06] extrapixel commented on #571
this issue is still open. @cheng-kang

[2020-02-04 14:07] Koooooo-7 commented on #1009
@anikethsaha
heyyyyy,  I investigated this bug, but it seems complicated for me.
so, I wanna share u to make it fixed possiblely.
I guess the issue is the **regex** of the function `getAndRemoveConfig ` at  [compile.js](https://github.com/docsifyjs/docsify/blob/develop/src/core/render/compiler.js#L22)
[code]
I cheked the history of the function.
**FIRSTLY**, this function was applied for the [fix:

[2020-02-04 14:49] anikethsaha commented on #1009
@Koooooo-7 thanks a lot for detailed investigation
What I am thinking is,
as of now a regex to support all seem complicated, and it's hard for me as well to support the issues addressed here and in #708
I am proposing is to document this clearly that in order to support emojis, spaces are required at the beginning.
We cant revert the #708 changes as it will break the site for Perl and other simila

[2020-02-04 15:06] adrianbj commented on #355
I can't reproduce anymore anyway, so looks like it was fixed at some point.

[2020-02-04 15:06] #355 closed

[2020-02-04 15:07] adrianbj commented on #361
I still think this needs fixing please.

[2020-02-04 15:16] Koooooo-7 commented on #1009
@anikethsaha
yep, I agree to make it clearly that how to support emojis at titles.
but I afraid that there is  a potential problem about  the `: ` of the title, configuration or emojis.

[2020-02-04 15:24] anikethsaha commented on #1009
Can you mention some ?

[2020-02-04 15:31] anikethsaha commented on #361
we cant remove the navbar for the smaller screen by default.

[2020-02-04 15:34] adrianbj commented on #361
I guess I don't understand why, but if you can't remove, what about just ensuring that logo is pushed down? Or replace the menu with a hamburger style menu?

The current experience is pretty confusing.

[2020-02-04 15:41] anikethsaha commented on #361
we need to have some PoC in order to finalize the change. the more conformable changes will be considered for this

[2020-02-04 15:44] Koooooo-7 commented on #1009
@anikethsaha
A. the date `2020:02:02` is problem as u know.
B. Some titles with different spaces likes :
[code]
All of them r not working correctly.

If possible, I think we need rewrite the feature [feat: add heading config id](https://github.com/docsifyjs/docsify/commit/ab19b132107a5a92a9a99606ad637514ba616ebd#diff-d73f215ac772d2673dd8c51f24976e4e) in another way that we dont through the `: ` to

[2020-02-04 15:46] theoephraim commented on #1009
I don't think trying to document this behaviour is going to work since it seems pretty unpredictable (look closely at the examples above).

Here's an idea - for the weird code syntax cases that #708 was trying to fix, require users to put  them within a code backticks to avoid any conflicting treatment from config or emojis, for example:
[code]

[2020-02-04 15:51] anikethsaha commented on #1009
then what are you suggesting ? cause if you are thinking to consider other char, then I am pretty sure it will break other things or will give issues like #708 for other langs

[2020-02-04 15:55] anikethsaha commented on #1009
It will render as code block like this

 ## `MyPerlModule::Submodule::function` :emoji: :id=something

It seems fine by me but I cant give assurance on behave of others.
@Koooooo-7 what do you think ?

[2020-02-04 16:04] Koooooo-7 commented on #1009
this case  `## `MyPerlModule::Submodule::function` :emoji: :id=something` is not working correctly for me right now.

if it will render as u posted above, I think it is okay at now, but Idk how to document this clearly .

I think we may use `{}` likes`## Header {docsify-ignore}` contian the configurations to rewrite that feature instead.

[2020-02-04 16:10] anikethsaha commented on #1009
I think it wont render as I commented. it will be different. I need to look there.

lets have triple `{{{  }}}` as I think it's safe. cause Php has `{}` and mustache template lib has `{{ }}` too I think.

Anything else you think will fit here better ?

@trusktr , what do you think ?

[2020-02-04 16:19] Koooooo-7 commented on #1009
I think the key is we can set the `prefix` to avoid conflict from others. such as `{docsify-id-myid}`.

[2020-02-04 16:23] anikethsaha commented on #1009
+1 for this as well.

Lets have a PoC for this.
Feel free to submit PoC to tackle this

[2020-02-04 16:25] anikethsaha commented on #1009
A better regex to support the current would be better if possible as it has fewer consequences of the change.

Feel free to submit the better regex as well if possible

[2020-02-04 17:04] #516 closed

[2020-02-05 07:51] milo526 commented on #814
While I first could not believe that removing the library would fix a problem, this issue made me realise that I imported docsify 2 times, that is a bit too much 😉. So if these issues arise it might indicate that you are double importing docsify.

[2020-02-05 07:53] jthegedus commented on #615
This seems like it could get out of hand fast and increase the scope of this project significantly. As a test, what are some other expected or previously requested source types?

[2020-02-05 07:54] jthegedus commented on #650
@anikethsaha Are you willing to mark this as closed.

[2020-02-05 08:01] anikethsaha commented on #650
I think it has been fixed. I will try to check this one more time and will close this then

[2020-02-05 09:33] anikethsaha commented on #615
I was thinking like if we can move the logic of rendering to these. Like to render the sidebar, we can hve a _sidebar.md and that will be rendered using this..

Just a rough idea

[2020-02-05 15:39] anikethsaha commented on #650
Yes , it has been fixed. Thanks for pointing @jthegedus

[2020-02-05 15:39] #650 closed

[2020-02-05 16:53] #895 closed

[2020-02-05 20:28] mojo2012 commented on #606
I think this would be really awesome!

[2020-02-05 20:55] jthegedus commented on #615
That sounds reasonable enough to me 😄

[2020-02-06 03:56] anikethsaha commented on #615
Yeah, but we need PoC before to check that

[2020-02-06 09:40] anikethsaha commented on #606
I didn't get this.
Can you explain this more. With some more examples

[2020-02-07 09:04] #828 closed

[2020-02-07 18:09] #582 closed

[2020-02-08 18:38] mojo2012 commented on #606
I want to include only parts of a file, like a specific code snippet from a java class - not the whole file at once.

Here is an example to include a whole file an render it inline (not a link):
[code]

It would be nice to have some sort of option, to only include some parts of the file, for example a specific line using a syntax like the following:
[code]

[2020-02-08 19:33] anikethsaha commented on #606
OK so as far as I understood.
if I have a file named `example.md`
[code]

and I am embedding it using `[filename](example.md :include:)` , it will  render the whole
You are proposing
`[filename](example.md#L2-4 :include:)` it will render
[code]

If this is your proposal, then it's difficult to achieve cause we take the whole input as the source for rendering and if you want partial, then the sourc

[2020-02-08 19:33] #606 closed

[2020-02-11 07:48] #579 closed

[2020-02-11 07:48] #603 closed

[2020-02-11 07:48] #940 closed

[2020-02-11 07:48] #933 closed

[2020-02-11 07:48] #928 closed

[2020-02-11 07:48] #926 closed

[2020-02-11 07:48] #695 closed

[2020-02-11 07:48] #710 closed

[2020-02-11 07:48] #692 closed

[2020-02-11 07:48] #885 closed

[2020-02-11 07:48] #925 closed

[2020-02-11 07:48] #876 closed

[2020-02-11 07:48] #857 closed

[2020-02-11 07:48] #759 closed

[2020-02-11 07:48] #370 closed

[2020-02-11 07:48] #821 closed

[2020-02-11 07:48] #694 closed

[2020-02-11 07:48] #794 closed

[2020-02-11 08:47] #231 closed

[2020-02-11 08:48] #478 closed

[2020-02-11 08:48] #432 closed

[2020-02-11 08:48] #512 closed

[2020-02-11 08:48] #536 closed

[2020-02-11 08:48] #705 closed

[2020-02-11 08:48] #758 closed

[2020-02-11 08:48] #788 closed

[2020-02-11 08:48] #475 closed

[2020-02-11 08:48] #624 closed

[2020-02-11 08:48] #833 closed

[2020-02-11 08:48] #845 closed

[2020-02-11 08:48] #849 closed

[2020-02-11 08:48] #620 closed

[2020-02-11 08:48] #415 closed

[2020-02-11 08:48] #858 closed

[2020-02-11 08:48] #853 closed

[2020-02-11 08:48] #485 closed

[2020-02-11 08:48] #912 closed

[2020-02-11 08:48] #238 closed

[2020-02-11 08:48] #559 closed

[2020-02-11 08:48] #704 closed

[2020-02-11 08:48] #681 closed

[2020-02-11 08:48] #610 closed

[2020-02-11 08:48] #755 closed

[2020-02-11 09:47] #445 closed

[2020-02-11 09:48] #438 closed

[2020-02-11 09:48] #458 closed

[2020-02-11 09:48] #502 closed

[2020-02-11 09:48] #515 closed

[2020-02-11 09:48] #514 closed

[2020-02-11 09:48] #510 closed

[2020-02-11 09:48] #523 closed

[2020-02-11 09:48] #567 closed

[2020-02-11 09:48] #575 closed

[2020-02-11 09:48] #578 closed

[2020-02-11 09:48] #572 closed

[2020-02-11 09:48] #584 closed

[2020-02-11 09:48] #586 closed

[2020-02-11 09:48] #439 closed

[2020-02-11 09:48] #583 closed

[2020-02-11 09:48] #596 closed

[2020-02-11 09:48] #597 closed

[2020-02-11 09:48] #611 closed

[2020-02-11 09:48] #612 closed

[2020-02-11 09:48] #613 closed

[2020-02-11 09:48] #618 closed

[2020-02-11 09:48] #537 closed

[2020-02-11 09:48] #622 closed

[2020-02-11 09:48] #627 closed

[2020-02-11 10:47] #322 closed

[2020-02-11 10:48] #352 closed

[2020-02-11 10:48] #349 closed

[2020-02-11 10:48] #375 closed

[2020-02-11 10:48] #429 closed

[2020-02-11 10:48] #431 closed

[2020-02-11 15:41] Giovanni-Mattucci opened #1018 "URLs 404 when given a trailing slash /"
## Bug Report

#### Steps to reproduce
Go to any page path and add a trailing slash `/` to the end
Example: `/#/hello/`

#### What is current behaviour
The page apth  `/#/hello/` will 404

#### What is the expected behaviour
That the page requested is shown and works the same as `/#/hello`

#### Other relevant information

No
- [x] Bug does still occur when all/other plugins are disabled?

- Your

[2020-02-11 17:42] sushantrahate opened #1019 "New dark theme"
## Feature request
New dark theme with green touch
#### What problem does this feature solve?
New Theme for docsify

#### What does the proposed API look like?
Its new css file

#### How should this be implemented in your opinion?
By adding new css file

#### Are you willing to work on this yourself?
Yes, I've already made it and using it form few days
![dakly](https://user-images.githubuserconten

[2020-02-11 18:01] anikethsaha commented on #1019
cc @docsifyjs/core your takes !!
---

@sushantrahate this looks cool 👍

How do you want to make it available? do you want this to be added in this repo or you want to distribute using your own repo and as the package ?

if you want to add it here, we need it in `stylus` preprocessor.
[`check here`](http://stylus-lang.com/)

[2020-02-11 18:27] jhildenbiddle commented on #1019
Third-party themes should not be added to the docsify repo. They should be added to the awesome-docsify repo here: https://github.com/docsifyjs/awesome-docsify

[2020-02-11 18:30] anikethsaha commented on #1019
@sushantrahate as @jhildenbiddle , you can distribute as your style and add a link to the awesome-docsify repo. It will be reflected in the docsify website 👍

[2020-02-11 18:48] sushantrahate commented on #1019
Im glad you like it.
Sorry for the late reply, I was eating.

So should I create a repo in my account and give live link ?

On Wed, 12 Feb, 2020, 12:00 am Anix, <notifications@github.com> wrote:

[2020-02-11 18:56] sushantrahate commented on #1019
@anikethsaha, @jhildenbiddle  I'm glad you like it. Sure, will do that. Thanks

[2020-02-11 21:15] anikethsaha opened #1020 "[Tracking] Change the CDN from unpkg to jsDelivr"
This is a tracking issue
---

Change all the CDN link from `unpkg` to `jsDelivr`

From/for

- [x] docs (#1022)
- [x] https://github.com/docsifyjs/docsify-cli/tree/master/lib/template (https://github.com/docsifyjs/docsify-cli/commit/e8794309927a5a78f30f88aceab25d2c0014e0c1, https://github.com/docsifyjs/docsify-cli/commit/6545115098223be46ac44cb31a79b366179d7368)
- [x] plugins
- [x] Themes

[2020-02-12 07:09] anikethsaha opened #1021 "[Plugins] : Independent Test Solution for plugins"
This is more like a way or solution request for plugins to independently tests with docsify.
Currently, the official plugins and most of the third-party plugins (all of them which I saw) don't have test for their plugins. Unit testing for the logic method of a plugin can be done seamlessly but for integration testing with docsify core, it's quite tough from my end.

This is required as in future r

[2020-02-12 13:32] petrk94 commented on #586
Issue solved:

just add the google analytics raw code with anonymous_ip inside the index.html

[2020-02-12 20:10] #1019 closed

[2020-02-13 04:13] cptcanuck commented on #850
This is still an issue.

[2020-02-13 20:33] #860 closed

[2020-02-13 21:36] anikethsaha commented on #1018
Well,

`/#/hello/` should not behave like `/#/hello`

**Because**, `/#/hello` means rendering `/hello.md` file.
according to your proposal, rendering `/#/hello/` -> `/hello.md` will break the working of rendering the content of `dir` rendering.

`/#/hello/` mean `hello` is a directory and docsify will look for `homepage` in it which is `README.md` by default.
 changing the behavior of docsify to s

[2020-02-14 00:02] jthegedus commented on #1018
I think most websites on the internet with modern `history` routing render `/hello/` and `/hello` as the same thing. This can cause Docsify sites to perform differently to what is expected by the average user.

I am not very familiar with routing modes and their differences, but maybe this is expected behaviour for hash mode routing in that you must be explicit with your trailing slash?

I will th

[2020-02-14 04:23] Koooooo-7 commented on #1018
In my opinion, I agree with @anikethsaha . this is the URI and URL isuess.
Normally, when u visit the `/hello/` means u wanna visit the `/hello/index.html` or `/hello/default.html`.
so, as for docsify, when you visit `#/hello/` means u wanna visit `#/hello/index.md` instead of the `hello.md`.

[2020-02-14 07:02] anikethsaha commented on #1018
Yeahh

yea sure..

[2020-02-14 07:21] #1009 closed

[2020-02-14 08:23] anikethsaha commented on #872
After looking at it.
`loadNavBar` options is working fine as expected. Please check whether you have `<nav>` tag in your HTML markup or not !!

### `loadSideBar` and `loadNavBar` set to `false`

When they are set to `false, they don't read for `_sidebar.md` and `_navBar.md` file and don't render their content.
**But**, `sidebar` still gets render because of the `heading` tags present in your `home

[2020-02-14 08:31] jthegedus commented on #1018
My initial comment was more questioning the difference between hash and history and if this was the cause.

Given 3 files:

- hello.md
- hello/homepage.md
- hello/something.md

I agree that

[code]

Where we can improve is what we do when there is no `homepage.md` in a path. Surely there's a better practice then just providing a 404 for this case?

Given 2 files:

- hello.md
- hello/something.md

[2020-02-14 08:33] anikethsaha commented on #872
We can totally do this and release a new plugin with the `hideSidebar` option provided by the plugin. But one thing about supporting it directly from the core is that it will be performance-friendly if we support this through core.

**cause** simply hiding the sidebar will fix the problem but docsify will still do all the steps of rendering, so if we are hiding it anyway, why wasting time in rende

[2020-02-14 09:05] anikethsaha commented on #872
Check the implementation from the core.

https://github.com/anikethsaha/docsify/commit/9b218a145ec1ae88e20563425f17ef7af57e5ae1#diff-250dfe7435d59fa33e80765c47190dd5R95

[2020-02-14 11:21] anikethsaha commented on #745
@Edgar-Spiir Its working as expected for me.

Even docsify docs are working fine. Can you please confirm whether its coming for `docsify@latest`

[2020-02-14 11:30] Koooooo-7 commented on #872
@anikethsaha
tbh, Idk how many situations that we need to hide the sidebar(and hide the search plugins),
it seems like a static pages web. :sweat_smile: :
About the `hideSidebar`,I think it can be merged to `loadSidebar = false`.cuz I think current `loadSidebar=false` is useless.
Although I think this configuration(hide sidebar) is not so necessary now ,If we hv more configurations to satisfy diff

[2020-02-14 12:09] anikethsaha commented on #872
by default, we use `loadSidebar = false` so docsify won't show sidebar by default if we change it to this.

I would have preferred the plugin cause this are user's preference choices and core should not be changed for every little enhancement but due to perf factors, i am leaning more towards adding it to the core.

[2020-02-14 13:48] Koooooo-7 commented on #872
yep, u r right.

[2020-02-14 14:32] anikethsaha commented on #742
Please use `__colon__` instead of colon

[code]

Hope it helps

[2020-02-14 14:33] #742 closed

[2020-02-14 14:51] anikethsaha commented on #872
Yep,,,,I see that too...you have better option?

Also, I am going with implementing that in the core !!

[2020-02-14 14:53] anikethsaha commented on #872
@Koooooo-7 do you want to take this in a better way? else I will go with my implementation !!

or you want to continue as a follow-up of the  anikethsaha@9b218a1 solution

[2020-02-14 15:00] anikethsaha commented on #1018
@jthegedus I am +1 for the proposal you mentioned.

can you submit a PR with that. I am planning to do a release by this month. so It will be great if we ship this fix with it

[2020-02-14 15:04] Koooooo-7 commented on #872
@anikethsaha  I dont find a better way right now.:joy:
Although, I found that perhaps we can change the [tpl.js] (https://github.com/docsifyjs/docsify/blob/develop/src/core/render/tpl.js).
[code]
I dont think it is a good way either...I haven't found when the stylings were setted yet.
I think u can make ur implementation at now, if  someone finds a good  way , he may update it then.:dog:

[2020-02-14 15:08] anikethsaha commented on #872
I think this approach needs either new class name or again need to do the same styling here !!!

[2020-02-14 15:10] Giovanni-Mattucci commented on #1018
@jthegedus your solution would make things behave more as expected, so looking forward to that :)

[2020-02-14 15:18] Koooooo-7 commented on #872
@anikethsaha  yep, I prefer to ur implementation.

[2020-02-14 21:38] methodbox commented on #872
I think this might be the part everyone is missing in this thread: `loadSideBar` set to `false` doesn’t actually work.

If the purpose of this flag is to show/not show the sidebar why would you create another key to hide the sidebar? And if it’s set to `false` to begin with, why does it still show anyway?

It seems like this should be a proper `boolean` which explicitly shows/hides the sidebar.

I

[2020-02-15 04:41] Koooooo-7 commented on #872
Currently, when u set `loadSidebar = false`,it would render that the left part is the search box and the titles(and subtitles) of  content instead the sidebar.
Personally, I think it is useless.but  if someone needs this, it would be useful.

When  `LoadSidebar = false`, it will render as I said above.
When `HideSidebar = false`, it will render that the content only, no search box , no titles.
Tho

[2020-02-15 07:25] anikethsaha commented on #872
as I said `loadSidebar` is not meant to hide/display the whole sidebar.
we need a separate option for that so we are going with `hideSidebar` for now !!

[2020-02-15 21:59] #360 closed

[2020-02-16 09:30] #839 closed

[2020-02-17 17:45] Kikobeats commented on #643
EH EH DONT CLOSE BRO

[2020-02-17 18:28] anikethsaha commented on #643
Please can you describe the issue you are requesting .
The screen shot is not showing. maybe the link expired.

Please check

[2020-02-17 18:36] anikethsaha commented on #643
ok please correct me if I am wrong

you want to add `sidebar-h4` class to the `li > a` for sidebar-section ?

[2020-02-18 10:19] Acconitum opened #1027 "JavaScript error: Uncaught Error: Token with "list_end" type was not found."
## Bug Report

#### Steps to reproduce

* Include multiple files
* Reload page

#### What is current behaviour

Fails to load content after the coverpage.md and shows following error message in developer console:

docsify.min.js:1 Uncaught Error: Token with "list_end" type was not found.
    at c.tok (docsify.min.js:1)
    at c.parse (docsify.min.js:1)
    at Function.c.parse [as parser] (docsify.

[2020-02-18 10:31] anikethsaha commented on #1027
can you share a reproducible repo! maybe a sandbox. hard to debug this way

[2020-02-18 11:46] Acconitum commented on #1027
Hi anikethsaha

I've created a repo for you:

https://github.com/Acconitum/docsify-testrepo

[2020-02-18 11:49] anikethsaha commented on #1027
Thanks a lot . I will check this soon

[2020-02-18 11:58] anikethsaha commented on #1027
@Acconitum I checked. everything is working fine. I reloaded several times , didnt get any error in console.

[2020-02-18 13:38] Acconitum commented on #1027
@anikethsaha I did some tests on different machines and I where able to reproduce the error. on every instance.

As I mentioned the error does not trigger every time. Would you mind to add some more inclusions and test again?

I'm sorry that I can't give yu more information. The error follows no special rule to reproduce. It appears very radomly.

[2020-02-18 13:49] anikethsaha commented on #1027
ok. I will do some test if I get some time. 👍

[2020-02-20 16:49] #872 closed

[2020-02-20 17:16] anikethsaha commented on #738
@jthegedus can you confirm whether its still exist or not ?

[2020-02-20 17:17] anikethsaha commented on #738
I cant reproduce this here https://posthtml.org/#/usage

[2020-02-20 17:27] anikethsaha commented on #698
this has been resolved. please use the latest version

[2020-02-20 17:27] #698 closed

[2020-02-20 17:34] anikethsaha commented on #700
This has been resolved. Please use the latest version .

Thanks

[2020-02-20 17:34] #700 closed

[2020-02-20 17:42] anikethsaha commented on #679
This has been resolved . Update to latest version

PLease comment if it still an issue

Firefox

![image](https://user-images.githubusercontent.com/26347874/74962589-37d69b80-5436-11ea-9251-1a682d80343d.png)

Chrome

![image](https://user-images.githubusercontent.com/26347874/74962607-42913080-5436-11ea-840b-5ab79ddddf48.png)

Edge

![image](https://user-images.githubusercontent.com/26347874/74962

[2020-02-20 17:42] #679 closed

[2020-02-20 18:10] anikethsaha commented on #591
Working fine with latest version. Please update

![image](https://user-images.githubusercontent.com/26347874/74965000-6c4c5680-543a-11ea-8382-861afdfefdc2.png)

[2020-02-20 18:10] #591 closed

[2020-02-20 18:16] anikethsaha commented on #971
It should be fixed with inline styles or custom styling.
Feel free to comment if this is still an issue

[2020-02-20 18:16] #971 closed

[2020-02-20 18:34] #1020 closed

[2020-02-20 21:19] jthegedus commented on #738
I will have a look, could be gif related.

[2020-02-22 16:19] #740 closed

[2020-02-23 17:58] csu-feizao opened #1032 "sidebar active class and expand don't work as expect when use "space" in markdown filename"
## Bug Report

#### Steps to reproduce
1. create an markdown file and use `test sidebar.md` as it's name
2. make sure this markdown file has some content so that can generate some item in sidebar
3. open the url `/#/test%20sidebar`
4. click the sidebar item, and you will see sometimes the item doesn't has `active` class
5. create more markdown file, and set `loadSidebar` to use custom sidebar
6. c

[2020-02-23 18:28] anikethsaha commented on #1032
Can you share a reproducible repo?

Just a note that it is never recommended to use a space in a markdown file name. Use `-` instead of space.

[2020-02-24 08:09] saioared commented on #631
Is this feature closed because is scheduled or because you don't feel it usefull?

It would be great to have this, I just change de docsify.js file because I needed this feature. I am not happy of doing it but I have a fixed header and I need it to work good.

Hope you add this on future release.

Thankssss :))

[2020-02-24 09:24] anikethsaha commented on #631
I would be happy if someone can submit a PR with this.

Thanks

[2020-02-25 01:03] xflcx1991 opened #1033 "“Embed files” doesn't effect"
I do it as *Quick start* says.Website is up,but the feature "embed files" doesn't effect.The file example.md is truly exist

![screen-shot.PNG](https://i.loli.net/2020/02/25/a2Fy6qZxjWhutp1.png)

Envirment:Win10 + WSL(Ubuntu 18.04)
All code and docsify is in wsl,and brower is in windows

[2020-02-25 07:13] xflcx1991 commented on #1033
**supplement**
When I stay in a pure linux environment.Everything is ok.
![linux](https://i.loli.net/2020/02/25/Nkg2Gj7dElMmW3B.png)

[2020-02-25 07:19] anikethsaha commented on #1033
try using `,/example.md`

[2020-02-25 07:19] xflcx1991 commented on #1033
Otherwise,`docsify serve's LiveReload ` works fine too in truly linux.In wsl, sometimes reload and sometimes not

[2020-02-25 07:23] xflcx1991 commented on #1033
No effect.Path is correct.When click it, a new page shows `example.md`'s content.

[2020-02-25 07:33] anikethsaha commented on #1033
Sorry its `./example.md`

[2020-02-25 07:59] xflcx1991 commented on #1033
Yes, I've also tried `./`

[2020-02-25 08:02] anikethsaha commented on #1033
ok i will take a look soon

[2020-02-25 11:36] #214 closed

[2020-02-25 13:25] WangShuXian6 opened #1034 "Is it possible to add a user permission system for the company's internal document library"

[2020-02-25 13:25] anikethsaha commented on #1034
Please translate

[2020-02-25 13:49] anikethsaha commented on #1034
Currently, it's not possible from the core.

try creating a plugin but it won't be appropriate as plugins don't have access to the request method from the core and without it, it's not really a permission system.

[2020-02-25 13:49] #1034 closed

[2020-02-25 14:19] theBliz commented on #704
this is not solved yet. Doc not clear and the only example available breaks. Any updates?

[2020-02-25 14:30] theBliz opened #1035 "SSR not working"
## Bug Report
Related to #704
When following the steps to launch SSR implementation of docsify you get errors and the only example repo doesn't work.

#### Steps to reproduce
`npm i now docsify-cli -D`
copy docsify's package.json info in your empty project package.json
[code]
Launch `npm start` or `docsify start . -c ssr.config.js`

#### What is current behaviour
The error `unknown argument: ssr.c

[2020-02-25 14:43] anikethsaha commented on #1035
Can you try to re-produce this in https://github.com/docsifyjs/docsify-ssr-demo

[2020-02-25 14:52] theBliz commented on #1035
@anikethsaha I've done it before opening the issue and it has the exact same problem. I've opened the issue here since the other repo has no activity. Any ideas what could be causing the issue?

[2020-02-25 14:54] anikethsaha commented on #1035
Its related to docsify-cli . something about not able to parse the cli args clearly.

[2020-02-25 16:22] floodico commented on #1033
same problem

[2020-02-26 09:58] csu-feizao commented on #1032
hi, [this is the repo](https://github.com/csu-feizao/docsifyjs-demo), sorry for reply so late

[2020-02-26 10:26] anikethsaha commented on #1032
Thanks I will take a look .
Feel free to investigate and submit a fix if its a bug to make the process faster. cause I think i cant investigate it any time soon.

[2020-02-27 19:57] gromovadarya90 opened #1036 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 19:59] #1036 closed

[2020-02-28 14:26] jasonkuhrt opened #1040 "Option to disable animated scroll-to-anchor"
## Feature request

#### What problem does this feature solve?

When in development, working on content at an anchor point in a long document, every change causes a refresh that must then go through a scroll. This becomes quite annoying. If there was an option to have the anchor be jumped to (no scroll) I would turn it on during my development sessions. Some users might also want this to be the ex

[2020-02-28 14:35] anikethsaha commented on #1040
PR welcome just a note that the default one should be animated. If you want to add a new options (which I think is required for this, please update the docs as well)

[2020-02-28 14:36] jasonkuhrt commented on #1040
@anikethsaha any pointers? No clue about it right now myself.

[2020-02-28 14:45] anikethsaha commented on #1040
you need to dig the `core` !

The animation I think currently is due to `transition` property from the [CSS](https://github.com/docsifyjs/docsify/blob/develop/src/themes/basic/_layout.styl)
You need to move those transitions to a class and make then opt-in. so suppose a class `transition` when added to any element will make it animated.
so, If in [scroll](github.com/docsifyjs/docsify/blob/develop/

[2020-02-28 14:47] jasonkuhrt commented on #1040
Thanks for the warning, I indeed don't have the time right now for such a small nitpick. But at least this issue exists now if I or someone else can return to take it up. Thanks @anikethsaha

[2020-02-28 14:49] anikethsaha commented on #1040
Sure, I will keep it open.

[2020-03-01 09:41] cygnusyang opened #1041 "support attachments downloading"
## Feature request

Is it possible that support attachments downloading?

#### What problem does this feature solve?

If docsify can support attachments downloading, we can add a link in the markdown. The user can download them from the markdown documents. It is more convenient.

#### What does the proposed API look like?

N/A

#### How should this be implemented in your opinion?

Sorry, I don't k

[2020-03-01 09:47] anikethsaha commented on #1041
I am working on a similar plugin. Will open source it and add here the link once its done !!

[2020-03-02 06:51] anikethsaha commented on #1041
https://www.npmjs.com/package/docsify-print

[2020-03-02 06:51] #1041 closed

[2020-03-02 11:27] joetidee opened #1042 "Pagination documentation incorrect."
The Pagination section of the documentation references "a plugin to make it easy to join up codefund". https://docsify.js.org/#/plugins

[2020-03-02 11:41] anikethsaha commented on #1042
i didnt get your issue. please explain

[2020-03-02 20:42] joetidee commented on #1042
Well, shouldn't a section called Pagination refer to pagination, rather than another plugin?

[2020-03-03 06:44] anikethsaha commented on #1042
ohh i see, just need a header with codefund name below it

[2020-03-03 15:56] joetidee opened #1044 "A way to prevent links from breaking..."
####  Feature request
When renaming `.md` files and moving pages around, the link break. Would be good to have a central dictionary of links with UUID and that UUID is used in the pages directly. When docsify builds the pages, it can search the link dictionary and replace the UUID's in the pages with the actual link detail and auto-generate the relative/root path.

**For example:**
[code]

#### Wh

[2020-03-03 16:09] anikethsaha commented on #1044
what I understood from your proposal is whenever we make changes with  the `.md` files like moving or renaming, have some kind of mapping for it so that in future we will redirect the links to the new location ! right ?

Well, this will have benefits but I am curious about the implementation. You need some kind of storage that will have this metadata about the changes and it should be generated in

[2020-03-03 17:49] joetidee commented on #1044
Have `links.json` to contain:

[code]

In the documentation markdown file `some-doc.md`, add the reference:
[code]

[2020-03-03 17:53] anikethsaha commented on #1044
Actually , this may cause some perf issues as it requires addition IO on FS (I am assuming you would store the `.json` file with your assets folder. ? )!

Also, Can you describe the steps that  will take place in it. for example
I changed `post1.md`  --> `post2.md`

can you mention the steps involve!

[2020-03-03 17:56] joetidee commented on #1044
If you were to rename `post1.md` to `post2.md` then you would have to update `links.json`.
If you simply moved `post1.md` to `/another-folder/post2.md` then no need to update `links.json`.

[2020-03-03 17:58] anikethsaha commented on #1044
I would have to update it manually ?

Why not ?

[2020-03-03 18:00] joetidee commented on #1044
Yes

Because `links.json` would have the path to the link within `post1.md`.

[2020-03-03 18:02] joetidee commented on #1044
In my example above,
[code]

is in `post1.md`.

[2020-03-03 18:04] anikethsaha commented on #1044
But if I am doing it manually, cant we simply change the link in the source (`.md`) itself ?

[2020-03-03 18:05] joetidee commented on #1044
What if I have 6 pages linking to it? I would have to remember to update the links in those 6 pages.

[2020-03-03 18:09] anikethsaha commented on #1044
**For these cases I would suggest using the `alias` config**

if it is not in the scope of runtime. I wouldnt implement this in the core as if does increase the perf issues.
cause currently docsify does a lot while reading a source page which sometime leads to slow loading (if the page has a lot of embeds and other plugins working in it). It wouldnt make sense to do more work in this amount of tim

[2020-03-03 18:10] joetidee commented on #1044
[code]

1) Rename the file `doc.md` to `doc2.md`:
Update the path entry in `links.json`.

2) Move file `doc.md` from `some/doc/folder/` to `some/`:
Update the path entry in `links.json`.

[2020-03-03 18:13] joetidee commented on #1044
Ah, ok, didn't know about that.

[2020-03-03 18:14] anikethsaha commented on #1044
And how it would work from core ? cause this is how the core fetching works

you have `post1.md`
and a `a` link which has `href` to this link
and when docsify sees this with `.md` in the end, it parses the `.md` and converts it into `html`
so even if you change it to `link.json` you will have to change the name of the file with this UUID or else have to use `alias` ....SO I am -1 for this.
Sorry.

[2020-03-03 18:14] #1044 closed

[2020-03-03 18:24] joetidee commented on #1044
So, is there any way for docsify to detect a change in the location or naming of an `.md` file and warn in the console if there are links still pointing to the old reference?

[2020-03-03 18:30] anikethsaha commented on #1044
No, docsify doesnt know about your source file unless they are request upon. If it finds it , it will render it else it will throw 404

[2020-03-03 18:40] joetidee commented on #1044
Tried using alias, but now my links in the address bar look like this:

`http://localhost:3000/#/link-dfgb4588g45g8df`

:(

[2020-03-03 18:44] anikethsaha commented on #1044
yes....you done have to use ugly UUID....but now you can use this link and you dont have to change every link when you renamed or moved the md

[2020-03-04 00:45] ustc-zzzz opened #1046 "A cross-origin url cannot be redirected to if "externalLinkTarget" is set to "_self" and "routerMode" is set to "history""
## Bug Report

#### Steps to reproduce

Set the options firstly:

[code]

Then write a link whose url is from another domain:

[code]

#### What is current behaviour

If our domain were `docsify.now.sh`, it would do nothing and pop an error on the debug console:

[code]

The corresponding source code is [here](https://github.com/docsifyjs/docsify/blob/v4.10.2/src/core/router/history/html5.js#L30).

[2020-03-04 00:50] ustc-zzzz commented on #1046
Also available on Firefox Browser (`Mozilla/5.0 (X11; Linux x86_64; rv:68.0) Gecko/20100101 Firefox/68.0`):

[code]

[2020-03-04 20:22] phuongbag opened #1047 "!bug My website doesnt work on mobile."
## Bug Report

#### Steps to reproduce

Overload with _sidebar

#### What is current behaviour

Unable to use on the mobile. Using format .md

#### What is the expected behaviour

Cant use on the mobile.
eg: neetvn.net

#### Other relevant information

- [x] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version: lastedt (node 13.9.0)
- npm/yarn version: lastest
-

[2020-03-04 20:24] anikethsaha commented on #1047
Please give more detials and try to search for the breakpoint as this is responsive issue which is hard to reproduce.

[2020-03-04 21:06] phuongbag commented on #1047
The bug came from Tabs plugins? for some reason when disable it it didnt work in first time.

[2020-03-04 21:06] #1047 closed

[2020-03-05 07:47] coolkit-carl commented on #43
Following the configuration of https://docsify.js.org/, my project search function works fine.

[code]

[2020-03-05 10:49] huanghantao opened #1052 "How to use colon inside the sidebar"
for example:

[code]

[2020-03-05 10:50] anikethsaha commented on #1052
semicolons or colons ?

[2020-03-05 10:52] huanghantao commented on #1052
@anikethsaha sorry, colon

[2020-03-05 11:04] anikethsaha commented on #1052
use `__colon__` instead