[2020-03-05 11:04] #1052 closed

[2020-03-05 17:06] joetidee opened #1053 "How to parse markdown links?"
####  Feature request
Just trying to figure out how to parse and override markdown links. In the docs it states that you can capture the link using this:

[code]

I would have expected the link to be an object, with `title`, `href` and `text`. But it is just a string that correlates to the href. How do I access all the link properties in one single renderer function?

[2020-03-05 17:10] anikethsaha commented on #1053
thats not in the scope of a markdown parser to parse a link. use https://www.npmjs.com/package/url-parse to parse it

[2020-03-05 17:10] #1053 closed

[2020-03-05 17:10] anikethsaha commented on #1053
hope that helps.
Feel free to leave feedback if required

[2020-03-05 17:12] joetidee commented on #1053
Ok, found out - it is:

[code]

[2020-03-05 17:25] anikethsaha commented on #1053
Thanks. I didnt know about that 🎉

[2020-03-06 09:56] joetidee opened #1055 "Why does the url need 'index'?"
If you navigate to a url without 'index' on the end, it takes the person to a 404 page. It would make the url more friendly if it didn't need to have 'index' on the end.

For example:
`/#/web/` instead of `/#/web/index`

[2020-03-06 09:58] anikethsaha commented on #1055
seems similar to https://github.com/docsifyjs/docsify/issues/1018 !

[2020-03-06 10:01] anikethsaha commented on #1055
having `/#/web/` will lead to 404 as well. check #1018 .
having `/index` tells docsify to render the homepage to that folder instead of showing the 404.

not sure if this is true always

[2020-03-06 10:16] joetidee commented on #1055
Yes, same as 1018.

[2020-03-06 10:16] #1055 closed

[2020-03-06 10:19] joetidee commented on #1018
Agree with @jthegedus proposal, except to make it index.md instead of homepage.md

[2020-03-06 10:24] funye commented on #621
网上找到一个折叠的 https://github.com/iPeng6/docsify-sidebar-collapse

[2020-03-06 12:22] Koooooo-7 commented on #1046
excuse me.
I can't reproduce ur bug.
can u give me a simple demo plz.

FYR:
[code]

[2020-03-06 17:15] woytu commented on #850
[code]

[2020-03-06 19:35] ustc-zzzz commented on #1046
@Koooooo-7 Sorry. I forgot to report that `routerMode` should be set to `history`.
I have made a demo which is available on <https://ustc-zzzz.github.io/docsify-issue-1046-demo/>.

[2020-03-08 16:07] Koooooo-7 commented on #1046
thx a lot.
I checked it and there is a `same-origin policy` issue about the ` history.pushState()` .
[this documentation](https://developer.mozilla.org/en-US/docs/Web/API/History/pushState) mentions something about the url param.

@anikethsaha
tbh, I m not sure if there is a bug or security thing.
I plan to have a simple link checking before the `history.pushState()`,[html5.js](https://github.com/

[2020-03-08 16:17] anikethsaha commented on #1046
Thanks @Koooooo-7 for triaging this  ! 💯

I am not so into security things that's why I can't give 100% opinion.
But as per the docs you mentioned, it seems pretty reasonable behavior of having same origin !

What do you think about having a separate option for this ?

[2020-03-08 17:04] Koooooo-7 commented on #1046
@anikethsaha
normally, there would have the `non cross origin` URLs and the `cross origin`, so I think it is better that there have a sign (but I don't wanna make the URL congratulations messy)  to mark the `cross origin` url, thus we don't need the URL checking.
I don't have some good idea about the seperate option right now.
could u show me some details about the seperate options.

[2020-03-08 17:10] anikethsaha commented on #1046
by option, I meant separate option for `window.open(url,'_self')` like if the option is `true` then we would check the url and use `window.open(url,'_self')` if required for opening.
else it would be the same operation like the present one !

[2020-03-08 17:12] anikethsaha commented on #1046
History mode by default shows the origin issue, so bypassing (doing the workaround to show the page) by default won't be a good idea .
its kind of the web standard behavior. But still, we can have some way to tackle this !

What do you think ?

[2020-03-08 18:51] #995 closed

[2020-03-09 01:43] Koooooo-7 commented on #1046
@anikethsaha

yep, where do u wanna set the option? As an  independent configuration or the configuration with the URL?

yep, we do keep the present one.

As a independent option, it seems like this:
[code]
and, how about setting a sign/flag with the URL? only if we find the flag, we use  `windows. open` instead of checking all the URLs.
such as `Example: [example.com](https://example.com/   :cros

[2020-03-09 05:43] anikethsaha commented on #1046
this is much better. Lets do this one

[2020-03-09 08:21] anikethsaha commented on #1032
as per the repo you shared, I could get the hightlighted sidebar links for activeBug page
and I can confirm with the expand bug , its a bug

[2020-03-09 08:51] #865 closed

[2020-03-09 12:13] akhmerov opened #1057 "uncaught reference in 4.11"
## Bug Report

When using the freshly released version 4.11 I observe that the library doesn't load and the problem seems to be on the docsify side.

![image](https://user-images.githubusercontent.com/2069677/76211724-2ac3f580-6207-11ea-9ee3-51d8c498ac67.png)

#### Steps to reproduce

Use index.html like [this one](https://github.com/virtualscienceforum/virtualscienceforum/blob/58f7922339c4799bcc7

[2020-03-09 12:15] anikethsaha commented on #1057
ohh shoot !
Please use `4.10.2`
I will fix it now . Something wrong with rollup config

[2020-03-09 12:16] akhmerov commented on #1057
Yeah, I pinned 4.10.2, sure, no problem.

[2020-03-09 12:18] vardaro commented on #1057
Wow you guys are fast!

[2020-03-09 12:24] anikethsaha commented on #1057
if anyone can help with this rollup issue .

![image](https://user-images.githubusercontent.com/26347874/76212634-ecdac780-622e-11ea-8d40-b59b562eca53.png)

Thanks

[2020-03-09 12:25] scastagnoli opened #1058 "cssEscape is not defined"
## Bug Report
From cosle browser I see: "ReferenceError: cssEscape is not defined"

#### Steps to reproduce
docsify serve ./docs2
Browser url = http:/localhost:3000

#### What is current behaviour
Browser tells "cssEscape is not defined" on browser console
Browser page says: "Loading..."

#### What is the expected behaviour
I cannot see standard page. I have the three file generated with command d

[2020-03-09 12:25] xuqingkuang commented on #1058
Same issue here. - http://hippyjs.org/

[2020-03-09 12:26] raulfdm commented on #1058
same issue here https://raulmelo-notebook.netlify.com/

[2020-03-09 12:27] slikts commented on #1057
There shouldn't be untested releases; the default setup doesn't pin the version, so every site that uses it is now broken. It's also why the default template should include a fallback link.

Pinned location: `//unpkg.com/docsify@4.10.2/lib/docsify.min.js`

[2020-03-09 12:27] anikethsaha commented on #1058
Please use `4.10.2` for a while till new version is coming !

[2020-03-09 12:31] raulfdm commented on #1058
workaround:

[code]

[2020-03-09 12:35] xuqingkuang commented on #1058
It seems the issue is fixing in 5f86454, and I chose to wait for the new version to be published.

[2020-03-09 12:45] LogicJake commented on #1058
Scared me

[2020-03-09 12:53] anikethsaha commented on #1058
release `v4.11.1`
Please confirm if there is any issues or not

[2020-03-09 12:54] anikethsaha commented on #1057
released `v4.11.1`
Please confirm if there are any issues or not

[2020-03-09 12:57] slikts commented on #1057
`v4.11.1` appears to work, thanks for the fix, but please add automated testing to the process.

[2020-03-09 13:00] anikethsaha commented on #1057
We do have some e2e tests but they are not so strong and not many!
I am not so into testing so I couldn't able to write strong tests.
So I request community to help with strong tests!

[2020-03-09 13:02] Floppy commented on #1058
Fixed here using the default unpkg URLs.

[2020-03-09 13:03] anikethsaha commented on #1057
Closing as its been fix.
Please open new issue if any other issue is there

[2020-03-09 13:03] #1057 closed

[2020-03-09 13:03] anikethsaha commented on #1058
Closing as its been fix.
Please open new issue if any other issue is there

[2020-03-09 13:04] #1058 closed

[2020-03-09 13:11] mzaini30 opened #1059 "How to automatically render <title>?"
## Bug Report

#### Steps to reproduce

#### What is current behaviour

Page title isn't change if I change page

#### What is the expected behaviour

If in markdown:

[code]

Then, generate `<title>my post</title>`

#### Other relevant information

- Your OS: android 9
- Node.js version: 13.0.0
- npm/yarn version: 6.12.0
- Browser version: via
- Docsify version: 4.4.0
- Docsify plugins:

[2020-03-09 13:13] anikethsaha commented on #1059
Please fill the issue template.

[2020-03-09 13:29] xuqingkuang opened #1060 "Background color option of cover page is broken in 4.11.1"
## Bug Report
In the doc - https://docsify.js.org/#/cover?id=custom-background

Define a `![color](#f0f0f0)` can custom the background color.

But it's broken in the recent version 4.11.1.

#### Steps to reproduce
1. Here's an online site that using docsify: http://hippyjs.org (Sorry the page is written in Chinese) -- the site is using recommend reference method from unpkg.
2. As you can see, ther

[2020-03-09 14:06] anikethsaha commented on #1060
Its a bug!
Feel free to investigate and send PR

[2020-03-09 14:07] anikethsaha commented on #1060
In the meantime , you can use `v4.10.2`

[2020-03-09 14:35] anikethsaha commented on #1060
Fix is coming soon !

[2020-03-09 15:09] jeffin143 commented on #1057
I will be there from next weekend to help :)

Great work anyways

[2020-03-09 15:12] anikethsaha commented on #1057
🎉

Thanks

[2020-03-09 15:58] anikethsaha commented on #1060
fixed at [`4.11.2`](https://www.jsdelivr.com/package/npm/docsify?version=4.11.2)

[2020-03-09 15:58] #1060 closed

[2020-03-10 09:37] anikethsaha opened #1061 "[NEXT] Docsify v5"
## New Features To be included (see also [5.0! project board](https://github.com/docsifyjs/docsify/projects/2))

### 1. [Static HTML Generation (non-blocking)](https://github.com/docsifyjs/docsify/issues/136)

### 2. [New markdown Helpers (Needs a list to track)](https://github.com/docsifyjs/docsify/issues/413)

### 3. [Better executable code syntax in MD](1166)

### 4. [`Docsify-themeable`](https

[2020-03-10 09:38] anikethsaha commented on #823
@timaschew I am closing this in favor of https://github.com/docsifyjs/docsify/issues/1061

Please let me know if you think something more/less needs to be added in #1061

[2020-03-10 09:38] #823 closed

[2020-03-10 12:44] QingWei-Li commented on #1061
I can create a fresh PR if a new version starts develoment.

[2020-03-10 12:46] anikethsaha commented on #1061
Coool. I guess that would fit best ! 💯

[2020-03-11 01:44] #1059 closed

[2020-03-11 05:09] computerphilosopher commented on #1002
I got error log from chrome developer tool when I tried searching.

[code]

here is my index.html

[code]

[2020-03-11 10:12] mzaini30 opened #1063 "Disqus error?"
![](https://i.ibb.co/9bvgZYj/Screenshot-2020-03-11-18-10-15-74-a87fd7db6caa850b517aa6fa9d2fcd0e.png)

[2020-03-11 11:51] anikethsaha commented on #1063
seems like disqus changed their API.
need to investigate

[2020-03-11 13:19] mau-jac opened #1064 "Image resizing with Markdown assumes height = width and distorts image"
## Bug Report

#### Steps to reproduce

Resize a rectangular image with Markdown by specifying only a width. Bug started after latest update on March 9th.

`![canoe](assets/canoe.png ':size=200')`

#### What is current behaviour

The rendered html is an image with `width` **and** `height` equal to the width specified in Markdown.

`<img src="/./wk7/assets/canoe.png" data-origin="assets/canoe.png"

[2020-03-11 13:27] anikethsaha commented on #1064
Seems
like a bug . It should be

[code]

[2020-03-11 14:32] mau-jac commented on #1064
Thanks for the quick response. I've checked the example `:size=100` and resizing looks as expected.

[2020-03-11 21:31] mzaini30 commented on #1063
I use disqus with code from docsify site. Then, my friend comment in my blogpost. After that, I get email and link inside it. I click this link, then I get <http://localhost:3000/-/skeleton/pug#comment-4828429963>. But, link in my blogpost is <https://mzaini30.com/#/skeleton/pug>

[2020-03-12 02:09] floatLig opened #1066 "使用docsify自动生成侧边栏标题，但如果我的标题是以数字开头，侧边栏标题无法自动跳转"
比如，我的Markdown写了“**# 1. 大标题**”，这是一个一级标题，侧边栏标题的超链接自动生成“**id=1-大标题**”，但是这无法跳转到文章对应位置。

我该怎么解决这个问题？

[2020-03-12 06:06] anikethsaha commented on #1066
Please translate it to english

[2020-03-12 06:07] Koooooo-7 commented on #1066
Please fill the issue template.

As per ur information, it is no reproducible now.
it is better to have a simple demo for us to investigate.

[2020-03-12 09:41] #1066 closed

[2020-03-12 11:41] wupeiwen233 commented on #718
I meet the same question
try to change js version like this
<script src="//unpkg.com/docsify@4.6.0/lib/docsify.min.js"></script>
can fix this peoblem temporarily

[2020-03-12 12:39] Erimus-Koo opened #1068 "Problem about <title> of the web page."
## Bug Report
This is a question, and I'm a rookie user.

#### Steps to reproduce
- In the `index.html`, wrote `<title>demo</title>`.
- And the markdown file is named `doc.md`.

#### What is current behaviour
- If I have a `_sidebar.md`, the <title> will display `doc - demo`.
- If I set `loadSidebar: false`, the <title> will display `demo`, not `doc`. When I shared many pages, they all named `demo

[2020-03-12 12:41] anikethsaha commented on #1068
Please fill this.
also, try with both docsify version `4.11.x` and `4.10.2` and check if it exists in both ?

[2020-03-12 13:38] Erimus-Koo commented on #1068
@anikethsaha
Your OS: win10 1909

Node.js version: 10.12.0

npm/yarn version: 6.4.1

Browser version: chrome Version 80.0.3987.132 (Official Build) (64-bit)

Docsify version: 4.10.2 and 4.11.2 I've tried both version, its same, exists.

Docsify plugins: I've remove all plugins, its same.

[2020-03-12 13:57] Erimus-Koo commented on #1068
If the title show the name of doc, or the first #header in the document, it will be help.

I can understood that if I have a single page, I can just write the title manual.

But in my case, I've wrote the name of `sidebar.md` as a key in local storage, if user have that key, they can get the correct `sidebar.md` file. I shared one page to them, and they can see the current page, and can use sideba

[2020-03-12 14:03] anikethsaha commented on #1068
it looks like it has been missed or left intentionally. Need to have a look. Feel free to investigate and submit the fix

[2020-03-12 14:19] Erimus-Koo commented on #1068
@anikethsaha thanks.

I've search in the source code, maybe cause in this part, line 592 v4.11.2:
[code]

If no specific sidebar, the target is undefined.

I hope "display the doc name/first header as page title" can be a feature.

In my case, the sidebar shows only the headers of the doc, it's just I need. I hope this part could be keep.

[2020-03-12 14:26] anikethsaha commented on #1068
THanks for taking time !

This needs a discussion as this might conflict with the homepage title which needs to be the title passed (eg `demo` for your case) otherwise it would be `demo - demo`.

[2020-03-13 06:47] Erimus-Koo opened #1069 ""href" of sidebar headers"
## Bug Report

This maybe should be a feature request, I'm not sure.
I just tell what happen and what I expect.

#### Steps to reproduce

In markdown file, wrote a header with link, like:
[code]

and use sidebar.

#### What is current behaviour

In sidebar, if you click `chapter` and chapter is a normal header(without link), it will guide you to the position(y scroll) of `chapter` in page. (this i

[2020-03-13 07:02] anikethsaha commented on #1069
Just to confirm what I understood.

You have a link in sidebar (chapter) which has some external links
now when clicking the sidebar link, it should open the page and on that page the header should have the link mentioned in the first header of the page ?

please correct me if I am wrong

ok, there are few limitations,
when you give a link to a section in sidebar eg
[code]
when this link is clicke

[2020-03-13 07:36] Erimus-Koo commented on #1069
OK, let me clear. what I mean is the `subMaxLevel`, not the header in the `_sidebar.md`.

For a detail example:
[code]

When the `subMaxLevel` works, the sidebar will display:
[code]

And click `chapter3`, on the right frame, `document.md` open and scroll to the position of chapter3. This is the normal case.

---

Do some change, add a link:
[code]

When the `subMaxLevel` works, the sidebar will d

[2020-03-13 16:42] Erimus-Koo opened #1071 "Problem about <strong> wrap in <em>"
Yep, its me again.

This is a special case, let me show you a **sample**:

[code]

#### Github
This 5 sentences looks in **github**, looks like below.

#### Typora
In **typora** (an marddown editor), looks like (I've repalce the Italic with underline):
![image](https://user-images.githubusercontent.com/17139670/76640180-70c3e500-658a-11ea-87e5-51a725b8cb93.png)

#### Docsify
![image](https://user-

[2020-03-13 16:57] anikethsaha commented on #1071
it should have been similar to the github one. `marked.js` does parse it correctly so its a bug from ourside.

[2020-03-13 19:06] alexellis commented on #1061
I was impressed with the experience and how fast it was to make something useful -> https://docs.inlets.dev/, but I could really use a static generator to create HTML.

That means: getting permalinks and proper folders i..e /tutorials/k8s/that-one and being able to have the site scraped because it's rendering HTML and served from anywhere.

Looking forward to testing out the new release.

[2020-03-13 19:13] anikethsaha commented on #1061
Thanks for the heads up 💯

I do think we have a focus that includes this.

Though I can assure anyone when the work will begin and when it will be ready for release.
But we will try to get it ASAP.
👍

[2020-03-14 11:38] Fohlen opened #1074 "Dynamic content in Vue components"
## Bug Report

In the documentation it says that one can embed `Vue` instances. I tried building an interactive component for our documentation like so:

[code]

However when loading the page the content quickly flashes before getting "rendered away".
I have no idea what sorcery is going on behind the scenes but my best bet is that it's an unsupported feature.

#### Steps to reproduce

(see above)

[2020-03-14 12:14] anikethsaha commented on #1074
Sorry I am not familiar with vue so cant really help you here !

Feel Free to investigate and submit the fix.

_Also, try testing with older version and check in which it broke, it will help in investigation_

[2020-03-15 06:40] Koooooo-7 commented on #1074
Actually ,It seems some issues about the Vue supports in docsify.
Currently,  when u create ur own Vue instance,  you will not get the Vue instance in the `mounted` hook by using `this` (`this` directs to the `window` obj  in docsify now).

the Vue instance was covered in  `this.__EXECUTE_RESULT__`.
there is showing how we [execute script](https://github.com/docsifyjs/docsify/blob/develop/src/core

[2020-03-15 08:15] Koooooo-7 commented on #1071
nah, I used `marked.js` [demo page](https://marked.js.org/demo/?text=The%20evil%20of%20men%20is%20that%20they%20*like%20to%20be%20**teacher**s%20of%20oth*ers%0A%0A&options=%7B%0A%20%22baseUrl%22%3A%20null%2C%0A%20%22breaks%22%3A%20false%2C%0A%20%22gfm%22%3A%20true%2C%0A%20%22headerIds%22%3A%20true%2C%0A%20%22headerPrefix%22%3A%20%22%22%2C%0A%20%22highlight%22%3A%20null%2C%0A%20%22langPrefix%22%3A%

[2020-03-15 09:19] degbug opened #1075 "h2 titile with `## 1. What We Mean by “Spring”` report #1-what-we-mean-by-spring' is not a valid selector"
## Bug Report
h2 titile with `## 1. What We Mean by “Spring”` report #1-what-we-mean-by-spring' is not a valid selector

#### Steps to reproduce

h2 titile with `## 1. What We Mean by “Spring”` report '#1-what-we-mean-by-spring' is not a valid selector

#### What is current behaviour

this is the error:
![image](https://user-images.githubusercontent.com/11486075/76698636-7d5a5180-66e0-11ea-8c52-05

[2020-03-15 09:55] Koooooo-7 commented on #1069
Currently, we render the subSideBar according to ur titles in  markdown content. For example:
when u wrote them in xxx.md.
[code]
Firstly, the title was render to
[code]
and
[code]
(As for the 2nd one, the browser would correct the synax.)
so, that makes what u have seen.

-----

I think it a good proposal. mightly, it wouldn't resolve it soon.
For current render logic , I think you need resolve t

[2020-03-15 11:01] anikethsaha commented on #1069
ok I see the issue!
seems fair !

[2020-03-15 11:05] anikethsaha commented on #1075
generally, h2 tags should be linkable meaning that when clicked it should navigate towards it.
having spaces in links never works correctly as when it goes to the header, it gets converted to escaped char.
So maximum markdown renderer adds a hyphen instead of space which stops the behavior and brings consistency.
This is the same behavior with github as well.

[2020-03-15 11:05] #1075 closed

[2020-03-15 11:10] anikethsaha commented on #1071
Opps my bad , i tested with wrong example !

`***asd***`

as I thought the behavior will be the same even having space in between
thanks a lot, @Koooooo-7 ,

***its an issue with upstream (`markedjs`)***

[2020-03-15 11:10] #1071 closed

[2020-03-15 11:25] degbug commented on #1075
@anikethsaha
thank you for your reply, maybe I not understand your explain. I know docsify adds a hyphen instead of space, but
the problem is the text start with number, when I use document.querySelector('#1-what"), it report
`#1-what` is not a valid selector。
the selector should not start with number, should start with a letter。

[2020-03-15 12:52] anikethsaha commented on #1075
github does the same

https://github.com/anikethsaha/vsc-material-theme/tree/md-exp#1-override-theme-colors

We cant change the behavior , it will break other docs

[2020-03-16 02:23] degbug commented on #1075
@anikethsaha
but I fall back to v4.10.2,  it's ok.

for example, the h2 tag with text `1. first para`,  the generated id is `_1-first-para` in version 4.10.2.
but at v4.11.2  the generated id changed to `1-first-para`. the underline was removed.

if you mean, in order to make it same as github, you change the behavior in v4.11.2 ?

[2020-03-16 06:13] anikethsaha commented on #1075
Yes having `_` in front is not right.... It was changed intentionally

[2020-03-16 16:20] joetidee opened #1077 "Does docsify transpile?"
Does Docsify transpile any Javascript in index.html for use in older browsers? The docs says it is compatible with IE11.

[2020-03-16 16:35] anikethsaha commented on #1077
I cant assure you about IE11 right now as we might have made some changes like adding some dep which may not be compatible. Can you share if you faced any issue then we can look deeper in it then and fix it !

[2020-03-16 16:35] anikethsaha commented on #1077
we have a discussion to drop the support completely in the next major version

[2020-03-16 18:04] joetidee commented on #1077
ok, IE11 aside, does it transpile the JS and if so, how does it do it?

[2020-03-16 18:09] anikethsaha commented on #1077
if you meant transpiling from some other es version to current, then it doesnt.

can you mention your use case then I can try to help if possible !

[2020-03-16 20:58] joetidee commented on #1077
For example, if writing a plugin to go into index.html:
[code]
Is this going to be transpiled in any way before it hits the browser, i.e. I can't use `let` and `const` if I want full IE11 support?

[2020-03-16 21:05] anikethsaha commented on #1077
no docsify doesn't do any transpilation for es versions.
max browser out there supports `let` and  `const` but not all , so you can either not use it or else write it like that and use babel with webpack/rollup to make them compatible!

I would recommend using `var` as everything gets transpiled to `var` only at the engine of any browser so no point to have extra tooling if you are creating simple

[2020-03-16 21:05] #1077 closed

[2020-03-17 07:15] randName opened #1078 "Embed with :type=code replacing entire page when other embeds are present"
## Bug Report
(potentially related to #791 and #866 or #970)

#### Steps to reproduce
Include a file as a `.html` and then as a code block, i.e.

[code]

[raw files](https://gist.github.com/randName/9b2675aa92487228b18c81ff8bb14e1a)

[rendered version](https://bl.ocks.org/randName/raw/9b2675aa92487228b18c81ff8bb14e1a/)

Tested in Chrome, Firefox and Edge

#### What is current behaviour
The code bl

[2020-03-17 07:30] anikethsaha commented on #1078
we do have a issue with multiple embedding!

I need to look in it !

Feel free to investigate and submit the fix

[2020-03-17 21:31] #1042 closed

[2020-03-17 21:34] joetidee opened #1079 "How to position a 'last updated' text before pagination..."
I want to place a `Last updated: ${window.$docsify.lastUpdated}` text after the article content, but before the pagination block. I cannot do this with either the `hook.beforeEach` of `hook.afterEach` plugin method - how can I achieve this?

[2020-03-18 07:26] anikethsaha commented on #1079
try keeping the pagination plugin at the last script and use `beforeEach` and add the markdown for that. pagination plugin is using `afterEach` hook i think

[2020-03-18 10:03] joetidee commented on #1079
If I use `beforeEach`, I get:

I'm guessing that `beforeEach` doesn't have access to the `window` object (?)

[2020-03-18 10:07] anikethsaha commented on #1079
try using `vm.` instead of windows. I don't remember the exact object name and its properties. Need to look there. Check the docsify object inside the vm if present.

[2020-03-18 11:03] joetidee commented on #1079
Weirdly, I can see `vm.config.lastUpdated` in the `vm` object, but when I `console.log` it, it is `undefined` !

[2020-03-18 11:08] anikethsaha commented on #1079
vm.config is from the config object of docsify
I can suggest a solution (hacky)
 you can set the `lastUpdate` manually using js in your HTML
or in `beforeEach` hook you place a placeholder something like `__lastUpdate__` and in `afterEach` you do regex and replace it with the lastUpdate property as it wont be undefined at that time.

Its more like a templating

[2020-03-18 11:11] joetidee commented on #1079
ok, I'll try this, but is there going to be an opportunity down the line to be able to append to the article without a hacky approach?

[2020-03-18 11:12] anikethsaha commented on #1079
it depends on how other plugins are written and how they are being used.
if you are using a pagination plugin after your plugin, it shouldn't be an issue then.
its like a waterfall approach

[2020-03-18 11:40] joetidee commented on #1079
The hack worked.

[2020-03-18 12:25] joetidee opened #1080 "Search does not work on the home page"
When visiting the home page and typing in a word, the search does not show any results. The search works once in an article page.

[2020-03-18 12:43] joetidee opened #1081 "_navbar.md 404 (Not Found)"
In the browser console, the message:

for each page.

If I have already defined a `<nav>` in index.html, then I don't think it should be trying to look for individual `_navbar.md` in each folder (?)

[2020-03-18 12:45] anikethsaha commented on #1081
set `loadNavbar` to false

[2020-03-18 12:46] #1081 closed

[2020-03-18 13:07] anikethsaha commented on #1079
any reason to re-open this ?

[2020-03-18 13:20] joetidee commented on #1079
ok, it didn't quite work :(. But I'm just trying to figure out what the correct way to format sidebar content is before I post a reply because lastupdated text is appearing correctly on some pages and not on others.

[2020-03-18 13:21] joetidee commented on #1079
Do you have any guidelines on formatting sidebar content?

[2020-03-18 13:26] anikethsaha commented on #1079
I would recommend you checking the docsify's docs folder and also this https://github.com/posthtml/posthtml.org.

[2020-03-18 13:52] joetidee commented on #1079
Problem is that none of these examples have nested folders in their docs with sidebar files in each folder.

[2020-03-18 13:53] joetidee commented on #1079
Would be good just to understand what the purpose of the sidebar is - it is to navigate just what's on the page, or to navigate the whole site?

[2020-03-18 13:55] anikethsaha commented on #1079
just on the page + other pages present in the docs (by manually adding content in `_sidebar.md`)

[2020-03-18 14:17] joetidee commented on #1079
ok, on one page I am getting `lastupdated` just appearing, and other pages it works correctly - not sure why there is the inconsistency (?)
<img width="1100" alt="Screenshot 2020-03-18 at 14 14 40" src="https://user-images.githubusercontent.com/8842431/76969995-18db0480-6923-11ea-885b-3366a5696a30.png">

<img width="1029" alt="Screenshot 2020-03-18 at 14 15 19" src="https://user-images.githubuserc

[2020-03-18 14:27] anikethsaha commented on #1079
may be for page's content. You need to check it manually like with console.logs/debugger

[2020-03-18 14:34] joetidee commented on #1079
In the first example above, the <footer> is being added inside the H3 tag:

<img width="734" alt="Screenshot 2020-03-18 at 14 31 14" src="https://user-images.githubusercontent.com/8842431/76971541-3a3cf000-6925-11ea-9913-91c48e9a091c.png">

Whereas, in the second example above, the <footer> is (correctly) being added to the add of the article (before the pagination block):

<img width="504" alt="S

[2020-03-18 14:37] anikethsaha commented on #1079
I think it might be cause of page content

[2020-03-18 14:40] joetidee commented on #1079
Ah, I added a newline to the end of the 'web/index.md' page and it now works. Is it a requirement of markdown files to have a newline at the end?

[2020-03-18 14:42] anikethsaha commented on #1079
I dont know, we are using markedjs to parsing and rendering markdown, so I guess you can ask this question in their repo as well are simply showing what's coming as an output of `markedjs`.

[2020-03-18 14:48] joetidee commented on #1079
Or, you could add a auto-add a newline before appending using the `hook.beforeEach` method.

[2020-03-18 14:51] anikethsaha commented on #1079
yes. with plugin's hook you can. It depends on the different use cases so it is something which should be done by plugins

It looks like you got a workaround working for you. I am closing this issue. Please comment if you need some more clarification 👍

[2020-03-18 14:51] #1079 closed

[2020-03-18 16:44] joetidee opened #1082 "Override the way the sidebars are built..."
Is there a way to override the way the sidebars are automatically built?

[2020-03-18 16:55] anikethsaha commented on #1082
Not at this moment. You can control sidebar links with content's headers etc.

Also, its better to use our gitter chat room for questions. You will get more approaches and suggestions in that

Thanks 👍

[2020-03-18 16:55] #1082 closed

[2020-03-18 23:28] joetidee opened #1083 "Please update the documentation on how the sidebar / pagination work."
Currently, there seems to to be very little instruction on how/why certain combinations of `_sidebar.md` files and folder structures make the sidebar navigation and pagination work.

For example, if my `_sidebar.md` file contains this:

[code]

and my folder structure is this:

[code]

the pagination and menu structure works fine. But there is no explanation to why this works. If I move `.md` file

[2020-03-19 20:50] Erimus-Koo opened #1084 "include more than one file will cause error"
## Bug Report

#### Steps to reproduce
- In one markdown file, use more than one "include", like:
[code]

#### What is current behaviour
- While include only one file, display is all good.
- But if include two, the whole page will only display the 2nd iframe. Other parts of markdown will disappear.
- Actually, if include more than one, it always show the last iframe only.

#### What is the expecte

[2020-03-19 20:54] anikethsaha commented on #1084
can you try without the `height` property !?

[2020-03-20 08:03] Erimus-Koo commented on #1084
| iframe1 height | iframe2 height | iframe1 display | iframe2 display | other elements |
|-|-|-|-|-|
| 500px | 500px | none | 500px | none |
| 500px | none  | none | ~100px| none|
| none |  500px | none | 500px | none |
| none | none| none | ~100px| none|

There's only one time, I keep the "height" of 1st one and remove the 2nd, both iframe display and the 2nd looks 100px height. But I can not rep

[2020-03-20 08:57] anikethsaha commented on #1084
this needs investigation

feel free to investigate and submit the fix.

It will take time for me as I am quite busy with some other stuff.

[2020-03-20 17:37] jhildenbiddle commented on #1061
Happy to dive back in and help with the integration of docsify-themeable. I’m not sure what the timeline or preferred approach is though, so any guidance from the more active maintainers is welcome.

[2020-03-20 17:44] anikethsaha commented on #1061
Awesome

I don't think there is any timeline as of now. about `docsify-themeable`, I am not familiar with the library so I think we can discuss that in gitter and proceed with your old approach which you planned.

[2020-03-21 18:55] jhildenbiddle commented on #1061
Sounds good, @anikethsaha.

[2020-03-21 22:24] saowang opened #1085 "Add tinydate to $docsify"
## Feature request

#### What problem does this feature solve?

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

[2020-03-22 07:10] anikethsaha commented on #1085
Please fill the issue template

[2020-03-22 08:44] #941 closed

[2020-03-22 12:54] Koooooo-7 commented on #1080
could u give more details about it.

[2020-03-22 13:24] integzz opened #1086 "Please Add Footnote of Markdown"
## Feature request

#### What problem does this feature solve?
Display Footnote of Markdown

#### What does the proposed API look like?

[^]

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

[2020-03-22 13:25] anikethsaha commented on #1086
fill the complete template and give some more details

[2020-03-22 13:28] integzz opened #1087 "Can't Redirect to Heading Form like ## 1.1, ## 1.2, ..., etc."
## Bug Report

#### Steps to reproduce

#### What is current behaviour

Click Heading Form like ## 1.1, ## 1.2, ..., etc. on Sidebar, can't redirect to the contents

#### What is the expected behaviour

Redirect to Heading Form like 1.1, 1.2, ..., etc.

#### Other relevant information

- [x] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version: 13.7
- npm/yarn ve

[2020-03-22 13:38] anikethsaha commented on #1087
can you submit a reproducible sandbox ? we have  a demo sandbox in readme of this repo

[2020-03-22 14:26] integzz commented on #1087
Sorry for delayed response, I tried to use the sandbox, however, there is some new problem with the sidebar, plus I am a frontend novice and not familiar with the sandbox, so I just put this bug on hold.

[2020-03-22 14:44] #924 closed

[2020-03-22 14:44] #922 closed

[2020-03-22 14:44] #875 closed

[2020-03-22 19:24] joetidee commented on #1080
It appears that the search mechanism does not work when on the home page (readme.md) - the type to search placeholder doesn't even show. When on any other page it works.

[2020-03-22 19:52] anikethsaha commented on #889
This bug still exists !

PR welcome

[2020-03-23 02:23] StanleyWei opened #1088 "Sidebar level link does not work if header starts with numbers"
## Bug Report

Thanks for this great app and I just got one issue for now, if the header text in the document starts with numbers, the auto links in the sidebar will not work. For example:

Header text in the document as follows:

1. Introduction
1.1 Purpose

The auto links will be resolved as like http://localhost:3000/#/mybook?id=1-introduction, it will not redirect to the right section when thi

[2020-03-23 06:32] anikethsaha commented on #1088
can you share a reproducible sandbox for this . we have a demo sandbox in the readme.
Also, is it working on docsify version `4.10.2` ?

[2020-03-23 08:42] zerojs opened #1089 "Title begins with a number cannot click the sidebar jump, how to solve?"
## Bug Report

#### Steps to reproduce

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn version:
- Browser version:
- Docsify version:
- Docsify plugins:

[2020-03-23 08:44] anikethsaha commented on #1089
please translate it to english

[2020-03-23 08:46] zerojs commented on #1089
Title begins with a number cannot click the sidebar jump, how to solve?

[2020-03-23 08:48] anikethsaha commented on #1089
can you share a reproducible sandbox for this . we have a demo sandbox in the readme.
Also, is it working on docsify version `4.10.2` ?

[2020-03-23 09:00] zerojs commented on #1089
Id starting with a number will not work?
my project working on docsify version `4.3.0`
![image](https://user-images.githubusercontent.com/38181072/77299249-23343e80-6d27-11ea-84e6-a606ed5ec2a0.png)

[2020-03-23 09:04] anikethsaha commented on #1089
it should ,

[2020-03-23 09:07] zerojs commented on #1089
I want to start the title with a number, so how do I use it? I remember it was ok。

In CSS, identifiers (including element names, classes, and IDs in selectors) can contain only the characters [a-zA-Z0-9] and ISO 10646 characters U+00A0 and higher, plus the hyphen (-) and the underscore (_); they cannot start with a digit, two hyphens, or a hyphen followed by a digit. Identifiers can also contain

[2020-03-23 09:09] anikethsaha commented on #1089
its a bug if its not working . Need an investigation about it.

Feel free to submit a fix .  It may take time for me as I am a bit busy with other stuff.

[2020-03-23 09:14] zerojs commented on #1089
Looking forward to your update！

[2020-03-23 09:15] anikethsaha commented on #1089
Cant assure you anytime soon though

[2020-03-23 10:33] StanleyWei commented on #1088
You may try the test link below: https://data42.cn/docsify/docs/#/?id=introduction
You will see if click the menu 01: balabala, it will not work. Thanks very much!

Regards,
Stanley

[2020-03-23 15:24] Michael728 opened #1090 "Cannot jump to the content of the search by clicking the results"
env:
[code]

problem: I create a page: https://awesome-wiki.github.io/awesome-wiki-bookmarks/#/ ,when I type `Linux` in the search placeholder, It can show the results of search, I click the reulst, it can't jump to the content!

PS: not every result cannot jump by clicking

[2020-03-23 15:42] anikethsaha commented on #1090
its working fine with our docs. Can you create a reproducible sandbox for this.

[2020-03-23 15:56] Michael728 commented on #1090
the repo url is https://github.com/awesome-wiki/awesome-wiki-bookmarks

[2020-03-23 16:00] anikethsaha commented on #1090
I am asking for the sandbox or repo so that I can take a look cause its working fine in our docs site.

Also, you did fill the issue template.we have written in clear in the template that we will close the issue if it's not there. That template is important and helps us in investigating the matter quickly.

[2020-03-24 04:53] Koooooo-7 commented on #1088
hey, it seems the bug about the element `id` start with numbers, if u want resolve it right now, u can add ur customer header ids , reference this [Customise ID for headings](https://docsify.js.org/#/helpers?id=customise-id-for-headings).

@anikethsaha  How about add a common id prefix by default to avoid those issues?
it looks like
[code]

[2020-03-24 07:36] anikethsaha commented on #1088
it looks like

this is a good solution but then we need to change the ids of the source as well like the markdown rendering as content.
or,
removing the prefix by listening to onclicks, might make it slow

I am pretty sure it was working before but don't know the exact version

[2020-03-24 12:45] Koooooo-7 commented on #1088
I mean I just add the prefix on the `origin.heading = renderer.heading` function .
[code]

-----

I get it, in the old version( ~v4.10.2), it will replace the front digit to `_$1` in slugify.js.
[code]
But this merge removed it, [Fix #895 (#896)](https://github.com/docsifyjs/docsify/pull/896) in v4.11.0.
[code]

[2020-03-24 14:17] Koooooo-7 commented on #1089
thx for ur report .

Same issus as #1088.

[2020-03-24 14:17] #1089 closed

[2020-03-24 14:17] Koooooo-7 commented on #1087
thx for ur report .

Same issus as #1088.

[2020-03-24 14:17] #1087 closed

[2020-03-24 14:41] integzz commented on #1087
Thank you, #1088 is exactly what I want to report.

[2020-03-24 14:45] anikethsaha commented on #1088
Please try  new version `4.11.3` to check if it still exists.

@Koooooo-7 can you check [this](https://github.com/docsifyjs/docsify/pull/1091#discussion_r396727010) and see if we can merge these two cases. Else can you create a separate issue. We can surely discuss about it, it looks good to have

[2020-03-24 18:23] IAmNatch commented on #341
Given that there hasn't been much movement on this, perhaps there's an easier way to handle versioning? I think versioning is very important for any full featured documentation set.

Docusaurus has a very reasonable [versioning system](https://docusaurus.io/docs/en/versioning).

Here the file layout would read:
[code]

It is a breaking change, but I think it could prove quite manageable.

[2020-03-24 18:38] anikethsaha commented on #341
This is something I really want for our next version.
I will add this in our [roadmap](https://github.com/docsifyjs/docsify/issues/1061) as a discussion. It involves the cli as well.

[2020-03-24 18:44] IAmNatch commented on #341
@anikethsaha Amazing. Please let me know the best way to contribute! I'd be happy to help along the way with a little direction from someone closer to the project.

[2020-03-24 18:50] anikethsaha commented on #341
Glad to hear 💯

Currently I have very rough approach for this but I am open to new approaches. So it would be great if you can comment your approach if you have in the roadmap issue.

And also, there will be many ways to contribute in this. just keep an eye in it. Everything will be discussed in issues and then it will be implemented

[2020-03-25 00:21] jrappen opened #1092 "dark mode implementation"
@anikethsaha Thanks for this addition in #1031. Maybe you could review the exact implementation of this functionality and:

- make the detection automatic, as most (current) browsers support it
- while removing the toggle button

please compare the discussion in:

- jhildenbiddle/docsify-themeable#19

for details.

[2020-03-25 00:40] Koooooo-7 opened #1093 "[DISCUSS] About how to resolve docsify links."
## Bug Report
Relative Issues/PRs :
1. Sidebar level link does not work if header starts with numbers.  #1088 #1087 #1089
2. Deal with Docksify links format (https://github.com/docsifyjs/docsify/pull/1091#discussion_r396727010)
#### Steps to reproduce
As I posted aboved.

#### What is current behaviour
1. render the all the links no matter what.
2. havnt deal with links in some cases.

#### What i

[2020-03-25 00:43] Koooooo-7 commented on #1088
the latest `v4.11.2` is still exist this problem.

I opened a new one #1093 , and I may miss some relative issues, u could add them in.

[2020-03-25 06:46] anikethsaha commented on #1092
This can be useful

Can you explain this.

Can you share your implementation for the 1st point if you have any

also, the dark mode plugin is [here](https://github.com/anikethsaha/docsify-plugin/tree/master/packages/docsify-dark-mode), so you can refer that as well if required.

[2020-03-25 06:50] anikethsaha commented on #1088
you meant `v4.11.3` ?

[2020-03-25 06:59] Koooooo-7 commented on #1088
I didn't find the `v4.11.3` tag to checkout. so I test the latest  `v4.11.2` only.

[2020-03-25 07:02] anikethsaha commented on #1088
![image](https://user-images.githubusercontent.com/26347874/77510365-97402500-6e94-11ea-945b-93c47cb52954.png)

i released that yesterday.

[2020-03-25 07:12] Koooooo-7 commented on #1088
I didn't find the `v4.11.3` tag to checkout. so I test the latest  `v4.11.2` only.

……okay, maybe I missed something.:cat: could u test the `v4.11.3` . If the `slugify.js` hasn't been updated, I guess the issue is still exist.

[2020-03-25 08:03] anikethsaha commented on #1088
it has been changed in slugify.js . check https://github.com/docsifyjs/docsify/commit/154abf59a6153e84b018fcdffa86892776d6da7d

[2020-03-25 08:21] Koooooo-7 commented on #1088
sounds good. :+1:
BTW: I still can't checkout this tag and I didn't find it at the release and repo right now... idk.

[2020-03-25 08:37] anikethsaha commented on #1088
Yea, I think the publish script didn't work as expected. IDK why. I will check that

[2020-03-25 10:29] Koooooo-7 commented on #1088
:joy:  that's okay.

[2020-03-26 06:10] randName commented on #1084
sounds similar to what I faced in #1078 so it's probably the same issue
unfortunately it is not critical for my stuff now so I have not taken a look yet

[2020-03-26 14:30] Frankstar commented on #508
this issues is closed, but you are right @lamuertepeluda - its "broken"

[2020-03-26 15:22] stoufa opened #1094 "The first h1 header is ignored in sidebar"
## Bug Report
As the title suggests, the first h1 markdown header is ignored in sidebar.

#### Steps to reproduce
Let's say we have two h1 headers 'a' and 'b', for each one of them, we have three h2 sub-headers `a.1`, `a.2`, `a.3`, and `b.1`, `b.2`, `b.3` respectively. The output will be as if `a.1`, `a.2`, `a.3`, and `b` are h1 headers and `b.1`, `b.2`, `b.3` as h2 sub-headers.

#### What is curr

[2020-03-26 15:28] anikethsaha commented on #1094
Can you explain this.

[2020-03-26 15:36] stoufa commented on #1094
@anikethsaha I get some errors when I try to fork the sandbox mentioned in the template. I tried my best to describe how to reproduce the same issue.

[2020-03-26 15:40] anikethsaha commented on #1094
its working fine from our end right cause our docs seems working fine and checked few other websites running docsify and seems to be working

[2020-03-26 15:51] stoufa commented on #1094
This is not my case !
![image](https://user-images.githubusercontent.com/11628585/77666837-bd8fbe80-6f81-11ea-98ce-9b5b7fcf528d.png)

[2020-03-26 16:00] anikethsaha commented on #1094
I guess after forking, try reloading the page

[2020-03-26 16:31] #871 closed

[2020-03-26 17:47] stoufa commented on #1094
It took more than a simple refresh, anyways, it's working now. The issue now is : we have a different environment in this sandbox ! And the same code that didn't work for me in working fine there ! Here's an animation of the output I get with and without the hack I spoke about.

![docsify bug | Peek 2020-03-26 18-39](https://user-images.githubusercontent.com/11628585/77678759-eae46880-6f91-11ea-8a

[2020-03-27 13:36] #1085 closed

[2020-03-27 13:44] StanleyWei commented on #1088
Thank you both very much, @Koooooo-7 @anikethsaha, just tried the latest version and it works well. I will close this issue.

Regards,
Stanley

[2020-03-27 13:44] #1088 closed

[2020-03-27 14:45] francescobianco opened #1095 "Handle multi-versions documentation website"
## Feature request
I'm looking for maintain in a single place multiple version of my library not only for historical reason,
Like how docsify manage 'languages', I found useful, manage with a dropdown multiple website related to different release of structure (not with git revision analysis, just with file inside). See this images please:
![Schermata da 2020-03-27 15-32-03](https://user-images.git

[2020-03-27 15:35] anikethsaha commented on #1095
This is in our roadmap for v5.

You are welcome to submit an approach in the roadmap issue and even PoC for it 👍

I cant start development for `v5` before the end of April so, you are welcome to chip in 💯

Thanks 👍

[2020-03-27 15:35] #1095 closed

[2020-03-29 04:42] ghost opened #1096 "routerMode="history" second-level dir bug"
## Bug Report
history mode second-level dir bug
#### Steps to reproduce
1. `routerMode: "history"`
2.  have a  second-level `dir/`
3.  have a  test file `dir/test.md`
4.  second-level `dir/` not have a sidebar.md

#### What is current behaviour
if  i click `dir/test` then `dir/sidebar.md` not loaded , the `/sidebar.md`  link will not works

#### What is the expected behaviour
i need the `/sidebar.

[2020-03-29 13:27] #1086 closed

[2020-03-30 04:29] Koooooo-7 commented on #1096
per to ur descriptions, it is hard for me to reproduce it clearly.
could u gave a simple demo below or edit on the Sandbox that makes me know ur configurations and file directory easily.

[2020-03-30 04:50] Koooooo-7 commented on #1094
I create a  initialization  docsify project (`docsify init ./docs`).
and edit the README. md
[code]
the sidebar rendered correctly.

so, I think u could create a simple demo likes this.
if the bug is still reproducible, I guess there may have others configurations/content get it broken or environment problems.

[2020-03-30 13:19] msi-matthew commented on #568
I'm having issues when trying to download  a `.dmg` file using the ':ignore' flag.

[2020-03-31 07:45] CHU295 opened #1098 "Click the search results on the left, the right page cannot be located"
## Bug Report

#### Steps to reproduce
show this in stackoverflow
https://stackoverflow.com/questions/60945607/docsify-click-the-search-results-on-the-left-the-right-page-cannot-be-located

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn ve

[2020-03-31 23:48] advename commented on #610
I've wrote a python script for this:
[code]
Simply place all your markdown files in the /docs directory and run this script in a python shell or save it as a python file like *create_sidebar.py* and run it with `python create_sidebar.py`

[2020-04-01 12:01] s-pace commented on #1061
🎉 Do you want use to help you with search? I am part of the docsearch team https://docsearch.algolia.com/

[2020-04-01 12:04] anikethsaha commented on #1061
That would be really great to have it as official plugin or external.  Let me know how you would like to proceed . !

[2020-04-01 12:06] s-pace commented on #1061
Great. We will make sure to have the correct need:
- Server side rendering
-[ Sitemap.xml](https://docsearch.algolia.com/docs/config-file/#sitemaps)
- Proper html elements like `<article/>` to create a basic configuration
[- Promote it from our plugin page](https://docsearch.algolia.com/docs/integrations/#our-great-integrations)

All of theme will help the SEO too

[2020-04-01 12:12] anikethsaha commented on #1061
With plugins we cant do this but we can add a section in our docs.

it can be with plugin

[2020-04-01 12:44] s-pace commented on #1061
What is the default elements used then instead of `<article/>` ? We would need some steady class otherwise.

[2020-04-01 13:08] anikethsaha commented on #1061
the current search bar is placed in sidebar which is placed in `aside`. You can check the code for current search plugin [here](https://github.com/docsifyjs/docsify/tree/develop/src/plugins/search).

- Sidebar is in `aside` with `.sidebar` class (steady)
- the main content is placed in `section.content` . (steady)
- Navbar in `nav.app-nav`.

If you want to keep the search bar in position where the

[2020-04-01 13:10] anikethsaha commented on #1061
Also, we will remove the current dark mode button and it will be added through the core in the navbar

[2020-04-02 10:39] s-pace commented on #1061
Glad to ear.

We are working on an amazing new discovery experience with the search so stay tuned (Spoiler, @francoischalifour and @shipow are on 🔥) .

I will be happy to help on that and make the process really smooth for Docsify users

[2020-04-02 12:16] tobyhede opened #1101 "Server Side Rendering appears to no longer work"
## Bug Report

#### Steps to reproduce
Follow the instructions on Server Side Rendering
https://docsify.js.org/#/ssr

#### What is current behaviour

Following the SSR instructions results in a blank page.
It looks like the app and config are not being injected by the server.

Using the package.json configuration, I can get `docsify start` to run.
It looks like there is also a bug in docsify-cli w

[2020-04-02 12:19] anikethsaha commented on #1101
can you share a reproducible repo ?

[2020-04-02 12:46] indaviande commented on #610
I've got the following error line while running the pytohon script :
`➜  docsify git:(master) ✗ python create_sidebar.py
  File "create_sidebar.py", line 10
    sidebar_file.write( f"* [{name[0]}]({file})\n" )
                                                 ^
SyntaxError: invalid syntax`

[2020-04-02 13:22] tobyhede commented on #1101
Sandbox is here - https://codesandbox.io/s/github/tobyhede/docsify-ssr

`docsify start . -c ssr.config.js` has an error.

SSR Docs says "You can configure it in a special config file, or package.json."
So I used  `docsify start` with package.json.

But the injection doesn't happen.

[2020-04-02 19:26] advename commented on #610
Can't help you there, mine works.

[2020-04-03 02:27] CHU295 opened #1103 "Bugs in special character handling"
## Bug Report

#### Steps to reproduce
When there is a special character in a title, the a tag will escape this character, but the key searched by the serach component will directly ignore it。

For example, now there is a title called 'developer's Guide', which will be converted to 'developer 39s guide', but in 'docsify. Search. Index', it will be converted to 'developers guide', The character ' i

[2020-04-03 02:29] CHU295 commented on #1103
This is the last bug I mentioned
Now I find this reason

https://github.com/docsifyjs/docsify/issues/1098

[2020-04-03 03:02] CHU295 commented on #1103
And Chinese characters have the same problem

[2020-04-03 06:15] anikethsaha commented on #1103
Feel free to submit a fix

[2020-04-03 13:55] Koooooo-7 commented on #1103
I remember it was working correctly about the  escape sequences  issues.
it seems refactoring problems.

[2020-04-03 13:59] anikethsaha commented on #1103
I think it was because I had to remove `css.escape` package in order to patch an immediate fix as `css.escape` was not bundling along with the other module during build using rollup.
not sure ! forgot the context of this.

@Koooooo-7 can you point me the issue/PR were it was fixed?

[2020-04-03 15:05] Koooooo-7 commented on #1103
@anikethsaha
I pulled the `v4.11.3` , it works correctly, I cant reproduce it right now. :sweat_smile:

[2020-04-03 15:07] anikethsaha commented on #1103
@Koooooo-7 thanks for the input.

@CHU295 can you mention which version you are on ? also try using `4.11.3`

[2020-04-04 01:43] sy-records commented on #1061
For website SEO, we need `Static HTML Generation`. 👍🏻

`ssr` not working, like docsifyjs/docsify-ssr-demo#3

[2020-04-04 02:22] anikethsaha commented on #1061
It is a candidate for `v5`.

[2020-04-04 16:39] adrianbj commented on #361
Sorry, I still don't understand why this can't happen, or is there at least some other way to deal with the overlapping logo problem?

[2020-04-04 16:45] anikethsaha commented on #361
I think it will be considered if it still exists.
Can you reproduce this using the codesandbox link from the readme ?

I guess we should remove the navbar only when `mergeNavbar` option is true.

[2020-04-04 16:46] anikethsaha commented on #361
cc @docsifyjs/reviewers thoughts ?

[2020-04-04 17:14] adrianbj commented on #361
Sorry, I can't find the link you are referring to, but you can see the issue in action here: https://adrianbj.github.io/TracyDebugger/

Actually, I just realized that if you reload the page at a narrow width, the navbar is actually removed - it just doesn't happen responsively when resizing from desktop to mobile width. Not sure if this behavior has always been the same, but I think it's probably

[2020-04-04 17:14] #361 closed

[2020-04-04 20:36] jhildenbiddle commented on #413
Three helper-related items worth mentioning:

### 1. Blockquote helpers should support nested block-level elements

Consider how generic markdown supports multiple paragraphs in a single blockquote:

[code]

HTML output:

[code]

Unfortunately, the existing "important content" and "general tips" do not support nested block-level elements properly:

[code]

HTML output:

[code]

The correct HTML ou

[2020-04-04 20:37] jhildenbiddle commented on #1061
Thoughts regarding helpers added to #413.

(Apologies in advance for the lengthy post.)

[2020-04-04 21:13] extrapixel commented on #571
almost 2 years and this bug is still there

[2020-04-05 06:40] anikethsaha commented on #571
@extrapixel can you share a reproducible sandbox for this using the latest version.
it would help a lot in investigating this.

Sorry for this much delayed, this might have missed my eyes

[2020-04-06 11:03] woss opened #1104 "Nesting issue with more than 2 levels"
## Bug Report

#### Steps to reproduce
I've made a repo that shows the issue.

https://woss.io/docsify-nesting-issue/#/

#### What is current behaviour
the embedded files are not showing at all when nested and relativePath is true

#### What is the expected behaviour

to show embedded files

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS

[2020-04-06 17:26] #873 closed

[2020-04-08 19:56] mylabonline opened #1106 "embedded video will only play on page reload (F5) but not from links/pages"
## Bug Report

#### Steps to reproduce
Add the following into index.html

[code]

Insert the below into a .md file

[code]

docsify serve and go to the MD page with the embedded video. you will see that the video loads, but if you navigate to another page, then back to the video page the video is not loaded. but if you refresh (f5) the page the video will load.

#### What is current behaviour

whe

[2020-04-08 20:42] guiyomh opened #1107 "env: node\r: No such file or directory"
## Bug Report

when I run the command `docsify serve docs`
I have this error:

[code]

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS: Mac Os 10.15
- Node.js version: 10.17
- npm/yarn version: yarn 1.22.4
- Browser version: ~
- Docsify version: 4.4.0
- Docsify plugins: []

#### Please create a reproducible sandbox

[![Edit 307qqv236](htt

[2020-04-09 11:45] mylabonline commented on #1106
I think I might have found the 'fix' but not sure if its correct.

I found in the Plugins section the hook.afterEach so I added the following

[code]

I have navigated throughout my docs site and back to the video page and it seems to be loading every time as expected.

Any better way to do this?

[2020-04-09 15:03] GerhardMes opened #1109 "mp3 embed"
hi there,

just playing around and embedding audio mp3 via 'include' function. Works perfect, but just one little suggestion or question.

Is there a way to include volume regulation too?

In my case, there isn't one. I have to use the volume control of my device.

I am trying to make something like an educational app. It would be perfect if someone knows how I could fix a video on top of the page

[2020-04-09 17:53] brisa-pedronetto commented on #610
@indaviande try running `python3 create_sidebar.py` 👍

[2020-04-09 19:29] brisa-pedronetto commented on #610
Also, I added an improved version of @indaviande's script here: https://gist.github.com/brisa-pedronetto/ca0adc0e8d5550cb34ce5144ec2b305f

[2020-04-09 21:38] jrappen commented on #1092
@anikethsaha

I'm talking about [`prefers-color-scheme`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) and removing this button:

<img width="529" alt="image" src="https://user-images.githubusercontent.com/8577450/78942283-a68cb880-7ab9-11ea-8307-3f65b0b052d2.png">

as we can fetch the preference without needing to add a toggle. Compare the following:

* https://git

[2020-04-09 21:42] jrappen commented on #1092
If you need screencasts for visuals, let me know. I was too lazy to make those without an expressed need.

[2020-04-10 02:37] CHU295 commented on #1098
I found the reason. Sometimes the a tag of the search box will not trigger the listening event, which causes the navigation to be false. At this time, the value of source is history, so the location will not be updated
At this point, a simple solution is to set navigation to true by default

[2020-04-10 03:02] CHU295 opened #1110 "Cannot read property 'contains' of undefined"
## Bug Report

#### Steps to reproduce
When clicking the result switching page in the left search box, an error will be reported
![image](https://user-images.githubusercontent.com/23656516/78958410-935e0500-7b1a-11ea-8375-5b74b4e1866e.png)
Uncaught TypeError: Cannot read property 'contains' of undefined
    at HTMLElement.<anonymous> (docsify.min.js:1)

After query, the source code needs to be mod

[2020-04-10 03:13] CHU295 commented on #1098
![image](https://user-images.githubusercontent.com/23656516/78958765-a32a1900-7b1b-11ea-8b64-5aadb0f471cc.png)
After the query, it is because the search source code has errors. As shown in the figure, in most cases, the element that triggers the click event is not A tag. At this time, stopPropagation event causing the problem mentioned in the previous article. Navigation = false so that source = h

[2020-04-10 03:15] CHU295 commented on #1103
It's marked.js`s parsing rules that cause~@anikethsaha

[2020-04-10 03:58] Koooooo-7 commented on #1103
so , what's ur version and trying to use v4.11.3 to make sure whether it is reproducible.
if u have more useful information, u could show more details.

[2020-04-10 04:28] #1103 closed

[2020-04-10 05:02] Koooooo-7 commented on #1109
I think it works as ur expected , maybe I need more details about ur needs.

![176cd1c0d53d9c1d1e9b7404b76d41d68b4a5a766b1a536e14e2ff0c37428e6e 0](https://user-images.githubusercontent.com/33706142/78963738-f6579800-7b2a-11ea-9915-8b61f72ddcb0.jpg)

[code]

[2020-04-10 07:59] GerhardMes commented on #1109
first, thanks for your response. For a second, after copying your code and adapting it to my needs, I had the volume control.
But after refreshing the localhost, it was gone again. Here is my line of code:

`[music](/_media/Audio_Lecture_4.mp3 ':include ')`
I have tried it with and without the foregoing backslash. Nothing changed.

![Bildschirmfoto 2020-04-10 um 09 51 04](https://user-images.githu

[2020-04-10 08:01] anikethsaha commented on #1092
Actually this plugin is just temp. I am planning to have a dark mode switcher from the core as docusaurus does. I need to look at your given links more precisely,
Also, if you want you can submit a PoC for this about the implementation and we can decide that.

[2020-04-10 09:02] #901 closed

[2020-04-10 09:02] #909 closed

[2020-04-10 09:02] #840 closed

[2020-04-10 09:02] #769 closed

[2020-04-10 10:24] GerhardMes commented on #1109
sorry guys. I restarted my iMac and everything is here as suggested.
Thanks and to all of you, Happy Easter

[2020-04-10 13:04] Koooooo-7 commented on #1109
that's fine. :smile:  enjoy your day.

[2020-04-10 13:04] #1109 closed

[2020-04-10 13:13] jrappen commented on #1092
Sounds good. I'd vote for dropping that toggle button though and making it seamlessly follow the OS.
Not sure I have time enough for the PoC, I'll see what I can do. My JavaScript knowledge is limited.

[2020-04-11 04:35] Koooooo-7 commented on #1107
Trying to check on [this one](https://stackoverflow.com/questions/30344858/node-script-executable-not-working-on-mac-env-node-r-no-such-file-or-directo) on stackoverflow or asking help on documentation chat room is better .

[2020-04-11 08:50] #750 closed

[2020-04-11 18:20] mouchar commented on #1090
@anikethsaha,  navigating to search results does not work reliably even on your docs site (https://docsify.js.org/).
I tried in Chrome 81 and Firefox 75.0

Simple test scenario:
* Go to https://docsify.js.org/
* Click to the search box, fill in some work with a lot of results (I used `github`)
* Click on random results and carefully watch what happens.

Many links work as expected, some navigate t

[2020-04-11 18:28] anikethsaha commented on #1090
its working as expected.

I typed github and clicked every link visible in it, working as expected. Maybe I am missing something.

[2020-04-13 01:12] ThomasSousa96 opened #1113 "Refresh the service worker cache"
Hi, I'm using Service Worker on my project. I got the [documentation example](https://docsify.js.org/#/pwa?id=create-serviceworker) and edited it to show a message when a new version is available. The message is displayed and when I click in this message the page is reloaded. The problem is that after the reloading the page still use the old files.

See below my code:
* [Service worker](https://gi

[2020-04-13 07:34] skmy93 opened #1114 "HTTPS"
## Bug Report

#### Steps to reproduce

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [x] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn version:
- Browser version:
- Docsify version:
- Docsify plugins:

#### Please create a reproducible sandbox

[![Edit 307qqv236](https://codesandbox.io/

[2020-04-13 07:55] anikethsaha commented on #1114
Please dont submit an issue with just one-word heading and empty template.

[2020-04-13 07:55] #1114 closed

[2020-04-13 07:59] anikethsaha commented on #1113
I don't think its related to docsify cause in docsify the service worker example is the general example available from google's docs with just a few comments and links added.
I have very limited knowledge of digging in the service worker so U may be wrong.

I would recommend submitting this in StackOverflow cause it would increase visibility.

[2020-04-13 13:19] costimuraru opened #1115 "Image resize in % doesn't work anymore"
## Bug Report
We're following the docsify documentation, which states that it's possible to resize an image using a percentage: https://github.com/docsifyjs/docsify/blob/develop/docs/helpers.md#resizing

#### Steps to reproduce

Use markdown to insert an image, with 50% width:
[code]
#### What is current behaviour

Notice the `width` is wrong. Instead of 50% it's just 50. Also the `%` seems to som

[2020-04-13 13:21] costimuraru commented on #1115
CC @anikethsaha, @QingWei-Li

[2020-04-13 13:39] anikethsaha commented on #1115
I think this https://github.com/docsifyjs/docsify/pull/1065 might fix the height issue.
And about the `%` issue, I do think there might be some bug with the extractor.

could you try `![My diagram](/_media/diagrams/sample_upstream_flow.png ':size=50%x50%')` and check if the `%` issue still exists or not !

[2020-04-13 14:49] Koooooo-7 commented on #1115
yep, I think it is the regex issues.
[code]
the `([\w-]+)`missed the `%`. and I checked `v4.11.0`,`v4.8.0`,`v4.6.8`, both have this problem  😅.
I fixed the regex
[code]
then, it works.
![image](https://user-images.githubusercontent.com/33706142/79129964-b9b0c880-7dd8-11ea-956f-350496e96511.png)

[2020-04-13 14:54] anikethsaha commented on #1115
@Koooooo-7 thanks a lot for investigating this ( as always 😄 )

Can you submit a PR with the fix and also we need to check if it's breaking something else or not,

[2020-04-13 15:13] Koooooo-7 commented on #1115
yea, I m working on it. :hammer:

[2020-04-13 15:49] #1115 closed

[2020-04-13 17:45] skmy93 opened #1117 "Read message"
`

## Bug Report

#### Steps to reproduce

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn version:
- Browser version:
- Docsify version:
- Docsify plugins:

#### Please create a reproducible sandbox

[![Edit 307qqv236](https://codesandbox.

[2020-04-13 18:05] #1117 closed

[2020-04-14 03:55] sy-records opened #1118 "Inconsistent search and body rendering"
## Bug Report

#### Steps to reproduce

[code]

#### What is current behaviour

![image](https://user-images.githubusercontent.com/33931153/79184061-bdc6ff80-7e45-11ea-8312-38517e4626d0.png)

The link when searching is `/question/install?id=fatal-error-opensslsslh-file-not-found`

![image](https://user-images.githubusercontent.com/33931153/79184422-a9373700-7e46-11ea-9351-c94542d6e3a7.png)

The li

[2020-04-14 09:27] bilencekic opened #1119 "Disable caching to get latest .md file"
## Bug Report

#### Steps to reproduce
Update an .md file and refresh the browser

#### What is current behaviour
.md file is read from the cache directly. As per network tab, it is retrieved from cache. On my local it works fine but in server always read from cache.

#### What is the expected behaviour
It should always read the latest .md file content in the server.

#### Other relevant informati

[2020-04-14 14:35] bilencekic commented on #1119
sorry my bad
after adding below code, issue has been fixed;
[code]

[2020-04-14 14:35] #1119 closed

[2020-04-14 14:59] costimuraru commented on #1115
Thanks for the quick fix here, @Koooooo-7. And @anikethsaha for reviewing. You guys rock!

[2020-04-15 06:33] Koooooo-7 commented on #1118
could u show me which version u work on?
it isn't reproducible now.
they are both rendered to
[code]

[2020-04-15 06:44] Koooooo-7 commented on #1118
@anikethsaha  could you investigate it also. we used the same `slugify` results render both the sidebar and title, if this issue exist , I guess there would have something broken we missed.

[2020-04-15 06:47] anikethsaha commented on #1118
@sy-records can you submit a reproducible sandbox for this

[2020-04-15 07:57] sy-records commented on #1118
Sorry, I will not use sandbox, I provided a test address. @anikethsaha @Koooooo-7
https://sy-records.github.io/docsify-serach-test/

You can search `open`

![image](https://user-images.githubusercontent.com/33931153/79312571-a9603100-7f31-11ea-8e61-97c049e4f313.png)

![image](https://user-images.githubusercontent.com/33931153/79312609-b8df7a00-7f31-11ea-8e01-c314b258ccfe.png)

[2020-04-15 15:22] Koooooo-7 commented on #1118
thx for ur report.
It seems doesn't make the search broken, even though the different url showing.
It needs investigation.

[2020-04-15 21:47] sy-records commented on #1118
But because of the different URLs, the corresponding IDs are also different. In this case, the jump cannot find the correct place.
Because the IDs are different, the corresponding anchor points are different, I think this is a bug.

[2020-04-16 01:19] sy-records commented on #1118
The problem may appear here. Use`slugify` to modify the `token.text` wrong.

https://github.com/docsifyjs/docsify/blob/39320bb3f4991b5b85ddf59876a1c51c1379a20b/src/plugins/search/search.js#L69

https://github.com/docsifyjs/docsify/blob/39320bb3f4991b5b85ddf59876a1c51c1379a20b/src/core/render/slugify.js#L10

[2020-04-16 06:36] elmagrinmint opened #1122 "Side bar not showing sub sections"
## Bug Report

Side bar does not always show sub sections for my pages

#### Steps to reproduce
Un able to reproduce

#### What is current behaviour
I have different pages in my side bar, some times the sub sections are visible.

#### What is the expected behaviour

<img width="174" alt="Screenshot 2020-04-16 at 08 35 28" src="https://user-images.githubusercontent.com/52529310/79422475-3b614b80-7f

[2020-04-17 01:38] loqhcn opened #1123 "dont`t have other language doc , after version 4.7"
dont`t have other language doc , after version 4.7

i want use Chinese doc

[2020-04-17 04:00] Koooooo-7 commented on #1123
it is hard for us to make the documentation sync for other non-English docs after API changes or something stuff.

and I hope there with have contributors to make it also.

[2020-04-17 04:33] wcarhart opened #1124 "How to serve docsify from a subdirectory on an existing site?"
## Bug Report
Can't serve docsify from a subdirectory. How would I serve docsify content when there is a directory between `docs/` and `index.html`?

#### Steps to reproduce
Visit https://wcarhart.github.io/docs/koi.

#### What is current behaviour
First off, thanks so much for docsify! Super awesome.

I doubt this is a bug, probably my own mistake. I am serving docsify from a subdirectory of a pr

[2020-04-17 04:40] wcarhart commented on #1124
Here's what my `index.html` configurations looks like right now. Docsify has issues with `_/media/logo.png` and `_sidebar.md`.
[code]

[2020-04-18 08:19] #1107 closed

[2020-04-18 08:35] wcarhart commented on #1124
This appears to have been some kind of routing issue with GitHub Pages, as I have switched to Netlify and am not experiencing this issue anymore: https://distracted-leakey-5bb864.netlify.app/docs/koi/#/

[2020-04-18 08:35] #1124 closed

[2020-04-19 14:07] KyrieWang0410 commented on #1123
me too！！！

[2020-04-19 14:12] #1118 closed

[2020-04-19 15:58] vagra commented on #728
very good!

view my site:   https://kepan.org/docsify

i have many heading levels (up to 108), i want the sidebar items can be expand & collapse.

like Typora's side bar, that's very good! it can expand, collapse, and sync scroll.

[2020-04-19 19:19] Sharifi-Amin opened #1126 "vulnerability report"
## Bug Report

I have found a security vulnerability in docsify.sj. How would you like me to report it?

#### Steps to reproduce

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn version:
- Browser version:
- Docsify version:
- Docsify plugi

[2020-04-19 19:24] anikethsaha commented on #1126
here only. fill the template and you can submit the report here

[2020-04-20 06:11] Sharifi-Amin commented on #1126
I would advise against disclosing security vulnerabilities in a public manner before there is fix. please confirm that you want me to disclose details of the vulnerability here. I'll be happy to provide a detailed report and try to help to push a fix as soon as possible .

[2020-04-20 06:54] anikethsaha commented on #1126
thanks for the alert. no don't report here.
Actually we didn't set up any security policy as of now (I know its bad, I will set up this as soon as possible after discussing with the team ).

- I would suggest reporting it to [Snyk Security Team](https://snyk.io/vulnerability-disclosure/) first. They will help triage the security issue and work with all involved parties to remediate and release a f

[2020-04-20 07:04] trusktr commented on #1126
How severe is this issue? Is it in an NPM module that affects local development?

It is hard to imagine any issue with static HTML (markdown) sites being insecure. Docsify sites are purely static by default, with no user information (or did I miss something?).

@anikethsaha Maybe we can make a security issue template, and it can specify contact instructions there.

[2020-04-20 07:05] anikethsaha commented on #1126
we need to set up a policy [here](https://github.com/docsifyjs/docsify/security/policy)

[2020-04-20 07:07] trusktr commented on #1126
Ah cool, I didn't know about that.

[2020-04-20 07:11] anikethsaha commented on #1126
true, but we do support GA, codefund plugins and markdown may contain embedded files so it may be harmful in those cases. not sure though  😅 .

I will still suggest reporting first in snyk  for any cases even if it is in our dependencies,

[2020-04-20 07:29] Sharifi-Amin commented on #1126
I'll get in touch with snyk team asap. I'll contact you through email for a detailed report

[2020-04-20 07:30] Sharifi-Amin commented on #1126
please let me know if I can contribute in any way

[2020-04-20 07:39] anikethsaha commented on #1126
great. 👍

contribution of any kind are always welcome. you can share some idea or submit as a policy for better approach. We can discuss there

[2020-04-20 08:40] anikethsaha commented on #1122
please mention the versions and submit a reproducible sandbox. it helps use investigating better. Also , share you docsify config

[2020-04-20 13:09] Sharifi-Amin commented on #1126
The Snyk team have verified the vulnerability. they will try to get in touch with you to discuss a fix. if you want to close this issue, you can always reach me at amin.sharifi691@gmail.com.

[2020-04-20 13:13] anikethsaha commented on #1126
Thanks a lot for the reports and responses.
this issue also was a reminder that we need a policy for security reports.

sure.

Thanks 👍

[2020-04-20 13:15] anikethsaha commented on #1126
I think it's better to keep it open until a response from snyk just to mark it. 👍

[2020-04-20 13:29] Sharifi-Amin commented on #1126
my pleasure

[2020-04-20 13:29] Sharifi-Amin commented on #1126
I agree

[2020-04-20 14:20] vagra opened #1127 "Have a BUG in scroll.js"
## Bug Report

#### Steps to reproduce

have a BUG in scroll.js

this BUG cause:

if path and id include chinese character, it can't find some result from the nav[].

#### What is current behaviour

[code]

#### What is the expected behaviour

last line shoule changed to:
[code]

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js

[2020-04-21 04:07] Koooooo-7 commented on #1126
I can't imagine the vulnerability in Docsify either.
As a static website, all congratulations can be reached in the browser. including the GA or something stuff(all websites deployed it in same way).

[2020-04-21 04:12] anikethsaha commented on #1126
I got a mail from `snyk` and I think we should fix it cause it may be serious. there is a PoC as well. I will share the mail with @docsifyjs/reviewers chat room soon so that we can discuss the fix.

[2020-04-21 07:18] anikethsaha commented on #1061
There are few issues with static site generation as we support plugins which kind of does a lot (search bar, pagination etc.). without dom, we cant do it. I am thinking of having `jsdom` to run the plugins in node but still, I think it won't be consistent.  Need second thought about it and also feel free to suggest some better solution for this.

[2020-04-21 13:02] #745 closed

[2020-04-21 20:28] MichaelCurrin commented on #982
I could not get the gist embed script to work on Docsify.

But using Docify's [embed](https://docsify.now.sh/embed-files?id=embedded-file-type) approach and a raw URL, this works great to embed a gist.

e.g. Pulling in and rendering markdown content

[code]

I use this here: https://michaelcurrin.github.io/docsify-js-tutorial/#/?id=docsify-cli

I wrote a short tutorial on this here: [gist](https:/

[2020-04-21 20:29] MichaelCurrin commented on #982
I'm happy to add to the Docsify embed section with a short explanation on how to embed a gist like this, as an alternative to script tag.

[2020-04-21 21:33] sytone opened #1129 "Markdown include not stripping YAML front matter"
## Bug Report

#### Steps to reproduce

1. Create a Markdown Page to view
2. Create a markdown page to include with a YAML header.
3. Add a link with the include tag to the page.
4. View the markdown page with the link and when the link I parsed the YAML header is also pulled through and rendered as markdown putting a line on the page followed by the YAML header information as test and then anothe

[2020-04-22 08:03] anikethsaha commented on #982
feel free to submit a PR

[2020-04-22 09:07] dellagustin-sap opened #1130 "Skip coverpage for recurring issues"
## Feature request

I checked the documentation, open and closed issues and stackoverflow before reporting.

#### What problem does this feature solve?

Showing a coverpage for first time visitors is nice, but showing it to recurring visitors usually will not bring much value.

As a docsify based website owner, I would like to direct recurring visitors to some specific page.

#### What does the pr

[2020-04-22 09:51] anikethsaha commented on #1130
thanks for the issue.
I don't think any other docs site generator supports this. (let me know if some other does)
consider the cover page as a landing page so I do think it should be visible every time someone visits your site.

[2020-04-22 13:23] groenroos opened #1131 "Visiting homepage doesn't set homepage link in sidebar to active"
## Bug Report

#### Steps to reproduce

1. Include a link to the homepage (`README.md` or whatever's defined in the `homepage` setting) in the sidebar
2. Visit the docs root.

#### What is current behaviour

1. The sidebar link to the homepage does not have the `active` class to highlight it, and its submenu is not expanded.
2. If the homepage link is clicked, `#/README` is appended to the URL, an

[2020-04-22 13:38] dellagustin-sap commented on #1130
Hi @anikethsaha , thanks for your quick response.

I don't know if other site generators support this, not to my knowledge. I have used Jekyll and MkDocs int the recent past.

There a difference though, I don't usually consider the cover page as a landing page, but more as a Welcoming, non-overwhelming content, that directs visitors to the actual landing page, which in my case I consider to be the

[2020-04-22 13:40] vagra commented on #1127
when the .md file name include chinese character:

[code]
result:
[code]

[code]
result:
[code]

[2020-04-22 13:51] vagra commented on #1127
this problem cause:
if .md file include chinese characters,  when click at the heading in main content, the sidebar links can't heilight and sync scroll.

because `const li = nav[getNavKey(path, id)]` have not result.

[2020-04-22 14:00] anikethsaha commented on #1127
we need to check whether this change will cause side effects or not.
feel free to investigate and submit a fix.
Just a note that we don't have a strong test so we should check manually whether other things are breaking cause of this or not.

[2020-04-22 14:03] anikethsaha commented on #1130
I would highly encourage if you can do this via plugins. cause we are kind of backing out from adding new enhancement as we already overshoot our claimed size (which is `21kb`). in the future. we will probably move out some core features to plugins.

[2020-04-22 14:06] dellagustin-sap commented on #1130
I will explore that idea, seems suitable.
Thanks for the advice.
I will close this issue, as there is nothing else to be done.
When I find a suitable solution I will post more information here, in case someone else finds it searching for the same topic.

[2020-04-22 14:06] #1130 closed

[2020-04-22 14:09] anikethsaha commented on #1131
try setting `_sidebar.md` to

[code]

`/` is not same as `home.md` so I would suggest using `/` as it will automatically render your homepage and it will set the active links

[2020-04-22 14:17] groenroos commented on #1131
That does seem to fix the problem, thanks! 🎉

I do think the weirdness around linking to the proper name of the homepage file is something that should be fixed though. Or at least if this is intended behaviour, maybe it could be documented more clearly?

[2020-04-22 14:21] anikethsaha commented on #1131
this is an intended behavior as we do ajax request to the file based on the URL and we do supported remote file rendering and even remote homepage.
yes, I do think it should be documented.
Feel free to submit a PR for the docs change

[2020-04-22 14:31] anikethsaha commented on #1129
Thanks for the issue and filling the template and creating a repro sandbox. it helps a lot 🥇

I can confirm this is a bug and should be fixed.

[2020-04-22 17:07] jerryc127 opened #1132 "the bug of Multiple covers ?"
## Bug Report

#### Steps to reproduce

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn version:
- Browser version:
- Docsify version:
- Docsify plugins:

#### Please create a reproducible sandbox

[![Edit 307qqv236](https://codesandbox.io/

[2020-04-23 01:25] sy-records commented on #1132
A document site can have only one coverpage.
see https://docsify.js.org/#/cover?id=basic-usage

[2020-04-23 03:08] darknoll opened #1133 "使用nginx部署的时候，具体文档的侧栏无法加载"
![](https://i.loli.net/2020/04/23/n7DSWaATkj8iJdN.png)

[2020-04-23 08:48] jerryc127 commented on #1132
but what meaning of multiple covers?
https://docsify.js.org/#/cover?id=multiple-covers

[2020-04-23 09:04] sy-records commented on #1132
I also encountered problems in the test a few days ago...

But I had no problems with the test just now.

[2020-04-23 09:12] jerryc127 commented on #1132
it is my website
https://github.com/jerryc127/hexo-theme-butterfly-docs
https://docs.jerryc.me/#/

i have setting according the docs
you can see that  when i change to zh-cn, it not show the coverpage.

[2020-04-23 09:18] sy-records commented on #1132
You wrote it wrong... Fix jerryc127/hexo-theme-butterfly-docs#2

[2020-04-23 09:20] jerryc127 commented on #1132
oh
thx you

[2020-04-23 09:20] #1132 closed

[2020-04-23 16:14] vagra commented on #1133
这可能是你把 docsify 放到网站的某个子目录下，而不是网站的根目录下了是吧？
而 index.html 中的 css 、 js 、 docs 等链接，都是用 / 开头的，也就是相对于网站根目录的，所以你找不到那些 css 、js 和 docs 。

解决办法：
修改 index.htm
[code]

去掉 `/themes/...` `/lib/...` `/docs/` 开头的 `/` 即可，就是相对于当前文件夹的相对路径了。

[2020-04-24 03:59] darknoll commented on #1133
![](https://i.loli.net/2020/04/24/XF73B69lJovZkyC.png)

[2020-04-24 05:10] sy-records commented on #1133
提供一个复现环境吧... 或者可以访问的地址

[2020-04-24 06:57] vagra opened #1135 "I add manual/auto expand/collapse function to sub-sidebar."
# enhanced sidebar

1. using '.sidebar' for main sidebar, using '.app-sub-sidebar' for docs sidebar.

2. add '+/-' sign before link.

3. when you click at '+/-' button, you can expand/collapse the item.

4. when you click the link, the main page sync scroll and heighlight.

5. when you scroll the main page, the '.app-sub-sidebar' sync scroll and auto expand/collapse.

# source code
https://github.

[2020-04-24 06:58] vagra commented on #1135
![图片](https://user-images.githubusercontent.com/1576687/80183796-0fd50580-863c-11ea-8452-53d22fbd133e.png)

[2020-04-24 07:00] vagra commented on #1135
loadSidebar: false

![图片](https://user-images.githubusercontent.com/1576687/80183948-54f93780-863c-11ea-93be-b030a07c13b2.png)

[2020-04-24 07:23] vagra commented on #1133
用浏览器的 F12 调试，看网络界面，哪个请求报 404 ，就是找不到这个文件，说明它的路径是错的。

[2020-04-24 09:22] vagra opened #1136 "click left sidebar, then refresh the page, lost the sync scroll."
## Bug Report

#### Steps to reproduce

1. open a page like https://docsify.js.org/#/configuration

2. click a sub-sidebar link (the toc of current document), or click a heading in the main content

3. using F5, refresh the current page

#### What is current behaviour

the page lost sync scroll.
when you scroll the main page, the sidebar could not sync scroll.

#### What is the expected behaviour

[2020-04-24 09:24] vagra commented on #1136
if I don't click the left sidebar item, when refresh the page using F5, I always sync scroll.

[2020-04-24 09:45] kobojp opened #1137 "mermaid Can't renderer"
Where is the problem

![105](https://user-images.githubusercontent.com/22941674/80198228-5897b900-8652-11ea-95ef-011cbe03520c.jpg)

![107](https://user-images.githubusercontent.com/22941674/80198243-5e8d9a00-8652-11ea-95df-a4c740b4596a.jpg)

![image](https://user-images.githubusercontent.com/22941674/80198851-3eaaa600-8653-11ea-95df-1ac0f1bc7503.png)

[2020-04-24 09:58] sy-records commented on #1137
Maybe js is not loaded.
[code]

[2020-04-24 10:12] vagra commented on #1136
see this code in scroll.js
[code]

if I don't click the links at main content or side bar, the path is :
[code]

if I clicked the links at main content or side bar, the path is:
[code]

but in the `function highlight(path) `, does not handle the `id` in `path`.

[2020-04-24 12:29] kobojp commented on #1137
Thank you so much

[2020-04-24 12:35] dellagustin-sap commented on #865
I believe this issue is still happening, we are currently using docsify 4.11.3, I need to create a dedicated example.

[2020-04-24 12:41] anikethsaha commented on #865
create a separate issue if it still exists with sandbox example.

Thanks

[2020-04-24 13:29] likenow commented on #720
https://docsify.js.org/#/helpers?id=ignore-to-compile-link

[2020-04-24 13:32] dellagustin-sap commented on #865
That's the plan 😉

[2020-04-24 14:58] dellagustin-sap commented on #865
I actually found out that in order to have the behaviour I wanted, I had to set option `relativePath` to `true`.

https://docsify.js.org/#/configuration?id=relativepath

There is a side effect though, the sidebar links become relative to the current path.
This can be solved (or worked around) by making the sidebar links absolute.

I could not find whether this is by design or if it is a bug, shoul

[2020-04-24 18:00] vagra commented on #1123
I update the ALL chinese translation to v4.11.3 .

see my PR.
https://github.com/docsifyjs/docs-zh/pull/19#issue-408684065

[2020-04-24 18:06] Koooooo-7 commented on #1123
thx for ur contributions, we will check it soon. :+1:

[2020-04-25 00:15] saihaj commented on #852
is it possible to have the footer always at the bottom of page? With the above mentioned plugin it just puts it wherever the content finishes.

[2020-04-25 10:46] sy-records commented on #1123
I've modified some, and you can modify the rest yourself...

[2020-04-25 13:17] sy-records commented on #1137
@anikethsaha @kobojp This can be closed.

[2020-04-25 13:20] #1137 closed

[2020-04-25 15:44] dellagustin-sap commented on #925
I recently found out this very same behavior.
I was going to report it to ask if it is working as designed or if this is a bug.

In my opinion, with respect to sidebar, it is a bug, as I could not imagine any commonly used scenario where this behaviour would be desireable.

@anikethsaha, do you see any supported scenario that would break if the links from sidebar, when relative, would be always re

[2020-04-25 15:45] #1027 closed

[2020-04-25 15:47] dellagustin-sap commented on #865
I found out that the behavior I reported in the previous comment related to relative paths and the sidebar was already reported here: https://github.com/docsifyjs/docsify/issues/925

[2020-04-25 15:50] anikethsaha commented on #925
@dellagustin-sap thanks for your time. Can you submit an issue!
I lost context of these two issues so I need a fresh start on these.

[2020-04-26 00:40] sy-records commented on #1123
@anikethsaha @Koooooo-7 I have finished the review, are there any others?

[2020-04-26 05:44] anikethsaha commented on #1123
fine by me. 👍

[2020-04-26 05:52] sy-records commented on #1123
Okay, then I merged.

[2020-04-26 07:24] dellagustin opened #1139 "when using relativePath: true, links on the sidebar are always relative to the current page"
## Bug Report

this is a duplicate of #925, that was closed automatically.

#### Steps to reproduce

I have prepared an example here: https://dellagustin-sap.github.io/docsify-relative-path-bug-report/#/

Click first on _Subpage1 - Absolute_ (on the sidebar), then on _Subpage1 - Relative_

#### What is current behaviour

A 404 page is shown

#### What is the expected behaviour

Subpage 1 should be

[2020-04-26 07:54] dellagustin commented on #1139
I have considered whether this behavior was intended to cover some specific scenario, but could not think of any in which it would be beneficial.

I have browsed the code, the link rendered uses the current route to resolve relative links: https://github.com/docsifyjs/docsify/blob/b2e6123980e98c75a6a6e6cb1f366b19e9856c13/src/core/render/compiler/link.js#L20

It has no access to current file for th

[2020-04-26 09:08] I-Valchev opened #1141 "Link to page breaks scroll"
## Bug Report

#### Steps to reproduce
`A.md` is a page long enough to force a scrollbar. At the end of that page, I create a link to `B.md` as follows:
`[B](/b_in_folder/B.md)`

#### What is current behaviour

When page B loads, it loads as far down the page as I was on `A.md`.

#### What is the expected behaviour

Going to `B.md` I should be at the top of the page.

#### Other relevant informati

[2020-04-26 12:35] dellagustin commented on #1141
Have you checked https://docsify.js.org/#/configuration?id=auto2top ?

[2020-04-26 14:05] I-Valchev commented on #1141
Oh right! Yes that fixed it. Thanks @dellagustin

[2020-04-26 14:05] #1141 closed

[2020-04-26 14:53] dellagustin commented on #1141
Glad to help.

[2020-04-26 15:09] anikethsaha commented on #1139
Thanks for the detailed issue. 💯

If I am not wrong, when you are in `subpage1 (absolute)` , you click on the `subpage1 (relative)` and its searching for the page in that directory instead of from root . right ?

if this is, then its the intended behavior as sidebar is always at root (of the current folder) so the base path will be the current path. if you want to go up one directory in order to r

[2020-04-26 16:13] jerryc127 opened #1142 "{docsify-updated} not work ?"
## Bug Report

#### Steps to reproduce

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [ ] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn version:
- Browser version:
- Docsify version:
- Docsify plugins:

#### Please create a reproducible sandbox

[![Edit 307qqv236](https://codesandbox.io/

[2020-04-26 16:15] anikethsaha commented on #1142
please fill the issue template

[2020-04-26 16:32] dellagustin commented on #1139
Hi @anikethsaha

Right, if I understood that correctly.

To give more details:
In my example, if you are at https://dellagustin-sap.github.io/docsify-relative-path-bug-report/#/subpages/subpage1 (route is `/subpages/subpage1`, you will get here from `/` by clicking either the absolute or relative link), and then you click in the relative link, it will link to https://dellagustin-sap.github.io/docs

[2020-04-26 16:42] anikethsaha commented on #1139
`loadNested` ? did you mean `loadSidebar`

sorry, I thought you had the aliases setup to fallback to root.

this needs investigation. I will check once again.

cc @docsifyjs/reviewers , thoughts ?

[2020-04-26 17:45] dellagustin commented on #1139
No actually meant this function: https://github.com/docsifyjs/docsify/blob/b2e6123980e98c75a6a6e6cb1f366b19e9856c13/src/core/fetch/index.js#L8

[2020-04-26 18:04] anikethsaha commented on #1139
ok cool, I will check that soon for sure 👍 .

[2020-04-27 03:20] ZainIoT opened #1143 "官方文档中文版404！！！"
## 官方文档中文版404！！！

## 且官方文档除英文版之外，全都不能访问。

[2020-04-27 04:07] sy-records commented on #1143
https://docsify.js.org/#/zh-cn/ 不能访问吗？

[2020-04-27 04:42] vagra commented on #1143
https://raw.githubusercontent.com/docsifyjs/docs-zh/master/README.md

用浏览器的F12调试，发现这个链接被墙了。

[2020-04-27 04:48] vagra commented on #1143
所有的以 //raw.githubusercontent.com/ 开头的链接都被墙了。

之前的版本404吗？

[2020-04-27 05:28] vagra commented on #1143
docsify.js.org 上的 index.htm 也需要更新一下。

[2020-04-27 08:52] sy-records commented on #1142
Maybe it is the `cdn` cache, try to visit after you set the `hosts` locally.

[2020-04-27 11:04] chenhongen commented on #223
解决了吗？我也没效果。。

[2020-04-27 12:03] StoneyJackson commented on #925
Sorry I never got around to this :(

[2020-04-27 17:27] HerbertHe commented on #1143
可以在gitee上gitee page托管一份的吧

[2020-04-27 19:58] jrappen commented on #561
@anikethsaha I still believe this to be a bug.

[2020-04-27 21:20] sy-records commented on #1143
gitee pages自定义域名是收费的吧？
文档部署用的是master，现在dev分支修改了，应该等下次发布版本就会正常...

[2020-04-27 21:59] HerbertHe commented on #1143
可以做个跳转emmm

[2020-04-27 22:40] #738 closed

[2020-04-27 23:39] infinitecompute opened #1150 "Configure docsify to use markdown-it"
## Feature request

Enable the use of [markdown-it](https://github.com/markdown-it/markdown-it) renderer instead of marked.

#### What problem does this feature solve?

Docsify is an incredibly well designed documentation generator and its ease of use with Github pages makes it well suited to that purpose.  Docsify uses the [marked](https://github.com/markedjs/marked) renderer.

Unfortunately, the

[2020-04-28 00:37] boopathikumar018 commented on #34
Try [docsify-darklight-theme](https://boopathikumar018.github.io/docsify-darklight-theme)

[2020-04-28 00:42] infinitecompute commented on #1150
I created a *markdown-it* branch in my fork to see what would break if I cut it over.  Looks like entities parsing in acorn is broken.

[2020-04-28 04:39] anikethsaha commented on #561
feel free to investigate and submit a fix

[2020-04-28 04:45] anikethsaha commented on #1150
I thought for this a while back. We can have this if its not breaking change. feel free to submit a PoC.

[2020-04-28 04:45] anikethsaha commented on #1150
let us know if you need any help 👍

[2020-04-28 21:38] boopathikumar018 commented on #740
Try [docsify-darklight-theme](boopathikumar018.github.io/docsify-darklight-theme)

[2020-04-28 21:40] boopathikumar018 commented on #959
Try [docsify-darklight-theme](boopathikumar018.github.io/docsify-darklight-theme)

[2020-04-29 04:11] sy-records commented on #1143
@ZainIoT https://sy-records.github.io/docsify-cn/#/ 可以暂时使用这个，下次发布版本以后用https://docsify.js.org/#/zh-cn/ 就可以了

[2020-04-29 05:30] jerryc127 opened #1153 "how to know navigation have been fully loaded?"
## Feature request

Dynamic change the link in nav ？

#### What problem does this feature solve?

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

Dynamic change the link in nav ？

I want to Dynamic change the link in navigation。

so i put in hook.doneEach to call the function
but it error ,`Uncaught T

[2020-04-29 16:17] jack9603301 commented on #1150
I'm thinking about whether it's better to use tui.editor, a powerful markdown editor / parser, which has the parsing and rendering module to handle markdown. At the same time, tui.editor's powerful extension function can better expand the users of the publisher, although we don't need its editor module!

[2020-04-29 16:19] jack9603301 commented on #1150
My WP markdown plug-in will decide to use Tui. Editor to provide users with a better editing and rendering experience! If it can be supported, then the documents I write in the future may have a way to provide the same rendering effect as Tui. Editor!

[2020-04-29 16:20] jack9603301 commented on #1150
tui.editor的repo在https://github.com/nhn/tui.editor

[2020-04-29 16:27] anikethsaha commented on #1150
actually we need a parser instead of an editor and I think they dont expose any parser. let me know if they do that

[2020-04-29 16:37] jack9603301 commented on #1150
It does separate the two modules. Take the official CDN as an example. The markdown viewer is located at the following address:
https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js

[2020-04-29 16:39] jack9603301 commented on #1150
You can check the official documentation for such an editor / parser. See if it can be used and more suitable for application, but tui.editor needs to input a DOM element and the raw content of markdown for parsing, such as:

js:

[code]

[2020-04-29 16:40] anikethsaha commented on #1150
we cant use cdn in core and also, i dont think that is the parser code which you shared.

[2020-04-29 16:40] jack9603301 commented on #1150
The official document of tui.editor is as follows:
https://nhn.github.io/tui.editor/latest/

[2020-04-29 16:42] jack9603301 commented on #1150
In fact, it can be introduced by NPM or yarn's nodejs package management tool,
the address is:
[code]

[2020-04-29 16:44] anikethsaha commented on #1150
can you share their parser link ?

[2020-04-29 16:45] jack9603301 commented on #1150
[code]

It's just an example from the official website that parses the markdown syntax of `# hello` and outputs HTML!

[2020-04-29 16:48] jack9603301 commented on #1150
[code]
This is the configuration of `package. json` from WP reliablemd.You can use NPM or yarn to install it, and the relative path of the disk is`node_modules/@toast-ui/editor/dist/toastui-editor-viewer.js`

[2020-04-29 16:48] jack9603301 commented on #1150
Of course, I'm just suggesting.

[2020-04-29 16:51] jack9603301 commented on #1150
In general, I use the following code to install:

[code]

[2020-04-29 16:56] jack9603301 commented on #1150
The official website is as follows:
https://ui.toast.com/tui-editor/
The official website documents are as follows:
https://nhn.github.io/tui.editor/latest/

[2020-04-29 16:59] anikethsaha commented on #1150
thanks for the links. I will take a look.
I would still prefer `markdown-it` though if there is not much difference.

[2020-04-29 17:00] jack9603301 commented on #1150
Thanks, because I chose WP RMD when I developed it, I know it is an excellent markdown renderer!

[2020-04-29 17:03] infinitecompute commented on #1150
Thanks @jack9603301, I haven't used Toast and I'm happy to see that it uses `markdown-it` in your package list!  As @anikethsaha notes the fragmentation is on the renderer/parser side.  It looks like we get the most bang for the buck by having Docsify rendering be configurable for `markdown-it` + choice of renderer plugins.

@anikethsaha, what is the best way for me to enlist your help debugging t

[2020-04-29 17:05] anikethsaha commented on #1150
yea sure

[2020-04-29 17:13] infinitecompute commented on #1150
[app.log](https://github.com/docsifyjs/docsify/files/4553199/app.log)

[2020-04-29 17:23] anikethsaha commented on #1150
I think yea, can you. also, I think `markdown-it` has a dep `acorn` cause we are not using it. May be you need to re-install the dependencies.

[2020-04-30 06:58] jerryc127 opened #1154 "Uncaught TypeError: Cannot read property 'tagName' of null"
## Bug Report

#### Steps to reproduce

add the darkmode button

#### What is current behaviour

#### What is the expected behaviour

#### Other relevant information

- [x] Bug does still occur when all/other plugins are disabled?

- Your OS:
- Node.js version:
- npm/yarn version:
- Browser version:
- Docsify version:
- Docsify plugins:

#### Please create a reproducible sandbox

[![Edit 307qqv236

[2020-04-30 06:59] jerryc127 commented on #1142
still not work
i do not how to solve

[2020-04-30 08:17] sy-records commented on #1142
I'm sure it's your caching problem, I tried to deploy it using github page and they showed normal.

You can also try it.

![image](https://user-images.githubusercontent.com/33931153/80688102-e3b6fa00-8afd-11ea-9dfa-f8dba3a0e146.png)

[2020-05-03 09:23] Jerrywang959 opened #1155 "Will docsify support .ipynb files?"
## Feature request

just use .ipynb files to create site

#### What problem does this feature solve?

To create site via jupyter files, it doesn't work well to just use `jupyter nbconvert --to html` or `jupyter nbconvert --to markdown` and put it in the right place.

If converting to markdown, there are some bugs in katex plugins and others. If converting to html,  docsify can't find its `h1,h2,h3

[2020-05-03 18:43] #1136 closed

[2020-05-04 14:18] baicaihenxiao commented on #1142
I have the same problem.
Every time I push new commits to github. {docsify-updated} in all pages is changed to the time of the latest push time.

[2020-05-04 15:33] sy-records commented on #1142
Please submit a new issue and fill the issue template.

[2020-05-04 15:33] #1142 closed

[2020-05-04 15:34] sy-records commented on #1142
Please submit a new issue and fill the issue template. @baicaihenxiao

[2020-05-04 21:58] #1133 closed

[2020-05-05 04:47] baicaihenxiao opened #1157 "{docsify-updated} cannot show as expected in GitHub pages"
## Bug Report

#### Steps to reproduce
I add this script to index.html so that {docsify-updated} can be shown at the bottom of every pags.

[code]

#### What is current behaviour
It works well at my local computer, that is, the file updated at 04.22.2020 will show 04.22.2020,  the file updated at 05.04 will show 05.04. However, when I made another commit while not modify these two files at 05.05.2

[2020-05-05 09:46] alexellis opened #1158 "Feature request for Vue theme - configure font size"
## Feature request

I searched StackOverflow and couldn't find any references to this, but it is mentioned in the roadmap under https://github.com/docsifyjs/docsify/issues/657

So far docsify has been very helpful in getting up a quick docs site for https://inlets.dev/ but I find the font size rather small when viewed at 100% zoom, especially the body and nav-bar.

I have found a few links on Goog

[2020-05-05 19:04] gisforgabriel commented on #1061
For running search on a static generated site, a library like https://lunrjs.com/ could be a good option.

An index could be created when running `docsify-cli` and Lunr could power the sidebar search instead.

It would probably not be as performant or sophisticated as DocSearch, but it would offer a "proper" static experience - probably the kind of compromise that people who would be interested in

[2020-05-06 01:11] sy-records commented on #1157
Please create a reproducible sandbox

[![Edit 307qqv236](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/307qqv236)

[2020-05-07 08:30] #1129 closed

[2020-05-07 09:52] sy-records commented on #1136
@vagra Can you give me your contact information? wechat or email?

[2020-05-08 21:50] skeddles opened #1160 "How to generate the files for docsify?"
I can't find anything in the documentation about how to actually generate the documentation to use with docsify (meaning generating it from comments in code). Is there a specific package that's recommended that works well with docsify?

[2020-05-09 03:58] Prajwal-Koirala opened #1161 "Deploy to google app engine"
Need help

[2020-05-09 05:15] anikethsaha commented on #1161
Please give more info and fill the issue template

[2020-05-09 05:17] anikethsaha commented on #1160
you need to use markdown file for content. you cant generate from comments cause if we not focusing on API docs.

[2020-05-09 12:26] Prajwal-Koirala commented on #1161
@anikethsaha i need some instructions on how to deploy this on google cloud app engine.

[2020-05-09 12:28] anikethsaha commented on #1161
this is just a js file. you would host it as you host your static site.

[2020-05-09 12:30] Prajwal-Koirala commented on #1161
@anikethsaha i tried but it doesn't work.
can u give it a try and maybe post the working code.
app engine standard environment is completely free

[2020-05-09 12:38] anikethsaha commented on #1161
sorry as I am a bit out of time for the next few days/weeks.

You can ask this in our hitter chatroom, someone might help .

[2020-05-09 12:39] Prajwal-Koirala commented on #1161
ok

[2020-05-09 23:14] Prajwal-Koirala commented on #1161
package.json
[code]
app.js
[code]
app.yaml
[code]

[2020-05-10 00:56] Prajwal-Koirala commented on #1161
deploy to app engine on golang.

main.go
[code]
app.yaml
[code]

[2020-05-10 05:35] ppipada opened #1162 "Emoji `:+1:` not rendering"
## Bug Report
When using `:+1:` in markdown the corresponding thumbs up is not rendering.

#### Steps to reproduce
Add `:+1:` in markdown and `docsify serve docs`

#### What is current behaviour
The string `:+1:` is displayed as is in the rendered page.

#### What is the expected behaviour
The emoji for thumbs up( :+1: ) should be shown.

#### Other relevant information

- [x] Bug does still occur

[2020-05-10 06:56] anikethsaha commented on #1162
use `:thumbsup:` instead .

[2020-05-10 07:13] ppipada commented on #1162
@anikethsaha Got it. But `:+1:` is a standard shortcode used for thumbs up. Github markdown does support it. Any specific reason this is not supported?

[2020-05-10 07:20] anikethsaha commented on #1162
In emoji plugin we are hitting Github's  service for emoji rendering, I do think that `+` is getting encoded to `%2B` and not able to get resolved.

need to take a look.

may be we should change `+1` to `thumbsup` in the plugin and same for `-1` 🤔

[2020-05-10 07:31] ppipada commented on #1162
`:-1:` also has the same issue. Added this to sandbox.

[2020-05-10 07:33] anikethsaha commented on #1162
yup, we can change them to `thumbsup` and `thumbsdown` in the plugin.

[2020-05-10 14:41] Jacky2 commented on #1061
I don't know if I can display a floating anchor navigation in each markdown file, like gitbook plugin `gitbook-plugin-anchor-navigation-ex`

[2020-05-10 14:47] anikethsaha commented on #1061
@Jacky2 you can do it by creating a plugin. please ask questions in a separate issue or in gitter.

[2020-05-10 15:55] Koooooo-7 commented on #1160
I guess u may need this one [swagger](https://github.com/swagger-api/swagger-ui).

[2020-05-10 22:49] skeddles commented on #1160
I don't expect this library to generate the files for me, I was hoping you would have some recommendations of other packages to use to make the MD files somewhere, since it seems like a pretty common use case.

[2020-05-10 22:50] trusktr commented on #136
Just curious, anyone that wants this feature, why do you want it? Has the live client-side markdown rendering been too slow for you? Is it hindering your user experience?

@anikethsaha Since you listed this in v5, I'll re-open and add it to the 5.0 project so we can track it.

[2020-05-10 22:55] trusktr opened #1163 "Support Custom component"
Solution A:

---
[code]
---

Solution B:

---
[code]
---

Solution C:

---
[code]
---

[2020-05-10 22:55] trusktr opened #1164 "New Option: For relative file paths rather than relative root"

[2020-05-10 22:57] trusktr commented on #1164
@QingWei-Li Hello! I am organizing the `5.0!` project board, so I converted the card into an issue.

I'm curious to know what you mean with this idea. Can you expand on this a little?

[2020-05-10 23:02] bountyx commented on #136
Mostly because static files are easy to deploy across a cdn Service like
Netlify

On Sun, May 10, 2020, 15:50 Joe Pea <notifications@github.com> wrote:

[2020-05-10 23:07] trusktr commented on #1061
Is there an issue tracking `3. Better executable code syntax in MD`?

[2020-05-10 23:10] trusktr opened #1165 "New Markdown Syntax: GitHub (or GitLab) Flavored Markdown"

[2020-05-10 23:12] trusktr commented on #1163
What's the motivation here? Was there another issue describing this with more detail? (I converted the 5.0 board's card into this issue, but we can close this if there's already another issue)

[2020-05-10 23:16] trusktr commented on #136
@bountyx Yeah, but markdown files are also static files.

[2020-05-10 23:18] trusktr opened #1166 "Better executable code syntax in MD"
![status](https://img.shields.io/badge/Status-Ready%20to%20Implement-brightgreen) ![PR](https://img.shields.io/badge/PR-Welcome-green)

**Problem**

This is with reference to `executeScript` property. Currently, docsify checking an executable script tag using [this](https://github.com/docsifyjs/docsify/blob/develop/src/core/render/index.js#L15-L17)
The markdown input for these doesn't look good [r

[2020-05-10 23:20] trusktr opened #1167 "Change the pre-processor for css"
![Status](https://img.shields.io/badge/Status-Need%20discussion-yellow) ![PoC](https://img.shields.io/badge/PoC-Welcome-blue)

Currently, we are using `stylus` for writing CSS but we can consider moving with `LESS` or `SASS (preferable)`.

[2020-05-10 23:21] trusktr opened #1168 "Migrate to `webpack`"
![Status](https://img.shields.io/badge/Status-Need%20discussion-yellow) ![PoC](https://img.shields.io/badge/PoC-Welcome-blue)

We are currently using `rollup` for bundling. Though we never faced a major issue with it, rollup is built for libraries which are node focuses not the browser. We will be using `rollup` for our CLI project but as `docsify` is browser library, I would prefer to migrate to

[2020-05-10 23:23] trusktr commented on #1061
@anikethsaha I converted some of the above into their own issues, so that we can track them in the 5.0 project board. I assigned you to them just so you're aware / triage.

[2020-05-10 23:25] trusktr commented on #657
Closing this in favor of https://github.com/docsifyjs/docsify/issues/1061 (which links to each feature as a separate issue).

Also see the [5.0! project board](https://github.com/docsifyjs/docsify/projects/2) for progress.

[2020-05-10 23:29] trusktr commented on #657
What I'll do is re-open this, put it in the `In progress` column, so that we can go through it and move over anything we might need to the other issue.

[2020-05-10 23:38] trusktr commented on #1061
I updated the issues, and I gave them all labels like `PoC Welcome`, `PR Welcome`, `needs discussion`, etc, to match what we had here. It will be easier to manage it that way, and to have separate conversations in each one while also seeing the respective cards inside the [5.0! project board](https://github.com/docsifyjs/docsify/projects/2).

[2020-05-10 23:39] trusktr opened #1169 "Starter packs (CLI)"
![Status](https://img.shields.io/badge/Status-Need%20discussion-yellow) ![PoC](https://img.shields.io/badge/PoC-Welcome-blue)

- This will be implemented from [`docsify-cli`](https://github.com/docsifyjs/docsify-cli).
- **Benifits**: This will increase the scope of docsify from a docs generator to static site generator.
- **No changes are required in the core**
- Users can create their own starter

[2020-05-11 00:32] trusktr commented on #1167
I vote for [PostCSS](https://postcss.org), to stay in line with future CSS specs. See also [CSSNext](https://cssnext.github.io/) which is basically a preset that configures a collection of PostCSS plugins out of the box.

---

Although the Sass SCSS syntax is nice, I dislike the tooling very much because it relies on native builds for each platform (written in C++). Any time that someone runs `npm

[2020-05-11 02:52] trusktr commented on #1167
Here's an interesting stat. Weekly download for each:

- Stylus, 1.7m
- Sass, 1.8m
- Less, 2.5m
- PostCSS............ 24.4m!

[2020-05-11 03:31] trusktr commented on #136
Ah! SEO!

That's a good reason to serve HTML, to make things more indexable by search engines.

[2020-05-11 04:48] anikethsaha commented on #136
@trusktr there is an issue with plugins. most of the things in docsify is a plugin. we cant make them work if we don't have the DOM. So either we need to do it with `jsdom` while but this won't give 100% accurate results.

This will be a blocking issue for v5.

[2020-05-11 04:53] anikethsaha commented on #1167
I am always ready to bet on postCSS. it gives us a huge control to our processing.

let's have postcss then.
I am thinking of having plugins packs in order to keep it consistent.

We need to list down some plugins which we want to use .

currently I am thinking of

- [postcss-preset-env](https://www.npmjs.com/package/postcss-preset-env) or CSSNext ?
- [autoprefixer](https://www.npmjs.com/package/a

[2020-05-11 04:54] anikethsaha commented on #1167
I will take a dig in this soon. will create a pack with the plugins we want.

[2020-05-11 04:58] anikethsaha commented on #1169
@trusktr I think we should try the esm think we were talking about first. Cause with that, this feature will be very easy to implement.

[2020-05-11 05:01] anikethsaha commented on #1163
I am not sure about this. was it mentioned in v5 roadmap issue ?

I think we can close this. it was never in the roadmap.

cc @trusktr

[2020-05-11 05:01] #1163 closed

[2020-05-11 05:27] trusktr commented on #1167
I forgot CSSNext was deprecated in favor of postcss-preset-env, which is looking nice.

Regarding plugins,  do you want to avoid just choosing, for example, all `stage 1+` features of preset-env. In particular I like the CSS Nesting module, which is currently a stage 1 proposal.

(Neat that all these features are proposals for actual CSS, so eventually we may remove build steps for them, unlike Sa

[2020-05-11 05:30] anikethsaha commented on #1167
nesting is one of the things I am interested to write for future CSS. I wonder if we can pick the features and use them.?

[2020-05-11 05:32] anikethsaha commented on #1167
I think we can . [ref this](https://github.com/csstools/postcss-preset-env#features)

[2020-05-11 05:39] trusktr commented on #1167
It may be easier to just pick "stage 1", but yeah we can also just pick individual features. It's only for dev mode anyways, so it may not matter if there's more dependencies or not for compiling the CSS.

[2020-05-11 05:40] trusktr commented on #1167
Also nice list of features by stage at http://preset-env.cssdb.org/features

[2020-05-11 05:43] trusktr commented on #1169
:+1:

What exactly is the concept of a starter pack?

[2020-05-11 05:51] trusktr opened #1170 "Better markup for sidebar menu items"
## Feature request

The markup in the sidebar has `ul`s, `li`s, `p`s, and `a`s, but without any semantic classes.

I'd like to be able to more easily style the menu levels.

For example, to achieve something like this:

![sidebar](https://user-images.githubusercontent.com/297678/81527944-65820100-9310-11ea-8a89-cda7dbe1797c.png)

#### What problem does this feature solve?

Currently, to do this, w

[2020-05-11 06:30] anikethsaha commented on #1169
its like

with command like this

[code]
or
[code]
with this, it will clone the template from github.

Actually I am kind of scattering away from this feature as I think the Github's template feature might do the work better.

[2020-05-11 06:30] anikethsaha commented on #1167
cool, lets have stage 1 then

[2020-05-11 08:49] #1161 closed

[2020-05-11 13:24] Sogrey opened #1171 "The address ID in the browser's address bar has not changed"
## Bug Report

#### Steps to reproduce

Take docsify official, for example, the first open links [https://docsify.js.org/#/plugins?id=full-text-search](https://docsify.js.org/#/plugins?id=full-text-search); Then scroll the body page to the title **Zoom image**, at this time, the directory on the left is highlighted as **Zoom image**, but the 'id' in the address bar has not changed, then click the

[2020-05-12 07:29] neoblizz opened #1172 "Question: How to stop modifying content within <script></script>"
I have two separate but related problems. I have a bunch of graphs in the markdown files that get displayed through vega, vega-lite, vega-embed scripts. And the script tag within the page contains a dump of JSON data.

- First problem is that only one graph shows in the page (the page has 3): [Page](https://gunrock.github.io/docs/#/analysis/engines_topc) & [Source](https://github.com/gunrock/docs/

[2020-05-12 07:43] neoblizz commented on #1172
Ok, further info on the first one. It only shows **one** graph. So, if I have 3 `<script>` enclosed graphs (JSONs), I can comment out any two, and the last one will show. If I uncomment all 3 only the first one shows. Which means, only the first `<script>` within my markdown is being executed?

[2020-05-12 08:21] sy-records opened #1173 "There is an error in opening the mobile page of the onlyCover parameter"
## Bug Report

#### Steps to reproduce

1. Setting param

[code]

#### What is current behaviour

Should be removed, Otherwise, when you click it, the problem of Figure 2 will appear.

![image](https://user-images.githubusercontent.com/33931153/81659143-0507d680-946c-11ea-8e11-c4f646576ddc.png)

![image](https://user-images.githubusercontent.com/33931153/81659317-2ec0fd80-946c-11ea-9f7a-ad65a1dd0e

[2020-05-12 09:00] Zhouzi commented on #1131
Wouldn't it be possible to check for `config.homepage` if the file cannot be requested based on the URL?

I opened a PR to update the documentation btw 🙂

[2020-05-12 09:22] anikethsaha commented on #1173
can we keep the burgur icon and fix the sidebar so that when it is clicked, it slides as it suppose to be ?

else we can remove it 👍

[2020-05-12 09:35] sy-records commented on #1173
What it does is load only the cover page when you visit the home page.

I'm not sure if I should remove the burgur icon when it exists.

[2020-05-12 09:38] sy-records commented on #1173
https://simps.io/ For my site, I think it should be deleted.

[2020-05-12 09:46] sy-records commented on #1173
But the sidebar style of the `docsify-dark-mode` theme also needs to be fixed.
https://docsify.js.org/ website was affected.

[2020-05-12 10:00] anikethsaha commented on #1173
ok cool , I didnt notice the `onlyCover` option. feel free to fix it.

go ahead 👍

[2020-05-12 13:18] neoblizz commented on #1172
**I figured out the 2nd problem. The only thing I have issues with is the following:**

I can't run multiple `<script></script>` (only one shows up) and if I switch to use `iframe include` it doesn't show multiple iframes, only one.

[2020-05-12 21:56] fnoop commented on #959
404

[2020-05-13 04:16] boopathikumar018 commented on #959
Please find the updated link for **docsify-darklight-theme**  [https://docsify-darklight-theme.boopathikumar.me](https://docsify-darklight-theme.boopathikumar.me)

[2020-05-13 16:14] anikethsaha commented on #217
can anyone summarize the feature? I am not getting exactly whats the feature here. As I noticed this is in v5 roadmap.

[2020-05-13 16:18] axiiomatic commented on #1162
can i work on this?

[2020-05-13 16:22] anikethsaha commented on #1162
sure , go ahead 👍

[2020-05-14 00:54] trusktr commented on #136
Maybe also doesn't have to be for 5.0, it can be for "when it's ready". :) It's a bit complex.

Maybe we can build it on [NW.js](https://nwjs.io/) instead of JSDom.

[2020-05-14 05:38] anikethsaha commented on #136
@trusktr yeah, we can remove this from the roadmap, this will be blocking issue

[2020-05-14 11:45] #1110 closed

[2020-05-14 16:28] trusktr commented on #136
👍

[2020-05-14 16:40] anikethsaha commented on #1018
cc @jthegedus any update on this ?

[2020-05-14 16:43] anikethsaha commented on #810
@cyrilf can you submit a fix for this.

_sorry for the delay_

[2020-05-14 16:51] anikethsaha commented on #707
shipping polyfills may increase the package size. I think we should update the docs with the guided steps ?

cc @jhildenbiddle @trusktr thoughts?

also, @jhildenbiddle if we need to ship polyfill for css variables from core, thoughts about [css-vars-ponyfill ?](https://github.com/jhildenbiddle/css-vars-ponyfill)

[2020-05-14 16:56] anikethsaha commented on #522
I think this has been fixed in `develop`.

[2020-05-14 16:57] trusktr commented on #1169
Interesting. Does GitHub's template feature include template variables that can be interpolated into the code?

[2020-05-14 16:58] anikethsaha commented on #1169
template variables ?

[2020-05-14 17:00] anikethsaha commented on #354
this seems to be fixed from above answer👍

feel free to comment below if not there are any issue related to this

[2020-05-14 17:00] #354 closed

[2020-05-14 17:01] trusktr commented on #1163
It was a simple card that I found inside `5.0!` project, then I converted it into an issue.

Yeah, it can wait. Was there a PR relating to this?

[2020-05-14 17:02] anikethsaha commented on #1163
I dont think so 👍

[2020-05-14 17:04] anikethsaha commented on #910
cc @trusktr can you take this ? if it still exists ?

[2020-05-14 17:30] anikethsaha commented on #441
I think this is better as it seems it will solve https://github.com/docsifyjs/docsify/issues/767 as well (not sure , need to try it out).

Feel free to submit a PR

[2020-05-15 02:06] jthegedus commented on #1018
I have not started work on this. Will give it a crack over the weekend. Help is welcome should anyone else find they have the time.

[2020-05-15 05:30] #1046 closed

[2020-05-15 07:30] #1131 closed

[2020-05-16 06:35] anikethsaha commented on #1127
fixed at #1146

[2020-05-16 06:35] #1127 closed

[2020-05-16 15:47] kumaravel95 opened #1178 "On hovering side menu items, It should tooltip the menu item. because long menu item text not fully visible in the screen"
## Feature request
On hovering side menu items, It should popover the text.

#### What problem does this feature solve?
Long menu item text not fully visible in the screen. because we added ellipsis. so, tooltip will be helpful at that time.

![image](https://user-images.githubusercontent.com/9389944/82124019-05fe7800-978c-11ea-83d2-a6bd5c7dd2bc.png)

#### What does the proposed API look like?
Too

[2020-05-16 22:29] jhildenbiddle commented on #1167
I think discussions like this are most productive when we focus on problems that need to be solved. Perhaps I'm missing something, but so far I haven't read an "issue" in this issue.

That being said, I do have some thoughts on the pre/post-processor debate that may be useful for future discussions. As the author of a complex grid system compatible with Less, Sass, Stylus and PostCSS, I've spent m

[2020-05-16 23:04] jhildenbiddle commented on #1166
Making sure I understand the issue: The goal is to avoid `<script>` tags from being rendered as text when viewed outside of docsify, correct?

For example, in [Typora](https://typora.io), the following markdown:

[code]

Will be rendered as follows:

<img width="204" alt="Screen Shot 2020-05-16 at 5 49 51 PM" src="https://user-images.githubusercontent.com/442527/82131710-a9a45400-979d-11ea-8733-a4

[2020-05-16 23:59] jhildenbiddle commented on #413
After reviewing #1166 I've come to realize that there are three types of comment-based helpers that should be accounted for:

1. Helpers with block content that should render in all environments (e.g. `<details></details>`). These helpers need a start/end indicator for efficient parsing. The content between the start/end comments will be uniquely rendered by docsify while rendered as standard mark

[2020-05-17 01:03] trusktr opened #1180 "Pure CSS menu, any level deep"
## Feature request

Current menu has limitations. Sometimes (like for links) the menu items can open/close to show child items. Other times (as with non-links) there is no open/close function.

#### What problem does this feature solve?

We can decouple the menu nesting from the link system.

#### What does the proposed API look like?

Let's get ideas from existing pure-CSS tree views with open/cl

[2020-05-17 06:00] anikethsaha commented on #1167
thanks for the detailed points.

I agree that it can be a barrier for others to contribute and also we may not get most of the features we get from other processors like loops (we can get them through other plugins but not from postcss-preset-env ... maintainability cost should be considered here. )
For me personally, the issue with `stylus` is its syntax. indentation based syntax and that does ma

[2020-05-17 06:03] anikethsaha commented on #413
thanks for the input.

I liked the tab and the script thing. can  you explain about the detail. is it similar to collapsable in markdowns ? perhaps how it would render will help to understand 👍

[2020-05-17 06:12] anikethsaha commented on #1166
yes,

i was thinking if we can do like this

[code]
this will render in non docsify as

[code]

in for docsify,
we can change the
[code]
to
[code]
while parsing and in this way, we can get the syntax highlighting as well.

[2020-05-17 06:20] jhildenbiddle commented on #1167
To clarify, The “sass” package on npm *is* Dart Sass. Dart Sass compiles to pure JavaScript, so it is a drop-in replacement for node-sass (with some api differences and a few quirks to be considered).

I misspoke above though: docsify-themeable is currently using node-sass. Switching over to sass (Dart Sass) was as easy as installing the sass module and fixing one issue in my source that Dart Sass

[2020-05-17 06:24] anikethsaha commented on #1167
so if we want to use it with postcss I believe we need to use the [sass parser for postcss](https://www.npmjs.com/package/postcss-sass) right ?

[2020-05-17 06:27] jhildenbiddle commented on #413
The details helper is covered here (near the end of the comment): https://github.com/docsifyjs/docsify/issues/413#issuecomment-609085729

I don’t believe there is a native “collapsible” element in markdown. Currently if you want to add a collapsable element in markdown, you do it with HTML.

[2020-05-17 06:34] jhildenbiddle commented on #1166
I don’t understand.

I thought the goal of this issue is to allow JavaScript to be added to markdown *and executed* by docsify while being completely ignored (i.e. not rendered, not executed) in other environments.  The examples above will render code blocks in all environments (including docsify).

[2020-05-17 06:42] jhildenbiddle commented on #1167
We use two npm packages: 1) sass and 2) postcss (+ plugins). Sass will process `.scss` files and output `.css` files, then PostCSS will process the Sass-generated `.css` files and output the final `.css` files.

[2020-05-17 06:56] anikethsaha commented on #1167
ohh I thought of having sass in `.css`.

yea this seems better 👍

[2020-05-17 06:58] anikethsaha commented on #1166
actually, I was thinking if we need to show it on other env or not.

But yeah I agree, let's go with what was the original issue.  Yea we can use the commented thing you mentioned. 👍

[2020-05-17 07:00] anikethsaha commented on #413
cool i will check

yes, I meant using the `details` and `summary` tag
like this

[code]

[2020-05-17 16:37] axiiomatic commented on #1162
Hello @anikethsaha I'm new to the codebase, can you guide me?

[2020-05-17 17:34] anikethsaha commented on #1162
sure. let me know if you have any question.

[2020-05-17 18:22] trusktr opened #1181 "Better sidebar markup: distinguish content with and without sub sections."
I've been working on my site, gathering ideas.

## Feature request

Improvement of markup so that we know if a menu item will have sub-menu items.

#### What problem does this feature solve?

Currently, Docsify assumes that every top-level menu item must have sub-content, so therefore `docsify-themeable` styles the meny items with the open/close icons. There's no way for docsify-themeable to know

[2020-05-17 20:01] jhildenbiddle commented on #1181
Makes sense.

Instead of specifying the collapsable yes/no, perhaps we should allow people to specify the number of sub levels a menu link should display (similar to the [subMaxLevel](https://docsify.js.org/#/configuration?id=submaxlevel), but that is a global setting for all sidebar links). Setting something like `:sub-level=0` would be the equivalent and setting `:no-collapse`, while setting it

[2020-05-17 23:36] #1172 closed

[2020-05-18 02:28] #1063 closed

[2020-05-18 04:45] trusktr commented on #1181
Yeah, I think some sort of helper would make sense, especially since Docsify currently can't tell.

For now, I think I can workaround the issue by setting a class , like `[Foo](./foo.md ':class=remove-chevron')`. I'm gonna give this a shot.

[2020-05-18 04:56] trusktr commented on #1181
Hmm, actually that's not working for me, `[Foo](./foo.md ':class=remove-chevron')` results in an `<a>` tag with no `class=""` applied to it in both the sidebar and main content area.

[2020-05-18 05:04] trusktr commented on #643
I opened an issue about making better markup for the sidebar, https://github.com/docsifyjs/docsify/issues/1181, before I saw this one.

[2020-05-18 05:05] trusktr commented on #643
I'll close this one in favor of the other one, where we can discuss more markup changes that in general can make the sidebar styling/theming more robust.

[2020-05-18 05:05] #643 closed

[2020-05-18 05:10] anikethsaha commented on #1181
I like the `:sub-level` option as this can give more details.

I think this feature is not available for sidebars,

@trusktr this will be for v5 right ?

[2020-05-18 09:21] denydias opened #1183 "externalLinkRel not working if externalLinkTarget: '_blank'"
## Bug Report

Re. #917 / #914, when `externalLinkTarget: '_blank'` and `externalLinkRel: 'noopener'`, href should be:

[code]

but it's being generated as:

[code]

#### Steps to reproduce

1. Add an external link to a markdown file:

[code]

1. Add this do `window.$docsify`:

[code]

#### What is current behaviour

Links are generated without `rel="noopener"`. Example:

[code]

#### What is the

[2020-05-18 11:13] #1064 closed

[2020-05-18 16:56] #1068 closed

[2020-05-19 09:03] vagra commented on #136
+1 on the feature request.

I using docsify for a online converter:
1. it can convert `opml` outline file to `md`;
2. then preview the `md` file using docsify;
3. and using the docsify server renderer, convert the `md` file to `html` file;
4. then using `WeasyPrint` (python package) convert `html` to `PDF`.

now i am blocked in the step 3.
because docsify server renderer have some probreams:
1. it

[2020-05-19 11:27] jialihan opened #1184 "cannot scroll down and up for the md content"
## Bug Report
load the _sidebar with md files, when click to show the .md file on the right content, there is no scroll bar on the right, the page is static and even cannot scroll down.
#### Steps to reproduce
1) run `docsify serve docs`
2) open: localhost
3) click a sidebar item, it loads the .md file content on the right side
4) page is static, and window cannot scroll down, only show part of th

[2020-05-19 12:19] anikethsaha commented on #1184
please submit a reproducible sandbox

[2020-05-19 12:40] anikethsaha commented on #1183
This seems like a bug.

Submit a PR in [awesome-docsify](https://github.com/docsifyjs/awesome-docsify)

[2020-05-19 19:42] jialihan commented on #1184
@anikethsaha  I have already updated the sandbox index.html page.

[2020-05-20 06:36] trusktr commented on #1181
True, as most features operate on the content area only. However with this particular feature, I tried it in my markdown pages, and also could not get it to work there. It might be abug.

[2020-05-20 07:33] vagra commented on #136
need 2 function:

1. generate static html files for all docs;
2. genarate a html file for a specific doc;

[2020-05-20 07:37] anikethsaha commented on #136
We have a blocking issue as plugins won't work if there is no DOM.
Many plugins are using browser's features like local storage.

So i am not sure how long it will take or even it will be done or not

[2020-05-20 07:43] denydias commented on #1183
Done [here](https://github.com/docsifyjs/awesome-docsify/pull/88). Thanks for the heads up.

[2020-05-20 07:50] anikethsaha commented on #1184
you have linked the docsify script twice. remove the other one and it will work fine.

[2020-05-20 10:40] anikethsaha commented on #1183
This has been removed somehow in this commit https://github.com/docsifyjs/docsify/commit/724ac024ddfc28e93d8b5dd909e722747286fa00#diff-d73f215ac772d2673dd8c51f24976e4eL256

Thanks for pointing. It will be fixed soon

[2020-05-20 11:00] denydias commented on #1183
Glad to help.

[2020-05-21 07:09] trusktr commented on #136
Do plugins work with Docsify's SSR?

[2020-05-21 07:14] anikethsaha commented on #136
yea but after the mounting of the DOM. plugins are intended to run after mounting when the core has access to DOM object ( location, window)

[2020-05-21 07:25] trusktr commented on #136
SSR generates HTML already, so we're close. We can just have it output to the file system instead of to the client.

With jsdom in place (via DOMPurify currently, but we should make it an explicity dependency), then the DOM (although fake) will exist in order for plugins to use it. Plugins should work fine unless they do something extravagant like use WebGL or some brand new DOM APIs that aren't i

[2020-05-21 07:31] trusktr commented on #136
Another idea: once we have the filesystem output, the same crawler can also index everything for the search results, and save it as static JSON that the client can fetch.

[2020-05-21 07:32] anikethsaha commented on #136
I am not sure whether plugins are working in SSR without DOM. I think its working in SSR because the mounting cycle of docsify is a bit different than the DOM

Not sure though, I need to give it a test.

Happy to accept POC for this.

[2020-05-21 07:33] anikethsaha commented on #136
I had the idea of rendering the main in jsdom and output the rendering in an HTML file.

[2020-05-22 08:53] RayKimEX commented on #1104
@anikethsaha Could you fix this issue?? i want to embed with nested files

[2020-05-22 08:57] anikethsaha commented on #1104
it seems there is already open/merged PR for this. (forgot which one.)

it will fixed in next release if i am not wrong 👍

[2020-05-22 09:31] #1183 closed

[2020-05-22 09:55] #1098 closed

[2020-05-22 09:59] #970 closed

[2020-05-22 14:14] TangLaoEr opened #1191 "why can't init in mac os"
when i input `descify init ./docs` ,it out `env: node\r: No such file or directory`

[2020-05-23 01:05] #1162 closed

[2020-05-24 05:44] anikethsaha commented on #1093
@Koooooo-7 can you update the issue if it still exists or not ?

[2020-05-24 09:57] jjallaire commented on #1090
I am seeing this same behavior both locally as well as on the docsify-themeable website. Here's what I see:

![docsify-search](https://user-images.githubusercontent.com/104391/82751139-4446f900-9d83-11ea-9be4-7a134653e0bb.gif)

Note that the URL changes to include `id=emoji` but the page doesn't navigate to the emjoi section.

[2020-05-24 10:50] sy-records commented on #1090
@jjallaire The next version should be fixed. #1190

[2020-05-24 11:31] jjallaire commented on #1090
Excellent! I was speculating that this might also have something to do w/ async image loading (as I have a number of screenshots on the page): https://gitmemory.com/issue/docsifyjs/docsify/624/489617399

[2020-05-24 11:34] jjallaire commented on #1090
Is there a straightforward way to run the new version on my site prior to it's release?

[2020-05-24 13:11] sy-records commented on #1090
You can try to load these two js files.
[code]

[2020-05-24 14:32] jjallaire commented on #1090
That works great, thank you!!!!!

[2020-05-24 15:11] Koooooo-7 commented on #1093
it is just an issue to make us care about the potential links problems. if it is need to be solved soon, we can discuss on it again.
So I just close this issue right now.

[2020-05-24 15:11] #1093 closed

[2020-05-25 03:08] BillyLuo commented on #790
same question

[2020-05-25 06:58] mafanwei opened #1196 "Change font size globally"
## Feature request
 change font size globally

#### What problem does this feature solve?
In a website for some special people.

#### What does the proposed API look like?
[code]

#### How should this be implemented in your opinion?
I'm not a web developer, but I don't think this will be difficult.

#### Are you willing to work on this yourself?
I'm afraid I can't.

[2020-05-25 07:27] sy-records commented on #1090
fixed via #1175. If there are still questions, you can reopen the issue.

[2020-05-25 07:27] #1090 closed

[2020-05-25 08:27] cugxuan commented on #1115
so great!
waiting for new release!

[2020-05-25 09:02] trusktr opened #1197 "prevent sidebar from re-rendering"
## Feature request

Each time we navigate, if the sidebar menu item expands, the whole sidebar re-renders (sidebar DOM is replaced with a new one)

#### What problem does this feature solve?

This would make it easier to attach logic onto DOM elements without the being destroyed.

#### What does the proposed API look like?

We should render all menu items with all their child items, but all collap

[2020-05-25 10:00] anikethsaha commented on #1197
So everytime we click any link, it will re-render the whole ?

[2020-05-25 18:50] anikethsaha commented on #1196
you can use custom styles for this.

[2020-05-25 19:04] anikethsaha commented on #1155
Thanks for the issue.

docsify  needs markdown files as a source to render them in runtime. It can use `.html` to show the page as well.

I am not sure what is `.ipynb` but as far as docsify is a concern if you have `.md` as a source, you are good to go.

[2020-05-25 19:23] anikethsaha commented on #1154
can you mention how you added the dark mode.

also, please submit a reproducible sandbox

[2020-05-25 19:29] anikethsaha commented on #1158
Thanks for the issue.

I dont have experience with vue so maybe some else can pick this.
about the default font size, I think we can consider that to be increased as there are other issue as well for this https://github.com/docsifyjs/docsify/issues/1196

PR welcome for the default style. Or we can add it as a css variable.

[2020-05-25 19:34] anikethsaha commented on #1153
try `hook.ready` instead.

[2020-05-25 19:54] trusktr commented on #1197
That's what I'm observing in devtools. You can do that like this:

- go to the Elements tab in devtools.
- find the `<div class="sidebar-nav">`
- expand it so you can see some `ul` and `li` items.
- now click on any sidebar menu item
- notice that the Elements panel will animate the color of the `<div>` purple (default is purple unless you have a devtools theme installed)
- notice that the top lev

[2020-05-25 20:20] trusktr commented on #911
If we display text (not execute it) there's no security issue.

If we do want to execute it (f.e. accept HTML and render it) then we can use DOMPurify, but I don't think we want to render HTML code in the search results.

I think we should keep this open because the behavior currently horrible.

This is my sidebar using default markdown features:

![bad-search-results](https://user-images.githubus

[2020-05-25 20:22] trusktr commented on #911
Plus, this leads to the search having results based on the source code of the website, which is also confusing for the end user.

[2020-05-25 20:26] trusktr commented on #911
Or for example, see here the search for "code" shows totally unrelated search results just because of the source using `<code>` markup:

![code-results](https://user-images.githubusercontent.com/297678/82841462-08975680-9e8b-11ea-9b46-3cbe4ed56ba0.png)

Hmmmm. Now that I think about it, I wonder why my site has these source code results, but Docsify's site doesn't. I think this may be due to addin

[2020-05-25 20:35] trusktr commented on #911
Hmmmm. Now that I think about it, I wonder why my site has these source code results, but Docsify's site doesn't seem to have this problem.

Maybe it is due to custom markdown plugins? f.e.:

[code]

[2020-05-25 21:09] trusktr commented on #911
We may also need a way to specify which content is searchable in cases where some content is being excluded.

[2020-05-25 22:15] trusktr commented on #911
Hmmm. So in my auto-generated markdown files (from code JSDoc comments), I have some stuff like

[code]

which is valid markdown, and renders like

![title-code](https://user-images.githubusercontent.com/297678/82845720-7f881b80-9e9a-11ea-9799-e93764d21550.png)

I wonder how we can handle these forms of valid markdown.

[2020-05-26 06:49] anikethsaha commented on #911
We can discuss this about the non-executable.

[2020-05-26 06:54] anikethsaha commented on #1197
seems reasonable.
Though we want to have a ref so that when the page reloads the sidebar should highlight the expandables.

We can have a PoC/PR for this

[2020-05-26 07:20] Jerrywang959 commented on #1155
Thank you.

.ipynb file is [jupyter](https://jupyter.org/) notebook file. We use it for interactive computing across dozens of programming languages, usually in data science. It is essentially a file in json format. It contains input and output (includes the data of the image, not the external link of the picture) in a json file.

Currently, we could use some python command to convert .ipynb file

[2020-05-26 07:26] anikethsaha commented on #1155
docsify converts markdow content to HTML in runtime.

IMO, you need some pre-build script like to run that before `docsify serve`.

Make use of [execs](https://www.npmjs.com/package/execa), you can run commands in this.
run the `jupyter nbconvert --to markdown test1.ipynb` first and then `docsify serve`.
all async .

We cant do this because it's not in the scope of this package.

[2020-05-26 07:36] Jerrywang959 commented on #1155
OK. Thank you very much. I will try.

[2020-05-26 07:36] #1155 closed

[2020-05-26 07:47] #1153 closed

[2020-05-26 10:02] XingXiaoWu commented on #1171
Same question.
This problem may be caused by the vue-router
https://github.com/vuejs/vue-router/issues/296
I am also looking at how to solve him on docsify

[2020-05-27 03:33] XingXiaoWu commented on #1171
I have a temporary solution

In the file src/core/event/index.js
[code]
Of course, you can also format the timestamp to make it look nice, like this
![image](https://user-images.githubusercontent.com/22769131/82974182-ee38b680-a00b-11ea-908c-32052be034c1.png)

I have a js based on the develop branch that you can try

[docsify.zip](https://github.com/docsifyjs/docsify/files/4686289/docsify.zip)

Pe

[2020-05-27 05:35] jerryc127 commented on #1154
https://github.com/jerryc127/hexo-theme-butterfly-docs/blob/master/src/bottom.js
https://github.com/jerryc127/hexo-theme-butterfly-docs/blob/master/src/bottom.js

[2020-05-27 05:54] vagra commented on #1181
see my demo site:
https://kepan.org/alpha/#/kepan/

is it you want?

[2020-05-27 07:48] vagra commented on #1181
I write `has-children` class for `li` in tpl.js:

[code]

[2020-05-27 11:41] vagra commented on #1181
hello.

I make some changes for sidebar item:
https://github.com/vagra/docsify/commit/56e643a45f18db31c2995acee5a8a8ca4b0459cd

changes:

1. when expand, display down arrow, when collapse, display right arrow;

2. this is only for `app-sub-sidebar`;

3. if `loadSidebar` set to true, the sidebar level is:
  - `sidebar-nav` for _sidebar.md
  - `app-sub-sidebar` for main content

so, when `loadSideba

[2020-05-27 12:32] vagra opened #1200 "Add manual expand/collapse function for app-sub-sidebar."
## Feature request

Add manual expand/collapse function for app-sub-sidebar.

#### What problem does this feature solve?

Because docsify has been doing this before:
- when `loadSidebar: true`, the sidebar hierarchy is:
  - `sidebar` as root
    - `sidebar-nav` for _sidebar.md
      - `app-sub-sidebar` for main content
- when `loadSidebar: false`, the sidebar hierarchy is:
  - `sidebar` as root

[2020-05-27 15:13] vagra commented on #1180
I did this.

[2020-05-27 15:43] vagra commented on #1180
I did this.

https://github.com/vagra/docsify/commit/6a1389af608ac86517608778793a2fcefff09752

this code like the https://github.com/docsifyjs/docsify/issues/1200
but has some diffrents.

1. if you click the icon before item, can expand/collpse the childre;
2. if you click the item link, can scroll to the anchor in the main content.

when loadSidebar: true, look https://kepan.org/click1/
![图片](htt

[2020-05-27 15:47] vagra commented on #1200
# Option B

https://github.com/vagra/docsify/commit/6a1389af608ac86517608778793a2fcefff09752

this code like the Option A, but has some diffrents.

1. if you click the icon before item, can expand/collpse the children;
2. if you click the item link, can scroll to the anchor in the main content.

when loadSidebar: true, look https://kepan.org/click1/
![图片](https://user-images.githubusercontent.com/

[2020-05-27 15:53] vagra commented on #1181
prev method only change icons and add expand/collpse function for `app-sub-sidebar`, not for `sidebar-nav`.

[2020-05-27 20:41] vagra commented on #1200
# Keep sync scroll when some items collpsed in sidebar.

https://github.com/vagra/docsify/commit/5456bd56e2ae71defe2334ad024b622772334b9c
https://github.com/vagra/docsify/commit/268c61d24a8df1f09b2bd5f5c6902d0e6e49a231

I add some changes, if some items collpsed in sidebar, keep it sync scroll.

click link,  loadSidebar=false: https://kepan.org/side0/
click link,  loadSidebar=true: https://kepan.o

[2020-05-28 10:10] vagra commented on #1200
I add function findParents(active), the usage is finding the parent node of active node, if the parent node is collapsed, add `parent` class to it, then return the top one.

then set active node to it, then scroll into view.

this fix the bug: if a node collapsed, when main content scroll to it's children, the sidebar jump to  top.

[code]

[2020-05-28 11:14] Sogrey commented on #1171
Thank you very much anyway.
无论如何还是非常感谢。

[2020-05-28 12:51] boopathikumar018 commented on #657
Yes we can do it, already my plugin [docsify-darklight-theme](http://docsify-darklight-theme.boopathikumar.me/) enabled this feature for docsify sites.

[2020-05-28 17:57] vagra commented on #1200
this expand/collapse function is not like https://github.com/docsifyjs/docsify/pull/1145/ , it only:

1. expand/collapse by click;
2. highlight/sync by scroll and click;
3. not auto expand/collapse when scroll.

[2020-05-29 19:35] stoufa commented on #1094
I managed to reproduce the same error, <a href="https://drive.google.com/drive/folders/1KixorxoBy_VojBrf1_SGcRA-Q0gTpoV3?usp=sharing" target="_blank">here's the link</a>.
Hope you find this helpful. 🙂

[2020-05-30 12:10] woss commented on #1104
are you talking about this PR https://github.com/docsifyjs/docsify/pull/1076

[2020-05-30 13:33] anikethsaha commented on #1104
Not sure, I will check that soon.

[2020-05-30 14:05] vagra commented on #1200
# Option: Plugin

I making this function as plugin, named `sideplus`:

https://kepan.org/plug0/
https://kepan.org/plug1/

however, it is not recommended to use plugin. The minimal change solution I recommend is **Option A**.

because there is a problem with the current docsify: when the parent item is collapsed, the page scrolls to the anchor of its child item, sidebar will lose focus, and will ju

[2020-06-01 07:11] #1084 closed

[2020-06-01 08:54] alpersilistre commented on #583
Sorry about writing to the closed issue.

Hey @seqareen , can you able to resolve this? I am trying to host docsify project but got the same issue as yours. The sidebar and content just display 'Loading...' and nothing happens.

[2020-06-02 04:34] jhildenbiddle commented on #707
Best to have docsify handle loading all necessarily libraries (like poly/ponyfill) as needed via dynamic imports. This keeps the bundle size down, prevents users from having to manage multiple libraries just to get docsify working, and allows the docsify team to easily swap libraries for all users in future versions (e.g. switching from ponyfill "A" to ponyfill "B").

FWIW, [docsify-themeable](htt

[2020-06-02 08:03] anikethsaha commented on #707
We need to ship polyfill for dynamic import as well right ?

[2020-06-02 12:57] JingqingLin commented on #1157
Hi, I have the same problem and I create a repo on gitee.

Repo address: https://gitee.com/JingqingLin/docsify-test
Gitee Pages address:  https://jingqinglin.gitee.io/docsify-test

The [first page](https://jingqinglin.gitee.io/docsify-test/#/first) was updated on 2020/06/02 20:42 and the [second page](https://jingqinglin.gitee.io/docsify-test/#/second) was updated on 2020/06/02 20:45, but all page

[2020-06-02 13:12] sy-records commented on #1157
Can you try to run on a server without a CDN? I think this is still a caching problem. @JingqingLin

[2020-06-02 13:55] JingqingLin commented on #1157
I put it on [VPS](http://117.78.4.128:9999/#/first), and the time is right.

If I deploy it on GitHub Pages, does `{docsify-updated}` show file modification time or show commit time?

[2020-06-02 14:57] jhildenbiddle commented on #707
Nope. Bundlers like Rollup and Webpack handle these without issue or need for a plug-in.

[2020-06-02 16:33] anikethsaha commented on #707
ahh, yea
We will be migrating to webpack so I guess we can make use of that

[2020-06-02 18:04] jhildenbiddle commented on #707
What’s the issue with Rollup? Why Webpack vs Parcel, Snowpack, or some other bundler?

Not pushing for one over another, just wondering what the rational is for moving away from the current tool?

[2020-06-02 18:10] anikethsaha commented on #707
webpack is kind of optimal for creating a browser bundle.
We will be using rollup for the cli

[2020-06-03 00:27] sy-records commented on #1157
@JingqingLin You can try it use github pages.

gitee:
![image](https://user-images.githubusercontent.com/33931153/83582325-cf8a7080-a573-11ea-9837-94d8a290ef91.png)

vps:

![image](https://user-images.githubusercontent.com/33931153/83582410-f9439780-a573-11ea-8305-d8a7ca4dc618.png)

[2020-06-03 02:51] yzhang-gh commented on #1150
My +1 for the `markdown-it` parser. I really like the extensibility of `markdown-it` as a VSCode Markdown plugin maintainer.

![MD plugins](https://raw.githubusercontent.com/yzhang-gh/vscode-markdown/master/images/md-extension.png)

[2020-06-03 03:47] JingqingLin commented on #1157
I put it on [GitHub Pages](https://jingqinglin.github.io/docsify-test/#/first), `{docsify-updated}` shows commit time. But all files also show the same time. Is there any way to solve this problem?

[2020-06-03 04:10] sy-records commented on #1157
There doesn't seem to be a good solution. 😅
Get the `last-modified` value, but both the github page and the gitee page are cached release times, so they are consistent.
@anikethsaha Do you have any ideas?

[2020-06-03 04:28] playgithub opened #1202 "scroll problem"
To reproduce the problem:

1. Open https://xmake.io/#/getting_started
2. Locate to "Getting Started / Project Examples", and make sure it's expanded
3. Locate to the next section, i.e. "Getting Started / Configuration"
4. It doen't scroll properly

[2020-06-03 06:35] anikethsaha commented on #1157
I forgot the context of this issue. I will check this soon.

[2020-06-03 20:31] trusktr commented on #707
I haven't tried Parcel yet, but Parcel is Webpack with default
configuration to make life easy.

Users do need a polyfill for ES Modules in older browsers to make an output
`.esm.js` file consumable, which is something they can add (and doesn't
need to be shipped with Docsify). Perhaps we should mention it in the docs
when we get around to adding the ESM build.

*#!/*JoePea

On Tue, Jun 2, 2020 at

[2020-06-03 20:35] trusktr commented on #707
As an idea, here's what Tween.js' output `dist/` folder looks like: https://github.com/tweenjs/tween.js/tree/1f85d6e74491037653ddad2ee4193958f09928e2/dist

Probably not many people (if any?) will use the `.amd.js` build. Modern bundlers, and native ES Modules in browsers, will make use of the `.esm.js` output. The `.umd.js` output is what people use for the traditional global-style `<script src=""

[2020-06-03 23:06] jhildenbiddle commented on #707
Let's move the bundler conversation over to #1168.

[2020-06-06 03:33] jhildenbiddle commented on #1168
The general advise for people asking "rollup or webpack?" has been use to use rollup for distributable packages (browser and/or node) and webpack for applications. This advise was given early on mostly due to webpack v2's inability to output ES6 modules, but it largely holds true today as rollup is typically faster and produces smaller bundle sizes while webpack tends to be more flexible for app-s

[2020-06-06 03:49] advance-mn opened #1204 "local run (not need server)"
I  want to run local,  not open a port, but the home page show "404 Not-Found"

[2020-06-06 04:35] sy-records commented on #1204
Of course you can do that, maybe you are visiting the wrong url.

This one's wrong:
[code]

It's the right thing to do:
[code]

[2020-06-06 06:55] trusktr commented on #1168
Actually I feel the same for most cases. Rollup is probably better for the docsify bundle.

In some cases though, Webpack's ES-spec-compliant features come in handy when you can not do certain things with Rollup. As an example, one time I wanted to make "package protected" exports, so that if anyone outside of my package tried to import something it would thrown a runtime error. I'm not sure about

[2020-06-06 06:56] trusktr commented on #1168
Removed it from the 5.0 Todo.

[2020-06-06 07:28] anikethsaha commented on #1168
Agreed, though I would favor webpack personally cause I always get lost with the rollup's dependencies resolving thing. eg https://github.com/docsifyjs/docsify/issues/1058

(Pretty sure I did miss there something)

So, anyway, if someone takes this would be great, though not a priority or blocker. 👍

[2020-06-07 09:29] sy-records commented on #1080
is it that when you visit the home page you can't search for anything else, or is it that you can't search for readme.md's content?

[2020-06-07 18:50] trusktr commented on #1057
Just FYI the new unit tests in https://github.com/docsifyjs/docsify/pull/1189 shoudl catch any instance of the script not loading.

[2020-06-07 18:52] anikethsaha commented on #1057
will it catch while running in development mode ? cause this issue occurred after running the build and ignoring the warning of rollup.

[2020-06-07 18:56] trusktr commented on #1057
Oh wait, actually the `test` script currently tests whatever build you last made. I will update `test` to test specifically the prod build.

[2020-06-07 18:58] anikethsaha commented on #1057
Post build tests ? worth it though, may be in a separate PR ?

[2020-06-07 20:40] trusktr commented on #1057
Oh wait, I take it back, PR #1189 was in fact testing that the production build script was loading properly as I originally though in my comment above. I added more comments into the pull request explaining it.

[2020-06-07 21:20] trusktr commented on #1080
Please let us know how to reproduce. Do you have the code for your site?

[2020-06-07 21:21] trusktr commented on #1197
:+1: That can be done without refreshing the sidebar.

[2020-06-08 18:42] kosalanuwan commented on #1018
In GitHub Pages, isn't README.md is the index.html or default.html behavior? I mean it would make more sense to have a README.md as a convention.

[2020-06-08 19:16] trusktr commented on #1018
I think we can default to `README.md` by matter of the existing
conventions, and we can also fall back to `index.md` if `README.md` is not
found. Thoughts?
*#!/*JoePea

On Mon, Jun 8, 2020 at 11:42 AM Kosala Nuwan Perera <
notifications@github.com> wrote:

[2020-06-09 10:07] kosalanuwan commented on #1018
@trusktr Of course `index.md` would do. But, I would expect the sub-folders must be treated similarly to the root. I think it should behave the same way how Docsify currently treating the `docs/` root, i.e. a mixture of `README.md` and `_coverpage.md`. I believe these are the defaults of Docsify.

[2020-06-10 05:30] jhildenbiddle commented on #1061
Another v5 feature we should consider is tweaking the docisfy plugin architecture to be more resilient. This warrants further discussion, but here are two ideas worth considering:

1. Provide a docisfy plugin "starter" or a sample repo to use as a starting point.

   This would make life much easier for the community and help enforce acceptance criters (below).

1. Define acceptance criteria for a

[2020-06-10 06:16] jthegedus commented on #1061
@jhildenbiddle re 1: I have a plugin template repo I have yet to publicise. I will see about moving it to this org and then we can iterate on it.

[2020-06-10 08:37] anikethsaha commented on #1061
@jhildenbiddle this is really an awesome suggestion. It would make the plugin integration much more strong and simple.

May be we should extract this suggestion into a new issue.

**My 2 cents** ⬇️

Also, I am thinking of creating a wrapper function something like this `createDocsifyPlugin` function that needs to be returned from the plugin. It will accepts the following data

[code]

`createDocsi

[2020-06-10 08:40] anikethsaha opened #1209 "Wrapper function for creating plugins"
Another v5 feature we should consider is tweaking the docisfy plugin architecture to be more resilient. This warrants further discussion, but here are two ideas worth considering:

1. Provide a docisfy plugin "starter" or a sample repo to use as a starting point.

   This would make life much easier for the community and help enforce acceptance criters (below).

1. Define acceptance criteria for a

[2020-06-10 08:41] anikethsaha commented on #1209
@jhildenbiddle this is really an awesome suggestion. It would make the plugin integration much more strong and simple.

May be we should extract this suggestion into a new issue.

**My 2 cents** ⬇️

Also, I am thinking of creating a wrapper function something like this `createDocsifyPlugin` function that needs to be returned from the plugin. It will accepts the following data

[code]

`createDocsi

[2020-06-10 19:46] trusktr opened #1210 "[build] convert external dependencies (missing dependencies) into Rollup errors instead of warnings."
Rollup by default treats missing dependencies as "external" and will only output a warning to the console instead of an error (working as intended).

We can make it throw an error for our use case.

See: https://github.com/rollup/rollup/issues/1906#issuecomment-561055996

[2020-06-10 20:19] trusktr opened #1211 "remove bundle size from Docsify home page"
Based on some other discussions we've had with @jhildenbiddle, we should perhaps remove the bundle size from the home page, and not worry so much about the size limit and moreso focus on what features make Docsify great.

My opinion: the current file size limit potential and awesome features from being introduced just because we're already at the file size limit.

[2020-06-10 23:24] jhildenbiddle commented on #1211
Perhaps focusing on other measures (like [Lighthouse](https://web.dev/measure/) scores) would give the maintainers measurable targets and a better sense of overall performance for devs. Surprisingly, the current numbers for docsify.js.org aren't terrible. There's room to improve though, which we should prioritize for v5.

<img width="986" alt="Screen Shot 2020-06-10 at 6 22 19 PM" src="https://use

[2020-06-11 04:37] jhildenbiddle opened #1212 "Integration of docsify-themeable (v5)"
The goal of [docsify-themeable](https://jhildenbiddle.github.io/docsify-themeable/) integration is to provide the docsify community with a more flexible and maintainable theme system designed around [CSS custom properties](https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties). A more detailed explanation can be found in the docsify-themeable [documentation](https://jhildenb

[2020-06-11 06:21] jhildenbiddle commented on #1209
Good stuff, @anikethsaha.

The `polyfillURL` property concerns me a bit but perhaps this is because I'm not aware of how you're intending it to be used. For example: Do we really want plugins to load polyfills? What good is a polyfill URL without a test to determine if the ponyfill needs to be loaded? Why one URL [String] instead of multiple [Array]? What if multiple plugins try to load the same p

[2020-06-11 07:03] anikethsaha commented on #1211
One thought,

We can add lighthouse in the CI [ref](https://github.com/GoogleChrome/lighthouse-ci).
That will help in reviewing PR so that we can increase the acceptance criteria of the PR.

[2020-06-11 07:05] anikethsaha commented on #1211
We can pick each Points from the [report](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fdocsify.js.org%2F%23%2F%3Fid%3Ddocsify) can fix them.

[2020-06-11 07:58] anikethsaha commented on #1209
`polyfillURL` was a rough idea, I was hoping if we can load that link from docsify core at the end of the mounting of all datas/js. Like if two plugins are requesting the same polyfill, we can load a single one (I guess browsers does that already, not sure. ). Caching can be done as well.
Its not a property we surely need now, we can discuss over that .

Yea we can have like this as the goal is to

[2020-06-11 16:09] jhildenbiddle commented on #1061
Plugin / wrapper discussion moved to #1209.

[2020-06-11 16:37] kosalanuwan commented on #1169
We use GitHub Template repos internally and privately for many work. Here's one of them; https://alertbox.github.io/gh-quickstart/#/
For obvious reasons I had to make it a trimmed-down version, but the process more or less the same.
I haven't got a chance to dig deeper into GitHub Developer APIs and Events to figure out a way to change the template repo content when creating a copy using the `Use

[2020-06-11 16:40] jhildenbiddle commented on #217
I believe the idea is that instead of using the docsify cli to generate files (or manually create an index.html per our docs) users can have a fully-working docsify site based on their README.md file by simply visiting a service URL. For example:

[code]

It’s an interesting idea and I’d love for this service to exist, but there would be a lot of details to think about (configuration, plugins, lim

[2020-06-11 18:46] mohammedsahl opened #1213 "Sidebar: Overlapped by cover page, toggled by screen width shortening"
## Bug Report

When the screen width gets shorter than 768px some unusual UI updates take place.

#### Steps to reproduce

This [video](https://youtu.be/V47A5XUsrzQ) better demonstrates the conditions needed to reproduce this
Posting screenshots would clog this issue 😅

#### What is current behavior

- The sidebar is positioned under the cover page UI elements
- The side bar toggles on when shorte

[2020-06-11 18:52] anikethsaha commented on #1213
Thanks for the detailed report.

I appreciate your efforts in submitting a video of the bug 😃 ,  but those might take a long time for you.
for repro examples, you can simply write the steps or you can submit a code sandbox link as it will take less time.

No need to change this one, as it is pretty clear from the video 😄 .

This is a bug, Feel free to submit a PR.  👍

[2020-06-11 20:49] Kikobeats commented on #217
I achieved more or less my own issue shipping nicedoc.io.

e.g., https://nicedoc.io/sindresorhus/got

but they are a room for a lot of improvements, so I think a docsify service of this could be very cool

[2020-06-12 14:38] hpeixoto opened #1214 "Unable to use search plugin."
## Bug Report

#### Steps to reproduce
Accessing this url: http://54.37.231.32/
I am not able to use the search plugin. There is no data in the localstorage key on the webbrowser.

#### What is current behaviour
no data in the localstorage key on the webbrowser

#### What is the expected behaviour
Save the data in the broswer storage

#### Other relevant information

- [x] Bug does still occur whe

[2020-06-12 19:58] mohammedsahl commented on #1213
It's a relatively small change. However I was wondering if the "sidebar toggling when shortening" fix should also be added to this commit.

[2020-06-13 03:19] sy-records commented on #1214
You need to fill out the `_sidebar.md`. see https://docsify.js.org/#/more-pages?id=sidebar

![image](https://user-images.githubusercontent.com/33931153/84558777-bb125900-ad67-11ea-989d-3c8a0189a62c.png)

[2020-06-13 03:19] #1214 closed

[2020-06-13 04:20] trusktr commented on #1209
Let's also think about what the use case for plugins is.

Currently, the top use case seems to be for injecting HTML markup into the markdown output. How can we make that easier (whether its with plugins, or something else)? Can we provide more hooks, f.e. hook for before/after paragraphs, before/after headings, etc? Could we also provide a special syntax that basically is an insertion point that

[2020-06-13 04:27] trusktr commented on #1209
This makes me think: what if instead of passing `hook` with all the hooks, we call the same-name methods of the POJO?

[code]

or equivalently

[code]

[2020-06-13 04:40] trusktr opened #1217 "add tests!"
This is a meta issue. We should put some focus on stabilizing the source by adding unit and e2e tests. Test infrastructure is already in place thanks to @anikethsaha.

We can create separate issues for testing specific parts, and assign to ourselves so other will know what to work on without duplicating efforst.

[2020-06-13 04:43] trusktr opened #1218 "issue triage"
There are a bunch of issues that we should triage and prioritize. Normally we don't need to make meta issues like this one, but wanted to get it on people's radar. We should go through issues and label them and place them onto a project board (and the order they appear on the project board can indicate priority).

[2020-06-13 05:57] trusktr opened #1219 "mobile site scrolls sideways now"
## Bug Report

The mobile site scrolls horizontally a little bit. (This is not published yet)

The current live site at docsify.js.org does not have this bug yet.

#### Steps to reproduce

go to mobile mode and try scrolling horizontally:

#### What is current behaviour

![scroll-sideways](https://user-images.githubusercontent.com/297678/84561257-c3cf4480-acff-11ea-8749-2ed35fba1a8e.gif)

#### Wha

[2020-06-13 06:34] anikethsaha commented on #1219
Can we fix this in https://github.com/docsifyjs/docsify/pull/1215 itself ?

[2020-06-13 06:38] anikethsaha commented on #1217
Having some more unit tests, integration tests would be great.
I think the current setup for unit tests are not working completely to test all parts. We need to check that.

[2020-06-13 07:38] jhildenbiddle commented on #1209
One advantage of passing `hook` to a single function is that sharing data between methods is straightforward:

[code]

If `hook` methods are called directly on the plugin object itself, sharing data becomes more complex because there are multiple ways to do it (settings globals, using `localStorage` or `sessionStorage`, adding data to the object and referencing it with `this`, etc):

[code]

Just

[2020-06-13 08:05] jhildenbiddle commented on #1219
Strange. I'm not seeing this behavior on iPhone (XS Max) or iPad.

Which device(s) are you testing on?

[2020-06-13 10:43] mohammedsahl commented on #1219
Yeah definitely. I have a few questions though. Was this caused after merging in #1215 in anyway? And what device is this problem occurring on? I've tested all the ones Chrome devtools has to offer

![image](https://user-images.githubusercontent.com/32067562/84566686-3280c200-ad41-11ea-9a3b-b4f449ecfda1.png)

[2020-06-13 20:12] trusktr commented on #1080
I think ombaiz on Discord may be having this issue. Can you check out his link and verify if it looks to be the same issue?

Discord chat: https://discord.com/channels/713647066802421792/713647066802421795/721456182069559397

His website, http://54.37.231.32, seems to only have a home page. The behavior reported is that search is not working. Based on the reported issue here, it would seem that he

[2020-06-13 21:06] jhildenbiddle commented on #1219
Possibly related (since I'm not seeing this scroll issue either): https://github.com/docsifyjs/docsify/pull/1215#issuecomment-643677786

[2020-06-14 02:28] kerim opened #1220 "Switch to exact document if it exists in another language"
## Feature request
If I am looking at /en-us/filename.md and "filename.md" also exists in /zh-cn/, when I switch languages to /zh-cn/ it should open up "filename.md" instead of "readme.md"

#### What problem does this feature solve?
A user can switch to the translated version of the same document rather than having to re-navigate the website in the target language.

(Not as important, but also all

[2020-06-14 03:06] jhildenbiddle commented on #1218
From Discord thread:

When this work is complete the new Triage project should make working with issues much easier. Aside from that, perhaps we could ask maintainers to take a look at the Triage project and contribute where they can on a specific day each week (or whatever schedule we come up with).

Thoughts?

[2020-06-14 03:17] jhildenbiddle opened #1221 "Fix issues with docsify.js.org and IE11"
## Bug Report

Docsify lists IE11 as an officially supported browser. While docsify itself works fine with IE11, docsify.js.org does not load properly in IE11 due to issues with several plugins. These issues should be addressed so that the docsify website loads properly in IE11.

#### Steps to reproduce

1. Visit https://docsify.js.org using IE11.
2. Open IE's developer tools
3. Click on the Conso

[2020-06-14 06:19] anikethsaha commented on #1218
Yea, make sense

[2020-06-14 06:53] anikethsaha commented on #1080
I can confirm search is not working in homepage even in our docs site

[2020-06-14 07:28] anikethsaha commented on #217
This is certainly a big project.  I was thinking if we can make this a separate project may be under this org.
We mainly need some methods to convert the config from URL parameters to docsify config and as far as plugins are concerned, that can be tricky.
Maybe we passing the plugin cdn link to URL parameter and resolving through our method.

that being said, it requires a whole new discussion and

[2020-06-14 13:31] kerim commented on #1078
I am having a similar issue. Not with type=code, but just with multiple embeds. The entire page gets replaced with one of the embeds, until I do a browser refresh.

[2020-06-15 01:32] weituotian commented on #294
I also vote for this enhancement.

[2020-06-15 01:32] weituotian commented on #344
I also vote for this enhancement.

[2020-06-15 06:33] trusktr commented on #1173
Makes sense. I added the `bug` label and put it in the `To do` column of the `4.x` project board. Let's triage issues as we go.

[2020-06-15 06:41] mafanwei opened #1222 "I hope the screen reader software doesn't read 'link' when it reads the title"
## Feature request

I hope to add a feature that the md file title does not read out the link.

#### What problem does this feature solve?

Friendly for some people who use screen reader software

#### What does the proposed API look like?

just like

[code]

#### How should this be implemented in your opinion?

I don't think this should be hard to implement, e.g. generating html for md files with

[2020-06-15 07:20] anikethsaha commented on #1222
Can you give some more info about the request. Like Before/after cases.

[2020-06-15 07:58] trusktr opened #1223 "regression: hamburger menu icon not visible on mobile until after scrolling a little"
## Bug Report

Regression: the mobile menu is out of view by default now

#### Steps to reproduce

Visit a docsify site on mobile.

#### What is current behaviour

On the latest vercel preview that I grabbed from #1215, https://docsify-preview-p88m1zgcc.vercel.app, I am not able to see the hamburger menu on mobile unless I scroll:

![menu-hidden](https://user-images.githubusercontent.com/297678/84

[2020-06-15 09:25] mafanwei commented on #1222
Thank you for your response.

Here's a simple example:

[code]

When we use screen reader software, it reads confusing headlines.

[2020-06-15 12:51] #1106 closed

[2020-06-15 17:13] #1213 closed

[2020-06-15 20:30] mohammedsahl commented on #1223
Is this still an issue after #1215? We decided not to translate the cover page hence zoom should be disabled. If required I can work on copying the current "sidebar and content" behavior onto the coverpage such that nothing is rendered beyond the viewport
@trusktr

[2020-06-15 21:36] mohammedsahl commented on #1212
I'd like to work on:

and proably, by extension,

However, I noticed there is a discuss label on #1167. Is it finialized that we would be using PostCSS + (Dart) SASS? It'll help me decide what to invest time into learning 😃

From my understanding, `.styl` files seem very similar to `.scss` files. And since Dart Sass is distributed as a npm sass package I wouldn't have to worry about learning Dart

[2020-06-16 06:28] anikethsaha commented on #1212
I believe in order to integrate docsify-themeable, the list should be executed in order, right @jhildenbiddle ?

@mohammedsahl you can start with the top elements of the lists, #1167 is not finalized it seems and it is not the priority as docsify-themeable will work without that as well. Once that is finalized, we can do the migration

[2020-06-16 13:09] sebastienbarbier commented on #1078
I am having this issue with latest @4, may be roll back to a previous version might be temporary solution ? anyone know when this issue first appears ?

[2020-06-16 21:50] mohammedsahl commented on #1212
If that's the case then I'll just get started with what's first on the list. Does this warrant a new issue be created? @anikethsaha

[2020-06-17 05:38] jhildenbiddle commented on #1212
Docsify-themeable integration should wait until v4 issues/PRs have been triaged. This will allow us to identify v4 work that we want to complete for v4 that could complicate the integration. Until then, this issue is just meant as a scratchpad and a discussion area, so the todos are not in order or necessarily complete.

[2020-06-17 13:49] mohammedsahl commented on #1210
I'd like to work on this. How would you suggest going about with testing? Can you tell me of a way to reproduce the missing dependencies warning. @trusktr

[2020-06-17 13:54] mohammedsahl commented on #1173
This seems like a quick CSS fix. I can work on this. From my understanding, all that needs to be done is remove the burger icon (sidebar-toggle) from the cover when viewed on a mobile device. @sy-records

[2020-06-18 00:43] sy-records commented on #1173
@mohammedsahl It may be necessary to judge configuration items: `onlyCover: true`

When `onlyCover` is `true`, you can delete the icon on the homepage,

![image](https://user-images.githubusercontent.com/33931153/84964771-8f181e80-b13f-11ea-909e-fb69a1c4ebf7.png)

but it does not affect the icon on the body.

![image](https://user-images.githubusercontent.com/33931153/84964778-93dcd280-b13f-11ea-8

[2020-06-18 10:30] nichtich commented on #596
See [image captions in Pandoc Markdown](https://pandoc.org/MANUAL.html#images): An image such as

    ![Steve Francia](/media/spf13.jpg)

Should be rendered with "Steve Francia" as caption instead of alt text.

[2020-06-18 16:03] anikethsaha opened #1230 "[hook]: New hook"
## Feature request
A new hook to update the content of navbar

#### What problem does this feature solve?
This will be useful as it will support the creating of dynamic navbars, control over the navbar with just markdown.

#### What does the proposed API look like?
Ref Poc https://github.com/docsifyjs/docsify/pull/1229

#### How should this be implemented in your opinion?
https://github.com/docsif

[2020-06-18 17:54] ianjennings commented on #1196
@anikethsaha, I think this can be closed

[2020-06-18 17:56] anikethsaha commented on #1196
Thanks @ianjennings for reminding.

@mafanwei answer here https://github.com/docsifyjs/docsify/issues/1196#issuecomment-633683423

[2020-06-18 17:56] #1196 closed

[2020-06-19 08:00] trusktr commented on #1212
I really don't think we should do this. The native addons increases the chance of people running into build errors. I know from experience using Sass for many projects.

[2020-06-19 08:01] trusktr commented on #1212
Oh wait, the https://www.npmjs.com/package/sass package is pure JS! Then, that's great. It is `node-sass` that is problematic (binding to C version of sass).

[2020-06-19 08:04] trusktr commented on #1167
Awesome! I just realized this. All my issued were with node-sass.

Just curious: is it really worth switching from stylus to sass?

[2020-06-19 08:31] trusktr commented on #1212
Seems we can at least get docsify-themeable into the docsify org or repo, without it being a breaking change. Maybe this can be two issues: one for bringing it in and remaining compatible with v4, and then another for v5 breaking changes.

[2020-06-19 08:33] trusktr commented on #1223
I believe this is a different issue: at the bottom left corner, the hamburger menu icon isn't visible until I scroll the page up.

[2020-06-19 08:38] trusktr commented on #1219
Chrome mobile emulation (in Linux) but not on Android. Hmmmm...

I don't think it was.

[2020-06-19 09:33] jrmaker opened #1231 "英文分号会被渲染成图片"
"10:00:00" 启动服务查看时，英文分号部分显示一个英文小图片，谷歌浏览器会有该问题，在火狐浏览器中，中间两个00 位置会偏下

[2020-06-19 09:34] jrmaker commented on #1231
该问题存在markdown表格中

[2020-06-19 09:39] jrmaker commented on #1231
在markdown的表格中，

[2020-06-19 09:43] jrmaker commented on #1231
|参数|说明|
|:--|:--|
|startTime|"10:00:00"|

“10:00:00” 在谷歌浏览器中，第一个英文分号会被渲染成小图片

版本

[2020-06-19 09:52] anikethsaha commented on #1231
Please translate to English.

[2020-06-19 09:56] sy-records commented on #1231
把`:00:`当成图片渲染了，你这种情况可以使用\`或者`&#58;`来转义`:`

[code]

请用英文提问。

[2020-06-19 09:56] #1231 closed

[2020-06-19 10:17] #1113 closed

[2020-06-19 13:20] jrmaker commented on #1231
think you

[2020-06-19 13:20] jrmaker commented on #1231
Thank you

[2020-06-19 13:20] jrmaker commented on #1231
Thank you

[2020-06-19 14:10] mohammedsahl commented on #1173
Done with fixing the bug. Writing up an integration test right now. I should have a PR out pretty soon

[2020-06-19 15:28] jpkraemer commented on #790
does not work for me either

[2020-06-20 11:53] #1143 closed

[2020-06-20 12:25] sy-records opened #1233 "After setting the background image, the button is obscured"
## Bug Report

#### Steps to reproduce

After setting the background image, the button is obscured, Because of this PR #1215

![image](https://user-images.githubusercontent.com/33931153/85201696-0a422600-b334-11ea-90aa-4753e9b8dd70.png)

hello, @mohammedsahl Can you fix it if you have time?

https://docsify.js.org/#/cover?id=custom-background

#### What is current behaviour

#### What is the expec

[2020-06-20 12:39] mohammedsahl commented on #1233
Sure thing! I'll have a look soon 😊

[2020-06-20 21:43] jhildenbiddle commented on #1167
[postcss-env](https://preset-env.cssdb.org/) is an interesting project. It can replace a preprocessor like Sass but only if the following are true:

1. Maintainer do not require or expect to use the additional features offered by other preprocessors (like Sass)
1. Maintainers accept the likelihood that specific features can and likely will change which can lead to bugs that may or may not be caugh

[2020-06-20 23:05] mohammedsahl commented on #1173
The integration test, as it turns out, needs a bit of fiddling around with cypress. While I can push a fix to this issue I don't wanna do so until an integration test is also included, as implied from #1217. What I'm currently working on is setting up the test suit so that multiple configs can be tested, which in-turn, can help others and myself add new tests as required. I suppose it is going to

[2020-06-20 23:44] jhildenbiddle commented on #1233
Good catch, @sy-records.

The coverpage content is being obscured by the `<div class="mask">` element. This is happening because the mask is rendered *after* the coverpage content, which places it above the coverpage content in the natural stacking order. This can be circumvented by manually setting `z-index` values (as was done previously), but this isn't necessary if elements are just rendered i

[2020-06-20 23:52] jhildenbiddle commented on #1212
@trusktr --

Perhaps I'm misunderstanding the above comment, but we definitely do not want to integrate docsify-themeable--or any code that isn't a critical bug fix or deemed absolutely necessary--with the intention of releasing it as a future v4 of docsify. This goes against the whole idea of stabilizing v4 so we can move on to v5.

[2020-06-21 06:25] trusktr commented on #384
Sorry that you hadn't received a reply since 2018! Your example doesn't use `querySelectorAll`, but it uses `document.querySelector`, and `document` can never be `undefined` while in a browser.

The code itself looks fine.

The project is being more actively maintained lately; feel free to re-open an issue if still needed.

[2020-06-21 06:25] #384 closed

[2020-06-21 06:29] trusktr commented on #494
Sorry that no one replied to you since 2018! The project is being more actively maintained lately.

It is currently a little difficult to modify the underlying source that generates the markup. Maybe we should change to a component-based system that encapsulates markup in each component.

But more back on topic, this is a good feature to add. @anikethsaha @jhildenbiddle Possible to add this in v4?

[2020-06-21 06:40] trusktr commented on #1233
@jhildenbiddle Would you like to make that a PR?

[2020-06-21 06:54] trusktr commented on #481
Seems like this is fully supported. Just set `coverpage` to a file that has markdown (and note, markdown can also contain HTML, so use HTML in the file if you want).

[2020-06-21 06:54] #481 closed

[2020-06-21 07:15] trusktr commented on #289
I think this would be a non-breaking change. Adding it to the 4.x project board. @fnoop thanks for the idea! I would be glad to review a PR if you're interested to add the feature.

I think also we should publish the service worker file so it is consumable, instead of having it embedded inside a [documentation page](https://docsify.js.org/#/pwa?id=offline-mode).

[2020-06-21 07:16] jhildenbiddle commented on #1233
@trusktr --

I added the following to #1212:

I'll break that list into separate PRs once we get rolling on v5. For now, I'm trying to keep the issue "noise" down to a minimum while I'm preparing to triage all of the existing issues.

[2020-06-21 07:16] trusktr commented on #190
This would be good to make configurable as an option that can be passed to service worker. We should make a service worker file be consumable instead of it being embedded in [the docs](https://docsify.js.org/#/pwa?id=offline-mode).

[2020-06-21 07:18] trusktr commented on #483
I believe this is a non-breaking change, so adding it to the 4.x project board.

[2020-06-21 07:25] trusktr commented on #398
This might be a breaking change; adding it to the 5.x board. I don't think people would rely on this to not work, but it could be someone does rely on it on accident (not sure, as I haven't looked at every site using Docsify).

[2020-06-21 07:26] trusktr commented on #386
We've been working on this. Infrastructure is in place. It will get better and better over time.

[2020-06-21 07:26] #386 closed

[2020-06-21 07:29] trusktr commented on #395
I'm not sure what's being asked here. @RensTillmann Can you explain a little more? @jhildenbiddle @anikethsaha any ideas?

[2020-06-21 07:34] trusktr commented on #682
Would the syntax be `[link](/demo.md ':data-zoom-src=image-hd.jpg')`? Note, I used `data-zoom-src` so that it is clearly mapping to the `data-zoom-src` attribute.

[2020-06-21 07:38] trusktr commented on #528
Or in general for SVGs we can make sure that the SVG content takes up full width/height of the SVG, then we can size the SVG itself like any regular block element so as to rely on the CSS size to be intuitive (meaning the CSS size therefore dictates the size of the drawing).

In this case, the drawing is easy to accomplish with HTML/CSS instead of SVG.

:+1:

[2020-06-21 07:39] trusktr commented on #528
Added to 5.x because it could be a breaking change for someone.

[2020-06-21 07:41] trusktr commented on #530
I assume any markup change is a breaking change, so adding this to the 5.x board.

[2020-06-21 07:43] jhildenbiddle commented on #494
Based on the [comments](https://github.com/docsifyjs/docsify/pull/495#issuecomment-390524354) in #495, the decision back in 2018 was to implement this feature as a third-party plugin. I'm guessing that this never happened given that a "skip link" plugin isn't listed on [awesome-docsify](https://github.com/docsifyjs/awesome-docsify).

Accessibility is something we should absolutely consider moving

[2020-06-21 07:46] trusktr commented on #1074
stale bot may make it harder to triage issues if they get closed before we see them. Wdyt?

Now that I've realized this, I need to go check all the closed issues.

[2020-06-21 07:47] trusktr commented on #1074
Regarding the original issue, I think I encountered them, and I refactored this code in my fork. I will make a PR soon...

[2020-06-21 08:02] trusktr commented on #752
I don't see `vueOptions` or `vueData` anywhere. I'm assuming this is a feature request for a new option.

Seems that the current `new window.Vue().$mount('#main')` feature simply allows us to add some HTML like `<div v-for="item in Array.from({length: 10})">` into the page, but not much else. It is fairly useless without data (besides the simple looping to make duplicating things easier).

The cod

[2020-06-21 10:09] dialex opened #1235 "Improved SEO (meta tags support)"
## Feature request

#### What problem does this feature solve?

It improves SEO of pages generated by Docsify. It makes it easier for search engines to find the relevant content, and when a user shares a link to a Docsify page, the rendered preview is more accurate (title, description and image).

Example (diff pages, same SEO 😢 ):

<img width="316" alt="Screenshot 2020-06-20 at 22 12 05" src="htt

[2020-06-21 12:05] MichaelCurrin commented on #982
Sorry this was at the back of my mind. I'll still do the PR discussed above for the enable scripts approach and my alt approach

[2020-06-21 13:06] MichaelCurrin commented on #982
I'll get it in today

[2020-06-21 17:31] trusktr commented on #211
This would involve adding a whole new parser/renderer. We are working to clean up the code base, and eventually once things are organized and decoupled enough so that non-markdown features aren't mixed with markdown features, then we can add new renderers.

It shouldn't be too hard to do: send the input out, receive the HTML back, then proceed like before.

[2020-06-21 17:31] trusktr commented on #211
I put this in the 4.x branch because I think this can technically be created without being a breaking change, behind an option.

[2020-06-21 17:34] trusktr commented on #702
I'm not sure exactly what you meant by this (and sorry for such a long time with no reply), but there is an issue for re-vamping the sidebar and making all sections collapsible: https://github.com/docsifyjs/docsify/issues/1180. I think this would cover any cleanup you mentioned.

[2020-06-21 17:34] #702 closed

[2020-06-21 17:37] anikethsaha commented on #211
I am -1 for this as we got some similar requests for other extensions as well.

We cant cover all request. I would prefer some custom tool to convert the other extension to `.md` and then send them to documentation folder where docsify is being used.

[2020-06-21 17:40] trusktr commented on #136
Yeah! I think we can get the vast majority of plugins working with JSDom in the mix. We run the renderer for each page, call the same plugin hooks, then take a snapshot. If a plugin needed to add a DOM event handler it won't matter for example. Some plugins might like to programmatically modify the DOM, which should be fine if it is done synchronously.

There might be plugins that work asynchronou

[2020-06-21 17:43] trusktr commented on #136
@anikethsaha @jhildenbiddle I think we can achieve static site generation as a non-breaking change using the current `docsify-server-renderer` package. We just need to add some code to automatically run each page through the `renderToString` method. It can be a semver-minor update.

Then for a breaking change, once we re-vamp plugins to make them more robust and to allow them to work on both sides

[2020-06-21 17:51] trusktr commented on #780
Shouldn't this be in the 4.x project board?

[2020-06-21 17:56] trusktr commented on #779
@sy-records handled this in https://github.com/docsifyjs/docsify/pull/1188

If we want to improve on it (f.e. make a bot to keep it updated, etc) let's open new issues for each update.

[2020-06-21 17:57] trusktr commented on #761
Closing this in favor of #136.

[2020-06-21 17:57] #761 closed

[2020-06-21 18:00] trusktr commented on #799
This would be great! Instead of relying on clobals, we could change the setup process to be something like this:

[code]

so that we can mount it anywhere.

And even better yet, `Docsify` can itself be a Custom Element, so we do this:

[code]

and be in line with the future of web!

[2020-06-21 18:00] trusktr commented on #799
Added to the 5.x project board (it would be a breaking change).

[2020-06-21 18:08] trusktr commented on #799
On second thought, with the refactors that I recently did to move `Docsify` into its own file that has no side-effect of automatically loading Docsify into the DOM (see `src/core/Docsify.js`), I can imagine a simple way to do this initially as a non-breaking change (no custom element in this case), so I'll put it in 4.x.

Basically, we just tell Rollup to compile an additional bundle using `src/co

[2020-06-21 18:09] trusktr commented on #804
The above is too difficult to do. This will be addressed as a non-breaking change in https://github.com/docsifyjs/docsify/issues/799

[2020-06-21 18:09] #804 closed

[2020-06-21 18:11] trusktr commented on #806
We can achieve this as a non-breaking change, behind a new option. Adding to the 4.x project board for tracking.

[2020-06-21 19:13] matsu4ki opened #1236 "can't deploy to netlify with the help of the tutorial"
## Bug Report

#### Steps to reproduce

Followed the tutorial to deploy to Netlify.
[docsify-Netlify](https://docsify.js.org/#/deploy?id=netlify)

#### What is current behaviour

can't deploy on Netlify.

#### What is the expected behaviour

can deploy on Netlify with tutorials.

#### Other relevant information

I could deploy when I targeted directory.

![image](https://user-images.githubusercont

[2020-06-21 19:14] jhildenbiddle commented on #1222
I believe @mafanwei is referring to the fact that docsify wraps heading text in an `<a>` tag and as a result screen readers incorrectly describe headings as links:

[code]

The issue is that there is no way for screen reader users to distinguish between regular links used for navigation and these special-purpose anchor links (which when clicked update the URL and scroll the page). There are better

[2020-06-21 20:46] MichaelCurrin commented on #982
Added! :tada: :memo:

[2020-06-21 20:48] jhildenbiddle commented on #1218
Closing this issue since Projects have been updated and the triage is underway.

[2020-06-21 20:48] #1218 closed

[2020-06-21 22:08] jhildenbiddle commented on #1219
FWIW, I'm not seeing this behavior on iOS (real device) or the Chrome emulator.

@trusktr -- Are you looking at docsify.js.org (v4.11.4)? I ask because the screenshots show 4.11.3.

[2020-06-21 22:17] jhildenbiddle commented on #395
@RensTillmann --

Can you elaborate on how you would use this feature? I understand the basic idea of what you're asking for, but I'm unsure if you want this behavior in the sidebar, the main navigation, to content area, or anywhere in the site.

[2020-06-21 22:48] jhildenbiddle commented on #136
I'm guessing you probably already know what I'm going to say... :wink:

My vote would be to move to v5 for the following reasons:

1. SSR is a big feature for docsify. From a messaging perspective, we'll get more traction stating that SSR is now available in the *NEW* version of docsify than we will from tacking it on as a minor release to v4.
1. SSR will likely take a significant amount of time t

[2020-06-21 23:52] jhildenbiddle commented on #780
Yep. Done. 😄

[2020-06-22 08:19] wangck-uhome opened #1239 "how to change entry file (index.html)?"
for some reasons , I have to change entry file, for explem doc.html

[2020-06-22 08:32] anikethsaha commented on #1239
Please Fill the template

[2020-06-22 09:35] sy-records commented on #1239
`index.html` is the general sense of "home", if you need to modify, you can deploy in the VPS, modify the `index`

https://docsify.js.org/#/deploy?id=vps

[code]

[2020-06-22 09:35] #1239 closed

[2020-06-22 10:05] alexellis opened #1240 "The display looks broken on our docsify site"
## Bug Report

Hi, the display looks broken on our docsify site and I'm not really sure what happened.

#### Steps to reproduce

The source is here, and deployed via GitHub pages:

https://github.com/inlets/docs

#### What is current behaviour

![Screenshot 2020-06-22 at 11 01 37](https://user-images.githubusercontent.com/6358735/85275246-fa335f00-b477-11ea-8b82-020fd7496409.png)

The logo is out

[2020-06-22 16:59] #1236 closed

[2020-06-22 17:22] anikethsaha commented on #1240
Thanks for the report, can you check with version `4.11.3` ?

[2020-06-22 17:40] #982 closed

[2020-06-23 02:01] tonglei100 opened #1242 "how to set the width of table's cell?"
## Feature request

#### What problem does this feature solve?

I want to set the with of table's cell, for beautiful

#### What does the proposed API look like?

the minimum with is equal to the second row‘s ’----‘ with at least

#### How should this be implemented in your opinion?

set the minimum with as the  second row‘s ’----‘ with

#### Are you willing to work on this yourself?
no, I'm not

[2020-06-23 05:47] jhildenbiddle commented on #1240
Hey @alexellis --

This is a docsify issue, although it is one that only appears when 1) coverpage content scales with the browser viewport and 2) when the browser window is sized disproportionately wide or tall. In your case, you have a large logo image that is set to `width: 50%` and a browser sized considerably wider than it is tall.

Two paths forward:

1. Apply a `max-width` value to your log

[2020-06-23 08:52] anikethsaha commented on #1235
Interesting thought. Thanks for the detailed issue.

yeah we can do this, though I would implement this as this

[code]
these will create new meta tags and append it at the end of the head
or something like

[code]
and this will simply append at the end.

would love to hear others suggestions.

[2020-06-23 08:58] dialex commented on #1235
And would be able to add that `$docsify= { ...}` snippet on `.md` files, and thus customise it per page?
Or does that apply only to the `index.html` file, where we declare and configure Docsify?

I would prefer the former :)

[2020-06-23 09:11] anikethsaha commented on #1235
umm, yea I missed this that would be implied to an only single page,

We need some discussion about the approach or perhaps a PoC,

cc @docsifyjs/core

[2020-06-23 09:14] sy-records commented on #1235
should be supported by every md file, `index.html` gives a default configuration, each file can be customized separately.

[2020-06-23 09:18] anikethsaha commented on #1235
We need to read the meta data from the markdown file then.

[code]

but this has an issue, our markdown parser I guess doesn't explicitly tells that whether they are markdown metadata or not.
also, this needs to be sent to the template generation method and I think the template is generated first, and then the markdown is being compiled, (not sure about this. ) but if this is the case then we need

[2020-06-23 09:25] sy-records commented on #1235
Yes, we may need to use a regular to match, similar to the emoji matching `:100:`.

[2020-06-23 13:59] Koooooo-7 commented on #1235
I think we need make docsify configurations in content have the specific prefix  or symbol  ， such as `{docsify- xxx}`   to make those features.
If we still use the regex or something to **match** targets,  it would be conflict with some syntax one day.it is unpredictable.

[code]
this way seems incompatible with the yaml font matter (#1129).

[2020-06-23 16:33] #1210 closed

[2020-06-23 16:58] RensTillmann commented on #395
Hi, @trusktr @jhildenbiddle @anikethsaha I asked about this back in February 2018 (time goes too fast), back then I had not much understanding (nor used it) of what "Markdown" really was. Now I do, this question/feature request might actually not be so much related to Docsify at all, but more to the Markdown language itself. However I do not know how Docsify works under the hood, and if it might a

[2020-06-23 17:11] #780 closed

[2020-06-24 16:11] aemmadi opened #1244 "Some Website Links Redirect To 404 Not Found Page"
## Bug Report
Links on website give a `404 Not Found Error`

#### Steps to reproduce
The links I found that have the issue:

[https://docsify.js.org/#/contributing](https://docsify.js.org/#/contributing)

[https://docsify.js.org/#/license](https://docsify.js.org/#/license)

#### What is current behaviour
Renders the `404 Not Found` page.

#### What is the expected behaviour
Render the appropriate

[2020-06-24 21:58] trusktr commented on #1173
I'm am very in favor of waiting to merge any current and new PRs have unit and integration tests are in place. It is well-worth the wait IMO.

I just thought about this, and it occurred to me that maybe it would be a breaking change actually. Maybe we should only not show the content below the cover, but we should keep the menu. Any thoughts @jhildenbiddle? Should we put this in 4.x or 5.x?